!!!
%html
  %head
    %title=yield(:title)
    = favicon_link_tag 'Favicon2.png'
    = stylesheet_link_tag "errors", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700"
    %body 
      .error-page
        .c.logo
          =image_tag 'logo.png', alt: "Modera.co"
        %p.c
          = image_tag '500.png', alt:''
        %h1.c 500
        %p.c
          We're sorry, but something went wrong.

        -content_for :title,  "We're sorry, but something went wrong."
