!!!
%html
  %head
    %title=yield(:title)
    = favicon_link_tag 'Favicon2.png'
    = stylesheet_link_tag "errors", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700"
    %body  
      .error-page
        .c.logo
          =image_tag 'logo.png', alt: "Modera.co"
        %p.c
          = image_tag '404.png', alt:''
        %h1.c 404
        %p.c
          The page you were looking for doesn't exist. You may have 
          %br/
          mistyped the address or the page may have moved.

        -content_for :title,  "The page you were looking for doesn't exist."
