.page-header
  %h1 Edit bot challenges bots' behaviour settings

= form_tag admin_bot_challenges_bot_settings_path, method: :put, class: 'form-horizontal' do
  -#= error_messages_for 'bot_challenges_bot_setting'
  = label_tag "bot_challenges_bot_setting[max_time]", 'max_time'
  = text_field_tag "bot_challenges_bot_setting[max_time]", @bot_challenges_bot_setting.max_time
  = label_tag "bot_challenges_bot_setting[min_number]", 'min_number'
  = text_field_tag "bot_challenges_bot_setting[min_number]", @bot_challenges_bot_setting.min_number
  = label_tag "bot_challenges_bot_setting[max_number]", 'max_number'
  = text_field_tag "bot_challenges_bot_setting[max_number]", @bot_challenges_bot_setting.max_number
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_bot_challenges_bot_settings_path, class: 'btn'