.page-header
  %h1 Bots' settings for bot challenges

- Settings.bot_challenges_bots.each do |name, value|
  %p= "#{name}: #{value}"

.form-actions
  = link_to 'Edit', edit_admin_bot_challenges_bot_settings_path, class: 'btn'
  = link_to 'Back', admin_bot_settings_path, class: 'btn'