.page-header
  %h1 Edit follow back bots settings

= form_tag admin_follow_back_settings_path, method: :put, class: 'form-horizontal' do
  -#= error_messages_for 'follow_back_setting'
  = label_tag "follow_back_setting[min_percent]", 'min_percent'
  = text_field_tag "follow_back_setting[min_percent]", @follow_back_setting.min_percent
  = label_tag "follow_back_setting[max_percent]", 'max_percent'
  = text_field_tag "follow_back_setting[max_percent]", @follow_back_setting.max_percent
  = label_tag "follow_back_setting[min_time]", 'min_time'
  = text_field_tag "follow_back_setting[min_time]", @follow_back_setting.min_time
  = label_tag "follow_back_setting[max_time]", 'max_time'
  = text_field_tag "follow_back_setting[max_time]", @follow_back_setting.max_time
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_follow_back_settings_path, class: 'btn'