.page-header
  %h1 Settings for follow back

- Settings.follow_back_bots.each do |name, value|
  %p= "#{name}: #{value}"

.form-actions
  = link_to 'Edit', edit_admin_follow_back_settings_path, class: 'btn'
  = link_to 'Back', admin_bot_settings_path, class: 'btn'