.page-header
  %h1 Edit challenges bots' behaviour settings

= form_tag admin_challenges_bot_settings_path, method: :put, class: 'form-horizontal' do
  -#= error_messages_for 's', object: @periods
  - @periods.each_with_index do |period, i|
    %p= "Period #{i+1}"
    = label_tag "periods[period#{i+1}][min_time]", 'min_time'
    = text_field_tag "periods[period#{i+1}][min_time]", period.min_time
    = label_tag "periods[period#{i+1}][max_time]", 'max_time'
    = text_field_tag "periods[period#{i+1}][max_time]", period.max_time
    = label_tag "periods[period#{i+1}][min_unvotes]", 'min_unvotes'
    = text_field_tag "periods[period#{i+1}][min_unvotes]", period.min_unvotes
    = label_tag "periods[period#{i+1}][max_unvotes]", 'max_unvotes'
    = text_field_tag "periods[period#{i+1}][max_unvotes]", period.max_unvotes
    = label_tag "periods[period#{i+1}][min_votes]", 'min_votes'
    = text_field_tag "periods[period#{i+1}][min_votes]", period.min_votes
    = label_tag "periods[period#{i+1}][max_votes]", 'max_votes'
    = text_field_tag "periods[period#{i+1}][max_votes]", period.max_votes
  - @bot_periods.each_with_index do |period, i|
    %p= "Bot period #{i+1}"
    = label_tag "bot_periods[bot_period#{i+1}][min_time]", 'min_time'
    = text_field_tag "bot_periods[bot_period#{i+1}][min_time]", period.min_time
    = label_tag "bot_periods[bot_period#{i+1}][max_time]", 'max_time'
    = text_field_tag "bot_periods[bot_period#{i+1}][max_time]", period.max_time
    = label_tag "bot_periods[bot_period#{i+1}][min_unvotes]", 'min_unvotes'
    = text_field_tag "bot_periods[bot_period#{i+1}][min_unvotes]", period.min_unvotes
    = label_tag "bot_periods[bot_period#{i+1}][max_unvotes]", 'max_unvotes'
    = text_field_tag "bot_periods[bot_period#{i+1}][max_unvotes]", period.max_unvotes
    = label_tag "bot_periods[bot_period#{i+1}][min_votes]", 'min_votes'
    = text_field_tag "bot_periods[bot_period#{i+1}][min_votes]", period.min_votes
    = label_tag "bot_periods[bot_period#{i+1}][max_votes]", 'max_votes'
    = text_field_tag "bot_periods[bot_period#{i+1}][max_votes]", period.max_votes
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_challenges_bot_settings_path, class: 'btn'