.page-header
  %h1 Bots' settings for challenges

- Settings.challenges_bots.periods.each do |k, v|
  %strong= k
  - v.each do |name, value|
    %p= "#{name}: #{value}"
- Settings.challenges_bots.bot_periods.each do |k, v|
  %strong= k
  - v.each do |name, value|
    %p= "#{name}: #{value}"

.form-actions
  = link_to 'Edit', edit_admin_challenges_bot_settings_path, class: 'btn'
  = link_to 'Add period', new_admin_challenges_bot_setting_path, class: 'btn'
  = link_to 'Destroy last period', admin_challenges_bot_settings_path(scope: 'real'), method: :delete, class: 'btn'
  = link_to 'Destroy last bots period', admin_challenges_bot_settings_path(scope: 'bots'), method: :delete, class: 'btn'
  = link_to 'Back', admin_bot_settings_path, class: 'btn'