.page-header
  %h1 Add challenges bots' behaviour settings time period

= form_tag admin_challenges_bot_settings_path, class: 'form-horizontal' do  
  -#= error_messages_for 'challenges_bot_setting'
  = label_tag 'challenges_bot_setting[bots]', 'bots'
  = check_box_tag 'challenges_bot_setting[bots]', true, @challenges_bot_setting.bots
  = label_tag 'challenges_bot_setting[min_time]', 'min_time'
  = text_field_tag 'challenges_bot_setting[min_time]', @challenges_bot_setting.min_time
  = label_tag 'challenges_bot_setting[max_time]', 'max_time'
  = text_field_tag 'challenges_bot_setting[max_time]', @challenges_bot_setting.max_time
  = label_tag 'challenges_bot_setting[min_unvotes]', 'min_unvotes'
  = text_field_tag 'challenges_bot_setting[min_unvotes]', @challenges_bot_setting.min_unvotes
  = label_tag 'challenges_bot_setting[max_unvotes]', 'max_unvotes'
  = text_field_tag 'challenges_bot_setting[max_unvotes]', @challenges_bot_setting.max_unvotes
  = label_tag 'challenges_bot_setting[min_votes]', 'min_votes'
  = text_field_tag 'challenges_bot_setting[min_votes]', @challenges_bot_setting.min_votes
  = label_tag 'challenges_bot_setting[max_votes]', 'max_votes'
  = text_field_tag 'challenges_bot_setting[max_votes]', @challenges_bot_setting.max_votes
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_challenges_bot_settings_path, class: 'btn'