= form_for [:admin, @static_contest_history], class: 'form-horizontal' do |f|
  = f.label :title
  = f.text_field :title, style: 'width: 800px;'
  / = f.label :permalink
  / = f.text_field :permalink, style: 'width: 800px;'
  = f.label :image
  = f.file_field :image
  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @static_contest_history], class: 'btn'