.page-header
  %h1 Static contest histories

%div
  = paginate @static_contest_histories
  
= link_to 'Add', new_admin_static_contest_history_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Permalink
      %th Created at 
      %th &nbsp;
  %tbody
    - @static_contest_histories.each do |static_contest_history|
      %tr
        %td= link_to static_contest_history.title, [:admin, static_contest_history]
        %td= static_contest_history.permalink
        %td= static_contest_history.created_at.to_s(:simple_date_time)
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to '', edit_admin_static_contest_history_path(static_contest_history), class: 'btn btn-mini icon-pencil'
            %div.btn-group
              = link_to '', [:admin, static_contest_history], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'