.page-header
  %h1 Static contest history content

%p
  %strong Title:
  %br
  = @static_contest_history.title
%p
  %strong Permalink:
  %br
  = @static_contest_history.permalink
%p
  %strong Image:
  %br
  = image_tag @static_contest_history.image_url(:thumb)
  = image_tag @static_contest_history.image_url

.form-actions
  = link_to 'Back', admin_static_contest_histories_path, class: 'btn'
  = link_to 'Edit', edit_admin_static_contest_history_path(@static_contest_history), class: 'btn'
  = link_to 'Destroy', [:admin, @static_contest_history], method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
