- if request.xhr?
  .b-modal
    .login.c
      .logo.c
        = image_tag "modera.png", :alt=>'Modera.co'
      %h2 Login

      .social-action
        = link_to image_tag("facebook.png", :alt=>'Login via Facebook', :class=>'nomrg'), user_omniauth_authorize_path(:facebook), class: 'item disinbl nopad nomrg'
        = link_to image_tag("twitter.png", :alt=>'Login via Twitter', :class=>'nomrg'), user_omniauth_authorize_path(:twitter), class: 'item disinbl nopad nomrg'
        = link_to image_tag("instagram.png", :alt=>'Login via Instagram', :class=>'nomrg'), user_omniauth_authorize_path(:instagram), class: 'item disinbl nopad nomrg'

      .or.ttu or

      = form_for resource, as: resource_name, url: user_session_path, remote: true do |f|
        .errorMessage.classic{data: {bind: "visible: error"}}
          %span{data: {bind: 'text: error'}}
        = f.text_field :login, class: 'username', placeholder: 'Login'
        = f.password_field :password, placeholder: 'Password', class: 'password'
        = f.submit 'Sign in', class: 'btn-2'
        

      %a.disinbl{href: '#', data: {bind: "visible: !showHideStatus(), click: showForm" } } Forgot Password?
      .forgotYourPassword{data: {bind: "visible: showHideStatus" }}
        .errorMessage.classic.success{data: {bind: 'visible: show_password_message()'}} Instructions sent to your email.
        = form_for(resource, as: resource_name, url: user_password_path,remote: true, html: {id: 'restore_password_form', data: {bind: 'visible: !show_password_message()'}}) do |f|
          .errorMessage.classic{data: {bind: "visible: password_error"}}
            %span{data: {bind: 'text: password_error'}}
          %label
            Your Email specified at registration
            = f.email_field :email, class: 'username', placeholder: 'Email'
          .c
            = f.submit 'Send', class: 'btn-2'

- else
  = render 'shared/welcome'
  :javascript
    jQuery(function() {
      $('.signin-modal-trigger').click();
    });
