<div class="w-nav profile-menu right">
	
</div>
<div class="w-nav profile-menu left">
	<div class="message-block disnone">
		<div class="success fs14 thin disnone">
			<i class="moderaIcons">/</i> <span>Photo successfully uploaded</span>
		</div>
		<div class="error fs14 thin disnone">
			<i class="m">×</i> <span>Photo unsuccessfully uploaded</span>
		</div>
	</div>

	<div class="buttonsBlock">
		
	</div>
</div>