.page-header
  %h1 Bots' settings

%h3= link_to 'Photos behaviour', admin_photos_bot_settings_path
%h3= link_to 'Challenges', admin_challenges_bot_settings_path 
%h3= link_to 'Contests', admin_contests_bot_settings_path 
%h3= link_to 'Bots challenges', admin_bot_challenges_bot_settings_path 
%h3= link_to 'Home activity', admin_home_activity_settings_path 
%h3= link_to 'Follow back', admin_follow_back_settings_path 
