= form_tag admin_omniauth_keys_path, method: :post, class: 'form-horizontal' do  
  -#= error_messages_for 'omniauth_key'
  = label_tag 'provider', 'Provider *'
  = text_field_tag 'omniauth_key[provider]', @omniauth_key.provider
  = label_tag 'app_token', 'App token *'
  = text_field_tag 'omniauth_key[app_token]', @omniauth_key.app_token
  = label_tag 'app_token_secret', 'App token secret *'
  = text_field_tag 'omniauth_key[app_token_secret]', @omniauth_key.app_token_secret
  = label_tag 'auth', 'Auth'
  = check_box_tag 'omniauth_key[auth]', true, @omniauth_key.auth
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_omniauth_keys_path, class: 'btn'