.page-header
  %h1 Omniauth keys settings

= link_to 'Add', new_admin_omniauth_key_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Provider
      %th App token
      %th App token secret
      %th Auth
      %th &nbsp;
  %tbody
    - @omniauth_keys.each do |key, value|
      %tr
        %td= value[:provider]
        %td= value[:app_token]
        %td= value[:app_token_secret]
        %td= value[:auth]
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to '', edit_admin_omniauth_key_path(value[:provider]), class: 'btn btn-mini icon-settings'
            %div.btn-group
              = link_to '', admin_omniauth_key_path(value[:provider]), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'