<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= @prefix %>">
    <meta property="fb:app_id" content="<%= Settings.omniauth_keys.Facebook.app_token %>" /> 
    <meta property="og:type"   content="<%= @type %>" /> 
    <meta property="og:url"    content="<%= @url %>" /> 
    <meta property="og:title"  content="<%= @title %>" /> 
    <meta property="og:image"  content="<%= @image %>" /> 
    <% if @message %>
    <meta property="og:message"  content="<%= @message %>" /> 
    <% end %>
    <% @meta_tags ||= []
    @meta_tags.each do |property, content| %>
    <meta property="<%= property %>"  content="<%=content%>" /> 
    <% end %>
  </head>
  <body>
    <div></div>    
    <script type="text/javascript">//<![CDATA[
        location.href = "<%= @redirect_url %>";//]]></script>
  </body>
</html>
