<div class="width">
	<div class="nav-lp right">
		<b class="textTransUpper curpoint signin-link m">Login</b>
		<div class="btn active join-link">Join to Modera</div>
	</div>
	<a href="/" class="logo left"><img alt="Modera.co"
		src="<%=url%>assets/logo.png"/></a>
</div>