= hidden_field_tag 'tag_name', params[:tag]
%div{id: 'home_page', style: 'height: 100%'}
  .header-lvl2{data: {bind: 'with: search_result'}}
    .width
      %ul.tabs
        %li
          %span.stconhash{id: 'versuses', data: {bind: "css: {active: current_tab() == 'versuses'}, click: switch_tab"}} Special contest
        %li
          %span.phview{id: 'photos', data: {bind: "css: {active: current_tab() == 'photos'}, click: switch_tab"}} Photos view
      /photos
      .number.right{data: {bind: "text: photos_count() + ' photos', visible: current_tab() == 'photos'"}}
      .searchtag.left.overhide.ttu
        = link_to "##{params[:tag]}", "/hashtag_contests/#{params[:tag]}/hall_of_fame"
        %br/
        %span.right
          %b{data: {bind: "text: users_count"}} 12k
          members
        %span go to hall of fame
      /vs
      .contest-owner.right{data: {bind: "visible: current_tab() == 'versuses'"}}
        .btn-2.left.disnone{onclick: "$('#hashtag_settings').arcticmodal();"} Options
        .owner.left.overhide{data: {bind: 'with: owner'}}
          %a.userpic{data: {bind: "attr: {href: '/profiles/' + username}"}}
            = image_tag 'samples/username_pic.png', class: 'left', data: {bind: "attr: {src: avatar}"}, width: '42', height: '42'
            %span.username{data: {bind: "text: name"}}
          %span.ttu Contest Owner
        

  .nano{data: {bind: 'with: search_result'}}
    .content{id: 'battle_content', data: {bind: "event: {scroll: scroll}"}}
      .wrapper.width
        /photos
        .photos-view
          %ul{data: {bind: "visible: current_tab() == 'photos', foreach: photos"}}
            %li
              .participant.l
                .timeline.right{data: {bind: 'text: created_at'}}
                %a.userpic{data: {bind: "attr: {href: '/profiles/' + user.username}"}}
                  = image_tag 'samples/username_pic.png', data: {bind: 'attr: {src: user.avatar}'}, width: 42, height: 42
                %a.username{data: {bind: "attr: {href: '/profiles/' + user.username}, text: user.name"}}
                .photo
                  %a.photoframe{data: {bind: "attr: {href: '/profiles/' + user.username + '/photos/' + id}"}}
                    = image_tag 'samples/contest_photo.png', :width=>'450', :height=>'450', data: {bind: 'attr: {src: image}'}
        /vs
        .battle-list{data: {bind: "visible: current_tab() == 'versuses', foreach: versuses"}}
          .battle.overhide
            .pic-block.overhide
              .vs
              .participant.right
                .timeline.right{data: {bind: "text: opponent_photo().created_at"}}
                %a.userpic{data: {bind: "attr: {href: '/profiles/' + photo().user.username}"}}
                  = image_tag 'samples/username_pic.png', :width=>'42', :height=>'42', data: {bind: "attr: {src: opponent_photo().user.avatar}"}
                %a.username{data: {bind: "text: opponent_photo().user.name, attr: {href: '/profiles/' + opponent_photo().user.username}"}}
                .photo
                  .photoframe
                    %input{:type=>'image', :src=>'/assets/like_star.png', data: {bind: "click: vote_opponent_photo"}}
                    = image_tag 'samples/contest_photo.png', data: {bind: "attr: {src: opponent_photo().image}"}
                %input.btn-2.vote.marg{type: 'submit', value: 'Vote', data: {bind: "click: vote_photo, css: {hover: photo().voted()}"}} 
                %span.btn-2.comment.marg{data: {bind: "click: opponent_photo().show_comments"}} Comments
                %span.btn-2.more{data: {bind: 'click: opponent_photo().showMore, css: {hover: opponent_photo().showHideStatus}'}} More

              .participant.left
                .timeline.right{data: {bind: "text: photo().created_at"}}
                %a.userpic{data: {bind: "attr: {href: '/profiles/' + photo().user.username}"}}
                  = image_tag 'samples/username_pic.png', :width=>'42', :height=>'42', data: {bind: "attr: {src: photo().user.avatar}"}
                %a.username{data: {bind: "text: photo().user.name, attr: {href: '/profiles/' + photo().user.username}"}}
                .photo
                  .photoframe
                    %input{:type=>'image', :src=>'/assets/like_star.png', data: {bind: "click: vote_photo"}}
                    = image_tag 'samples/contest_photo.png', data: {bind: "attr: {src: photo().image}"}
                %input.btn-2.vote.marg{type: 'submit', value: 'Vote', data: {bind: "click: vote_photo, css: {hover: photo().voted()}"}} 
                %span.btn-2.comment.marg{data: {bind: "click: photo().show_comments"}} Comments
                %span.btn-2.more{data: {bind: 'click: photo().showMore, css: {hover: photo().showHideStatus}'}} More

            .comment-block

              .item.right
                %div{data: {bind: "visible: !opponent_photo().showHideStatus()"}}
                  .likes{data: {bind: "visible: opponent_photo().last_voters().length > 0"}}
                    %span.curpoint{data: {bind: "click: load_voters_opponent_photo"}}
                    %div{data: {bind: "foreach: opponent_photo().last_voters"}}
                      %a{data: {bind: "attr: {href: '/profiles/' + username}, text: name"}}
                      / ko if: $index() == $parent.opponent_photo().last_voters().length - 1
                      %b.curpoint{data: {bind: "visible: $parent.opponent_photo().show_count(), click: $parent.load_voters_opponent_photo, text: '... see all ' + $parent.opponent_photo().voters_count() + ' voters'"}}
                      / /ko
                  .likes{data: {bind: "visible: opponent_photo().last_voters().length == 0"}}
                    %span
                    No voters
                  .comments{data: {bind: "with: opponent_photo().comment, visible: opponent_photo().comment() != null"}}
                    %a.username{data: {bind: "attr: {href: '/profiles/' + user.username}, text: user.name"}}
                    %p{data: {bind: "html: comment"}}
                  .comments{data: {bind: "visible: opponent_photo().comment() == null"}} No comments
                  %a.all-comments{:href=>'#', data: {bind: "text: 'See all ' + $data.opponent_photo().comments_count() + ' comments', click: opponent_photo().show_comments, visible: opponent_photo().comment() != null"}}

                .action-list.c{data: {bind: "visible: opponent_photo().showHideStatus"}}                    
                  .successmodal{style: 'display: none'}
                    .message{data: {bind: "text: $root.home().modal_message"}}
                  %ul.more
                    %li
                      %a.share-more{data: {bind: "attr: {href: '/photos/' + opponent_photo().id + '/share'}"}} share photo
                    %li
                      %a.copy-share{data: {bind: "attr: {href: '/profiles/' + opponent_photo().user.username + '/photos/' + opponent_photo().id}, click: opponent_photo().copy_url"}} copy share url
                    %li{data: {bind: "visible: current_user().username != opponent_photo().user.username"}}
                      %input.report{:type=>'submit', value: 'report inappropriate', data: {bind: "click: opponent_photo().inappropriate, enable: !opponent_photo().inappropriated()"}} 
                    / %li
                    /   %a.send-email{:href=>'#'} email photo

              .item.left
                %div{data: {bind: "visible: !photo().showHideStatus()"}}
                  .likes{data: {bind: "visible: photo().last_voters().length > 0"}}
                    %span.curpoint{data: {bind: "click: load_voters_photo"}}
                    %div{data: {bind: "foreach: photo().last_voters"}}
                      %a{data: {bind: "attr: {href: '/profiles/' + username}, text: name"}}
                      / ko if: $index() == $parent.photo().last_voters().length - 1
                      %b.curpoint{data: {bind: "visible: $parent.photo().show_count(), click: $parent.load_voters_photo, text: '... see all ' + $parent.photo().voters_count() + ' voters'"}}
                      / /ko
                  .likes{data: {bind: "visible: photo().last_voters().length == 0"}}
                    %span
                    No voters
                  .comments{data: {bind: "with: photo().comment, visible: photo().comment() != null"}}
                    %a.username{data: {bind: "attr: {href: '/profiles/' + user.username}, text: user.name"}}
                    %p{data: {bind: "html: comment"}}
                  .comments{data: {bind: "visible: photo().comment() == null"}} No comments
                  %a.all-comments{:href=>'#', data: {bind: "text: 'See all ' + $data.photo().comments_count() + ' comments', click: photo().show_comments, visible: photo().comment() != null"}}

                .action-list.c{data: {bind: "visible: photo().showHideStatus"}}                    
                  .successmodal{style: 'display: none'}
                    .message{data: {bind: "text: $root.home().modal_message"}}
                  %ul.more
                    %li
                      %a.share-more{data: {bind: "attr: {href: '/photos/' + photo().id + '/share'}"}} share photo                    
                    %li
                      %a.copy-share{id: 'd_clip_button', data: {bind: "attr: {href: '/profiles/' + photo().user.username + '/photos/' + photo().id}, click: photo().copy_url"}} copy share url
                    %li{data: {bind: "visible: current_user().username != photo().user.username"}}
                      %input.report{:type=>'submit', value: 'report inappropriate', data: {bind: "click: photo().inappropriate, enable: !photo().inappropriated()"}} 
                    / %li
                    /   %a.send-email{:href=>'#', onclick: "$('#email_photo').arcticmodal()"} email photo
                    /   .disnone
                    /     .b-modal{id: 'email_photo'}
                    /       .popup
                    /         .back.b-modal_close.arcticmodal-close
                    /           %h2 Email photo
                    /         %form{:action=>'#'}
                    /           %textarea{:placeholder=>'Comma separated email addresses', :tabindex=>'1', :rows=>'5'}
                    /           .c
                    /             %span.btn-2.marg.b-modal_close.arcticmodal-close Cancel
                    /             %input.btn-2.marg{:type=>'Submit', :value=>'Send'}

        .faceplate.c.hash-contest{data: {bind: "visible: show_pane()"}}
          %span{data: {bind: "text: 'There are no ' + (current_tab() == 'photos' ? 'photos' : 'contests') + ' for this hashtag :('"}}
= render 'home/comments'
.disnone
  .b-modal{id: 'hashtag_settings'}
    .popup      
      .back.b-modal_close.arcticmodal-close.overhide
        %h2 #hashtag settings
      %h3.nomrg{style: 'border-top:1px solid #ccc; padding-top:10px'} share with friends
      %p Call your friends to take a part in your personal #contest
      %div
        %a.modera-share.facebook.disinbl{href: '#'}
        %a.modera-share.twitter.disinbl{href: '#'}
        %a.modera-share.tumblr.disinbl{href: '#'}
        %a.modera-share.instagram.disinbl{href: '#'}
        %a.modera-share.web.disinbl{href: '#'}
      .list-item
        .item
          Receive notifications
          %form.onoffswitch.right{:action=>'#'}
            %input{:type=>'checkbox', :id=>'receiveNotifications', :class => 'onoffswitch-checkbox'}
            %label.onoffswitch-label{:for=> "receiveNotifications"}
              .onoffswitch-inner
                .onoffswitch-active ON
                .onoffswitch-inactive OFF
              .onoffswitch-switch ||||

.disnone
  .b-modal{id: 'voters_list'}
    .popup
      .b-modal_close.arcticmodal-close
      %h2 Voters
      .nano{data: {bind: "with: home().selected_photo"}}
        .content{data: {bind: "event: {scroll: $root.challenge().scroll_voters_list}"}}
          %ul.user-list.clear{data: {bind: 'foreach: $root.home().voters_list'}}
            %li
              %span.right.btn-2.marg{data: {bind: "text: is_following() ? 'Unfollow' : 'Follow', click: follow_unfollow"}} Follow
              %a.left{data: {bind: "attr: {href: '/profiles/' + username}"}}
                = image_tag 'samples/username_pic.png', :alt=>'username', width: 42, height: 42, data: {bind: "attr: {src: avatar}"}
              %p
                %a{data: {bind: "text: name, attr: {href: '/profiles/' + username}"}}
                %br/
                %a{data: {bind: "attr: {href: '/search/results?tag=' + fashion_style}, text: '#' + fashion_style"}}

:javascript
  $(function(){
    index_model.search_result().load_versuses();
  });