<div class="search-block right rel">
    <div class="search-visible disnone">
        <i class="moderaIcons b">L</i>
        <input id="search" name="search" placeholder="Name \ Rank search" type="text">
    </div>
</div>