.header-lvl2
  .width.overhide
    %h2.back
      = link_to 'Hall of fame', home_path


.nano{data: {bind: 'with: hall_of_fame'}}
  .content{data: {bind: 'event: {scroll: scroll}'}}
    .wrapper.width
      .halloffame
        %div{style: 'display:table', data: {bind: 'foreach: users'}}
          .item{data: {bind: "css: {my: username == $root.current_user().username}"}}
            .npp{data: {bind: "css: {up: level == 'up', down: level == 'down'}"}}
              %span{data: {bind: 'text: place'}}
              %sup th
            .user
              %a{class: 'left', data: {bind: "attr: {href: '/profiles/' + username}"}}
                = image_tag 'samples/username_pic.png', data: {bind: 'attr: {src: avatar}'}, width: 42, height: 42
                %p
                  %a{data: {bind: "attr: {href: '/profiles/' + username}, text: name"}}
                  %span{data: {bind: 'text: fashion_style'}}
                .likes.overhide.left
                  %span.curpoint
                  %b{data: {bind: 'text: votes_score'}}

                  
                %a.stat-photo.left{data: {bind: "attr: {href: '/profiles/' + username}"}}
                  %b{data: {bind: 'text: photos_count'}}
                  photos
            .prize
              %ul.overhide{data: {bind: 'foreach: wons'}}
                %li
                  %a{:href=>'#', :class=>'left'}
                    = image_tag 'samples/default_prize.png', {data: {bind: 'attr: {src: image}'}}
                  %p 
                    %a{:href=>'#', data: {bind: "text: prize + ' won in ' + name + ' contest'"}}
              / %a{:href=>'#', :class=>'clear', data: {bind: "text: 'See All Prizes of ' + name, visible: wons().length > 2"}}

        .fixed{data: {bind: 'visible: show_user(), with: user'}}
          .more.c ● ● ●
          .item.my
            .npp{data: {bind: "css: {up: level == 'up', down: level == 'down'}"}}
              %span{data: {bind: 'text: place'}}
              %sup th
            .user
              %a{class: 'left', data: {bind: "attr: {href: '/profiles/' + username}"}}
                = image_tag 'samples/username_pic.png', data: {bind: 'attr: {src: avatar}'}, width: 42, height: 42
                %p
                  %a{data: {bind: "attr: {href: '/profiles/' + username}, text: name"}}
                  %span{data: {bind: 'text: fashion_style'}}
                .likes.overhide.left
                  %span.curpoint
                  %b{data: {bind: 'text: votes_score'}}

                %a.stat-photo.left{data: {bind: "attr: {href: '/profiles/' + username}"}}
                  %b{data: {bind: 'text: photos_count'}}
                  photos
            .prize
              %ul.overhide{data: {bind: 'foreach: wons'}}
                %li
                  %a{:href=>'#', :class=>'left'}
                    = image_tag 'samples/default_prize.png', {data: {bind: 'attr: {src: image}'}}
                  %p 
                    %a{:href=>'#', data: {bind: "text: prize + ' won in ' + name + ' contest'"}}
      .c
        %span{data: {bind: 'visible: ajax_progress()'}}
          = image_tag 'wait.gif'

:javascript
  jQuery(function(){
    index_model.hall_of_fame().init(#{params[:id]});
  });