.header-lvl2
  .width.overhide
    %ul.tabs
      %li
        %span.stcon.active Style contest
      %li
        %span.chall Power hour
    .search.rel.right
      %form{:action=>'#'}
        %input.white{:type=>'text', :tabindex=>'1', :value=>'NIKE'}
        %input{:type=>'submit',:tabindex=>'2', :value=>''}
        .close
      .dd.abs.disnone
        .tab
          %a{:href=>'#'} Users
          %a.active{:href=>'#'}
            %b #
            Tags 
        / users list
        %ul.user-list.disnone
          %li
            %span.right.btn-2.marg Follow
            %a{:href=>'#', :class=>'left'}
              = image_tag 'samples/username_pic.png', :alt=>'username'
            %p
              %a{:href=>'#'} Maya Toggie
              %br 
              Hipster style
          %li
            %span.right.btn-2.marg Follow
            %a{:href=>'#', :class=>'left'}
              = image_tag 'samples/username_pic.png', :alt=>'username'
            %p
              %a{:href=>'#'} Trish paradakos
              %br 
              Hipster style
          %li
            %span.right.btn-2.marg Follow
            %a{:href=>'#', :class=>'left'}
              = image_tag 'samples/username_pic.png', :alt=>'username'
            %p
              %a{:href=>'#'} Maya Toggie
              %br 
              Hipster style
        / tags list
        %ul.tags
          %li
            %span.right.fr 6503 Photos
            %b #Car
          %li
            %span.right 53 Photos
            %b #Girls
            (Contest)
          %li
            %span.right 653 Photos
            %b #Style
          %li
            %span.right.fr 63 Photos
            %b #Fashion
            (Contest)
        .c
          %a{:href=>'#'} See All


.nano
  .content
    .wrapper.width
      .contest-list
        .battle
          .pic-block.overhide
            .vs.prize
            .participant.right
              .timeline.right 3h
              %a.userpic{:href=>'#'}
                = image_tag 'samples/username_pic.png', :alt=>'username'
              %a.username{:href=>'#'} Mary Poppins
              .photo
                .photoframe
                  = image_tag 'samples/contest_photo.png', :alt=>''
            .contest.left
              .contest-name #contest name
              .photo
                .photoframe
                  Contest name
                  = image_tag 'bg_prize.png', :alt=>''
                  .date-end Ends 23 december
          .comment-block.overhide
            .item.right
              %h4 Description
              .text 
                Who doesn't want a life-size Darth Vader bust? Sideshow Collectibles is giving one Star Wars fan a chance to win this bust for their collection. Enter before December 21.              
              %span.btn-2.more.marg{:onclick=>"$('#more1').arcticmodal()"} More
              .disnone
                .b-modal{:id=>'more1'}
                  .popup
                    .back.b-modal_close.arcticmodal-close
                      %h2 More
                    .item
                      %a{:href=>'#'} Join the Contest / Leave the contest
                    .item
                      %a{:href=>'#'} Report Innappropriate
                    .item
                      %a.b-modal_close.arcticmodal-close.cupoi{:href=>'#'} Cancel
            .item.left
              .top-wins.overhide
                %ul
                  %li
                    %div 
                      1
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div 
                      2
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div 
                      3
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div 
                      4
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div
                      5
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                %a.see-all{:href=>'#'} See All of Hall of Fame 102K
              .likes
                %a{:href=>'#'} 10225
              .comments
                %a.username{:href=>'#'} Dlore Setamet:
                %p Lorem ipsum dolore set amet
                %a.all-comments{:href=>'#'} See all 43 comments
        .battle
          .pic-block.overhide
            .vs.prize
            .right
              .join-to
                %a{:href=>'#'} Join to contest
            .contest.left
              .contest-name #contest name
              .photo
                .photoframe
                  Contest name
                  = image_tag 'bg_prize.png', :alt=>''
                  .date-end Ends 23 december
          .comment-block.overhide
            .item.right
              %h4 Description
              .text 
                Who doesn't want a life-size Darth Vader bust? Sideshow Collectibles is giving one Star Wars fan a chance to win this bust for their collection. Enter before December 21.              
              %span.btn-2.more.marg{:onclick=>"$('#more2').arcticmodal()"} More
              .disnone
                .b-modal{:id=>'more2'}
                  .popup
                    .back.b-modal_close.arcticmodal-close
                      %h2 More
                    .item
                      %a{:href=>'#'} Join the Contest / Leave the contest
                    .item
                      %a{:href=>'#'} Report Innappropriate
                    .item
                      %a.b-modal_close.arcticmodal-close{:href=>'#'} Cancel
            .item.left
              .top-wins.overhide
                %ul
                  %li
                    %div 
                      1
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div 
                      2
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div 
                      3
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div 
                      4
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                  %li
                    %div
                      5
                      %sup th
                    %a.userpic{:href=>'#'}
                      = image_tag 'samples/username_pic.png', :alt=>'username'
                %a.see-all{:href=>'#'} See All of Hall of Fame 102K
              .likes
                %a{:href=>'#'} 10225
              .comments
                %a.username{:href=>'#'} Dlore Setamet:
                %p Lorem ipsum dolore set amet
                %a.all-comments{:href=>'#'} See all 43 comments