<div class="profile-control c rel overhide">
    <div class="btn right step-btn" data-step="browse_legacy">
        Browse legacy
        <i class="moderaIcons m">&gt;</i>
    </div>
    <h1 class="left">Legacy</h1>
    <div class="abs">
        <div class="btn">Share with your Media</div>
    </div>
</div>
<canvas height="1328" id="legacy" width="930"></canvas>
<!-- /test script -->
<script>
    /*var example = document.getElementById("legacy");
     var ctx = example.getContext('2d');
     var pic = new Image();
     pic.src = 'http://localhost:3000/assets/legasy_canvas.png';
     pic.onload = function() {
     ctx.drawImage(pic, 0, 0);
     }*/
</script>
