<h2><!--Here will be question--></h2>
<div class="share-panel c" style="padding-left: 25px; padding-right: 25px;">
    <div class="btn right okBtn" style="float: left;">Ok</div>
    <div class="btn right cancelBtn arcticmodal-close">Cancel</div>
</div>
