= form_for [:admin, @contest], class: 'form-horizontal' do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  %h4 Prizes
  #prizes
    = f.fields_for :prizes do |prize|
      = render 'prize_fields', f: prize
    .links
      = link_to_add_association 'add prize', f, :prizes
  %br
  = f.label :started_at
  = f.text_field :started_at, class: 'datepicker'
  = f.label :expired_at
  = f.text_field :expired_at, class: 'datepicker'
  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @contest], class: 'btn'