.nested-fields
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  = f.label :image
  = f.file_field :image
  = link_to_remove_association "remove prize", f