.page-header
  %h1 Add bot participants

= form_tag create_participants_admin_contest_path(@contest), method: :post, class: 'form-horizontal' do
  = label_tag 'contest[batch_participants]', 'All bots'
  = radio_button_tag 'contest[batch_participants]', 'bots'
  %br
  %br
  = label_tag 'contest[batch_participants]', 'All real'
  = radio_button_tag 'contest[batch_participants]', 'real'
  %br
  %br
  = label_tag 'contest[batch_participants]', 'All'  
  = radio_button_tag 'contest[batch_participants]', 'all'
  - @not_participants.each do |bot|
    = check_box_tag 'contest[bots_list][]', bot.id
    = bot.username
    %br
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @contest], class: 'btn'