.page-header
  %h1 Contests

%div
  = paginate @contests
  
= link_to 'Add', new_admin_contest_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Started at
      %th Expired at
      %th Finished      
      %th &nbsp;
  %tbody
    - @contests.each do |contest|
      %tr
        %td= link_to contest.name, [:admin, contest]
        %td= contest.started_at.to_s(:simple_date_time)
        %td= contest.expired_at.to_s(:simple_date_time)
        %td= contest.finished
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to '', edit_admin_contest_path(contest), class: 'btn btn-mini icon-pencil'
            %div.btn-group
              = link_to '', [:admin, contest], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'