.page-header
  %h1 Contest

%p
  %strong Name:
  %br
  = @contest.name
%p
  %strong Description:
  %br
  = @contest.description
%p
  %strong Prizes:
  %br
  = render partial: 'prize', collection: @contest.prizes
%p
  %strong Winner:
  %br
  - if @contest.winner_id?
    = link_to @contest.winner.username, admin_user_path(@contest.winner_id)
  - else
    No winner yet
%p
  %strong Votes count:
  %br
  = @contest.votes_count
%p
  %strong Finished:
  %br
  = @contest.finished
%p
  %strong Started at:
  %br
  = @contest.started_at.to_s(:simple_date_time)
%p
  %strong Expired at:
  %br
  = @contest.expired_at.to_s(:simple_date_time)
%p
  %strong Bot participants:
  %br
  - @contest.participants.includes(:user).where('users.bot = ?', true).each do |u|
    %p= u.user.username
    %span= link_to 'Delete', delete_participant_admin_contest_path(@contest, u.id), method: :delete
%p
  %strong Real participants:
  %br
  - @contest.participants.includes(:user).where('users.bot = ?', false).each do |u|
    %p= u.user.username
    %span= link_to 'Delete', delete_participant_admin_contest_path(@contest, u.id), method: :delete


.form-actions
  = link_to 'Back', admin_contests_path, class: 'btn'
  = link_to 'Edit', edit_admin_contest_path(@contest), class: 'btn'
  = link_to 'Add participants', add_participants_admin_contest_path(@contest), class: 'btn'
  = link_to 'Destroy', [:admin, @contest], method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
