.page-header
  %h1 Add photos bots' behaviour settings time period

= form_tag admin_photos_bot_settings_path, class: 'form-horizontal' do  
  -#= error_messages_for 'photos_bot_setting'
  = label_tag 'photos_bot_setting[min_time]', 'min_time'
  = text_field_tag 'photos_bot_setting[min_time]', @photos_bot_setting.min_time
  = label_tag 'photos_bot_setting[max_time]', 'max_time'
  = text_field_tag 'photos_bot_setting[max_time]', @photos_bot_setting.max_time
  = label_tag 'photos_bot_setting[min_follows]', 'min_follows'
  = text_field_tag 'photos_bot_setting[min_follows]', @photos_bot_setting.min_follows
  = label_tag 'photos_bot_setting[max_follows]', 'max_follows'
  = text_field_tag 'photos_bot_setting[max_follows]', @photos_bot_setting.max_follows
  = label_tag 'photos_bot_setting[min_votes]', 'min_votes'
  = text_field_tag 'photos_bot_setting[min_votes]', @photos_bot_setting.min_votes
  = label_tag 'photos_bot_setting[max_votes]', 'max_votes'
  = text_field_tag 'photos_bot_setting[max_votes]', @photos_bot_setting.max_votes
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_photos_bot_settings_path, class: 'btn'