<div class="right">
    <img alt="<%=name%>" height="417" src="<%=url%><%=image%>" width="417">
</div>
<div class="left">
    <h2 class="h1 textTransNone">#<%=name%></h2>

    <div class="style-hash">
        <% for(var i =0;i < tagsList.length;i++){%>
        <a href="#">#<%=tagsList[i]%></a>
        <%}%>
    </div>
    <!-- <div class="members">
        <i class="moderaIcons">S</i>
        <%=users_count%> users
    </div> -->
    <input class="btn active joinBtn" type="submit" value="Join">
</div>
