!!!
%html
  %head
    %title Modera
  %body
    - if params[:done].present?
      :javascript
        window.opener.notifications.trigger('social:avatar', {provider: "#{params[:provider]}", avatar: "#{current_user.avatar}"}, true);
        window.close();