.overlay
  .nano
    .content
      .choose-your-style
        / .logo.c
        / = image_tag "modera.png", :alt=>'Modera.co'
        %h1.c Choose your style
        .style-list
          - @fashion_styles.each do |fs|
            .item            
              %h2.abs
                = link_to "##{fs.name}", results_search_index_path(tag: fs.name)
              = image_tag fs.image.url, alt: fs.presentation
              = form_tag choose_style_path, class: 'fashion-style-form' do
                = hidden_field_tag 'fashion_style_id', fs.id
                = submit_tag 'Join', class: 'btn-2 hover'

              .style-hash.abs
                - fs.tag_list.each do |t|
                  = link_to "##{t}", results_search_index_path(tag: t)
              .members.abs
                %b= fs.users.count
                users