!!!
%html
  %head
    %title Modera
  %body
    - if params[:done].present?
      :javascript
        window.opener.notifications.trigger('social:done', {provider: "#{params[:provider]}", url: "#{current_user.send(params[:provider])}"}, true);
        window.close();