%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons @
          Settings
        %a{href: '#'}
          %i.moderaIcons +
          Find Friends
        %a{href: '#'}
          %i.moderaIcons [
          Log Out
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'active menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div 
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static
      %h1 About Us
      %p Modera began as a dream to satisfy the need for choices in fashion and through our combined efforts we have developed perfection. We have carefully crafted the ultimate team composed of the the brightest and most innovative engineers, unparalleled pioneers in social media and marketing, the ultimate design stars, supreme fashionistas, along with creative and engaging writers.  All this to bring you Modera, more than just another social media site or app on your phone Modera will change the way you share your unique lifestyle with friends, family and the world.
      %p From Uzbekistan to California we embrace a diverse love of all things beautiful and creative and are united under one flag…the Modera flag.
      .team.thin
        %h3 Our Team
        %ul.nopad.overhide.c
          %li
            %a{href:'/info/elvina'}
              = image_tag 'about/Elya.png', :alt=>"El'vina Ziyadinova", width: '126', height: '126'                
              %span El'vina Ziyadinova
              %span.department Developer

          %li
            %a{href:'/info/artemсhekhlov'}
              = image_tag 'about/Artem.png', :alt=>'Artem Chekhlov', width: '126', height: '126' 
              %span Artem Chekhlov
              %span.department Intern
            
          %li
            %a{href:'/info/rustamkhamraev'}
              = image_tag 'about/Rustam.png', :alt=>'Rustam R. Khamraev', width: '126', height: '126' 
              %span Rustam R. Khamraev
              %span.department Startup guy
            
          %li
            %a{href:'/info/volodyapinchuk'}
              = image_tag 'about/Volodya.png', :alt=>'Vladimir Pinchuk', width: '126', height: '126' 
              %span Vladimir Pinchuk
              %span.department Business Development    

          %li
            %a{href:'/info/sanjarbabadjanov'}
              = image_tag 'about/Sanjar.png', :alt=>'Sanjar Babadjanov', width: '126', height: '126' 
              %span Sanjar Babadjanov
              %span.department CEO

          %li
            %a{href:'/info/nodirmirsaid'}
              = image_tag 'about/Nodir.png', :alt=>'Nodir Mirsaid', width: '126', height: '126' 
              %span Nodir Mirsaid
              %span.department Business Development
           
          %li
            %a{href:'/info/mahmudkaraev'}
              = image_tag 'about/Mahmud.png', :alt=>'Maxmud Karaev', width: '126', height: '126' 
              %span Maxmud Karaev
              %span.department Intern
            
          %li
            %a{href:'/info/anvarshakirov'}
              = image_tag 'about/Anvar2.png', :alt=>'Anvar Shakirov', width: '126', height: '126' 
              %span Anvar Shakirov
              %span.department Intern
           
          %li
            %a{href:'/info/yaroslav'}
              = image_tag 'about/Yarik.png', :alt=>'Yaroslav Borzenkov', width: '126', height: '126' 
              %span Yaroslav Borzenkov
              %span.department Intern
            
          %li
            %a{href:'/info/anvartaishev'}
              = image_tag 'about/Anvar.png', :alt=>'Anvar Taishev', width: '126', height: '126' 
              %span Anvar Taishev
              %span.department Design &amp; Magic
            
          %li
            %a{href:'/info/alex'}
              = image_tag 'about/Sasha.png', :alt=>'Alexander Kobelev', width: '126', height: '126' 
              %span Alexander Kobelev
              %span.department Programmer
            
          %li
            %a{href:'/info/lynnebarker'}
              = image_tag 'about/Lynne.png', :alt=>'Lynne Pattalock-Barker', width: '126', height: '126' 
              %span Lynne Barker
              %span.department Marketing
            
          %li
            %a{href:'/info/shanebarker'}
              = image_tag 'about/Shane.png', :alt=>'Shane Barker', width: '126', height: '126' 
              %span Shane Barker
              %span.department Marketing
            
          %li
            %a{href:'/info/maratibragimov'}
              = image_tag 'about/Marat.png', :alt=>'Marat Ibragimov', width: '126', height: '126'
              %span Marat Ibragimov 
              %span.department Business Development
            
          %li
            %a{href:'/info/timothymunden'}
              = image_tag 'about/Tim.png', :alt=>'Timothy Munden', width: '126', height: '126'
              %span Timothy Munden 
              %span.department Community Manager
            
          %li
            %a{href:'/info/gunaydonmez'}
              = image_tag 'about/Gunay.png', :alt=>'Gunay Donmez', width: '126', height: '126'
              %span Gunay Donmez 
              %span.department Marketing Research
            
          %li
            %a{href:'/info/julerizzardo'}
              = image_tag 'about/Jule.png', :alt=>'Jule', width: '126', height: '126'
              %span Jule Rizzardo 
              %span.department Blogger

          %li
            %a{href:'/info/michael'}
              = image_tag 'about/Michael.png', :alt=>'Michael', width: '126', height: '126'
              %span Michael Paulmarie
              %span.department Intern

          %li
            %a{href:'/info/jonathanlenoch'}
              = image_tag 'about/Lenoch.png', :alt=>'Jonathan', width: '126', height: '126'
              %span Jonathan Lenoch
              %span.department Videographer
