%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div.active
          = link_to 'Business proposal','/pages/business_proposal', class: 'active'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static

      %h1 Business proposal
      %p
        %b What is Modera?
        %br/
        Modera is a lifestyle that is represented by fashion, photography, design and much more.  It encompasses an iOS app that instantly uploads outfits with immediate response and continually drives traffic unlike any other app.
      %p
        %b What doesModera solve?
        %br/
        The emotional response of acceptance through photos as well as unparalleled number of impressions for Brands. An uploaded photo of the users outfit is selectedinto a “lifestyle genre/ fashion genre” and is immediately immersed amongst its peers to view.  Modera’s algorithm will astonish you with how all processes flow through the style challenge to make it possible to receive a large amount of instant feedback.
      %p
        %b Why your Brand can benefit from Modera?
        %br/
        Modera creates an environment in which your Brand is constantly being put in front of your target market with the uploaded photos through the Style Challenge. Your Brand is in a never-ending competition and comes to life virally in these contests for all to see.  The ultimate Style Challenge showdown for your Brand with the impressions you deserve.
      %p
        %b What Modera has accomplished to date?
      %ul
        %li 22,000 followers with average monthly growth rate of 30% on Instagram, Facebook, Twitter etc.
        %li Over 1,100 users with a 60% monthly growth rate on site leading up to beta release
        %li Team of 25 dedicated professionals.
        %li $500,000 as a seed stage money
        %li Exclusive sponsorship with BOUJOI
      %p
        %b What we offer?
        %br/
        Three fulltime promoters, talented staff content writers, outstanding designers along with video experts.  The entire staff at Modera works 24 hours a day to promote your contest, partnering to create a buzz for your Brand along with impactful advertising in the social media world.
      %p
        %b Why Sponsor this Contest?
        %br/
        On the Modera site you will have a target audience that is specifically geared toward your Brand and competing for your “Prize”.   During the Style Challenge over 2,000+ people will continually share your Brand on all of their social networks for the month of the contest and that will increase your reach in ways you could never obtain, and we drive them to you.
      %p
        %b What we ask for that?
        %br/
        Sponsorship isaimed at converting your visitors into ambassadors of your Brand, by simply offering a $500 gift-card for your products to the winner of the Modera Style Challenge contest.