%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
              
.wrapper
  .choose-style-list
    %h1.c Choose your style
    .style
      .right
        = image_tag 'Vintage.png', alt: 'Vintage', width: '417', height: '417'
      .left
        %h2.h1 #Vintage
        .style-hash
          = link_to '#victorian', '#'
          = link_to '#hippie', '#'
          = link_to '#bohemian', '#'
          = link_to '#retro', '#'
          = link_to '#mod', '#'
          = link_to '#ethnic', '#'
          = link_to '#disco', '#'
          = link_to '#avantgarde', '#'
        .members
          %i.moderaIcons S
          64 users
        %input.btn.active{type: 'submit', value: 'Join'}
    .style.disnone
      .right
        = image_tag 'Casual.png', alt: 'Casual', width: '417', height: '417'
      .left
        %h2.h1 #Casual
        .style-hash
          = link_to '#tomboy', '#'
          = link_to '#sporty', '#'
          = link_to '#skater', '#'
          = link_to '#safari', '#'
          = link_to '#nautical', '#'
          = link_to '#minimalist', '#'
          = link_to '#english', '#'
          = link_to '#preppy', '#'
          = link_to '#colleglate', '#'
          = link_to '#californian', '#'
          = link_to '#allamerican', '#'
        .members
          %i.moderaIcons S
          64 users
        %input.btn.active{type: 'submit', value: 'Join'}
    .style.disnone
      .right
        = image_tag 'Urban.png', alt: 'Urban', width: '417', height: '417'
      .left
        %h2.h1 #Urban
        .style-hash
          = link_to '#rock', '#'
          = link_to '#hiphop', '#'
          = link_to '#western', '#'
          = link_to '#cowboy', '#'
          = link_to '#Ska', '#'
          = link_to '#gangster', '#'
          = link_to '#dandy', '#'
          = link_to '#military', '#'
          = link_to '#classic', '#'
        .members
          %i.moderaIcons S
          64 users
        %input.btn.active{type: 'submit', value: 'Join'}
    .style.disnone
      .right
        = image_tag 'Hipster.png', alt: 'Hipster', width: '417', height: '417'
      .left
        %h2.h1 #Hipster
        .style-hash
          = link_to '#emo', '#'
          = link_to '#raver', '#'
          = link_to '#indie', '#'
        .members
          %i.moderaIcons S
          64 users
        %input.btn.active{type: 'submit', value: 'Join'}
    .style.disnone
      .right
        = image_tag 'Glamour.png', alt: 'Glamour', width: '417', height: '417'
      .left
        %h2.h1 #Glamour
        .style-hash
          = link_to '#lolita', '#'
          = link_to '#romantic', '#'
          = link_to '#ladylike', '#'
        .members
          %i.moderaIcons S
          64 users
        %input.btn.active{type: 'submit', value: 'Join'}


//NEW choose style
/ %header
/   .top-panel
/     .width
/       .nav-lp.right
/         %a.app.disinbl.m{href: 'https://itunes.apple.com/us/app/modera/id601156944'}
/         .btn.active Join
/         .btn Log in
/       = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'

/ .choose-your-style
 
/   // step 1
/   .step1
/     %h1
/       Based on your votes we've narrowed down
/       %br/ 
/       your style profile to 20 outfits.
/     %h2.right.rel Please choose your 5 favorite.

/     .nano
/       .content
/         .view-photo
/           .item
/             .photoframe
/               = image_submit_tag("checked.png")
/               = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '179', height: '179'
/           .item
/             .photoframe
/               = image_submit_tag("checked.png")
/               = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '179', height: '179'
/           .item
/             .photoframe
/               = image_submit_tag("checked.png")
/               = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '179', height: '179'
/           .item
/             .photoframe
/               = image_submit_tag("checked.png")
/               = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '179', height: '179'
/           .item
/             .photoframe
/               = image_submit_tag("checked.png")
/               = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '179', height: '179'

/     .progress-bar-block.overhide
/       .circle.left
/         %span 5
/       %h2 Choose 5 more
/       .bar.rel
/         .polzunok.abs

/   // step 2
/   .step2.c.rel.disnone
/     .timer
/       .percent
/       #slice{class: 'gt50'}
/         .pie
/     %h1.c Identifying your style...


/   // step 3
/   .step3.c.disnone
/     %h2 Congratulations!
/     %h1 
/       = "Today you must be feeling "
/       %span
/     .your-style
/       = image_tag "Casual.png"

/     %p.c 
/       Sign up below to check out your
/       %br/
/       personalized home feed.
/     .joinModera-form
/       %a.joinFacebook.c.disinbl{href: '/auth/facebook'}
/         %i.moderaIcons.left f
/         %span Join with Facebook
/       %a.joinTwitter.c.disinbl{href: '/auth/twitter'}
/         %i.moderaIcons.left t
/         %span Join with Twitter
/       %a.joinInstagram.c.disinbl{href: '/auth/instagram'}
/         %i.moderaIcons.left i
/         %span Join with Instagram
/       .divider.c.clear
/         %span.rel OR
/       %p.c
/         %a.textUnderline{href: '/join'} Sign up with your email
/       %p.fs14.c
/         By creating an account, you agree to the
/         %a.textUnderline{href: '/tos'} Terms of service
/         and
/         %a.textUnderline{href: '/privacy'} Privacy Policy.
