%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div.active
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content', class: 'active'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static
      %h1 Content
      .grid
        %a{:href => "/content/BOUJOI_GOLD_LOVE_CHARM"}
          %img{:alt => "BOUJOI GOLD LOVE CHARM", :src => "http://images.modera.co/uploads/modera/static_contest_history/14/thumb_e909be14-ec9b-47b8-9fa5-27bd75a08cab.jpg"}/
        %a{:href => "/content/BOUJOI_DIAMOND_GOLD_CHARM_URBAN"}
          %img{:alt => "BOUJOI DIAMOND GOLD CHARM URBAN", :src => "http://images.modera.co/uploads/modera/static_contest_history/13/thumb_ed8f3369-3b12-4431-80fb-b2da40091b7e.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_NAMESAKE_CHARM"}
          %img{:alt => "BOUJOI GOLD NAMESAKE CHARM", :src => "http://images.modera.co/uploads/modera/static_contest_history/12/thumb_e892145b-6714-40eb-be7a-f535c1472061.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_NAMESAKE_CHARM_CASUAL"}
          %img{:alt => "BOUJOI GOLD NAMESAKE CHARM CASUAL", :src => "http://images.modera.co/uploads/modera/static_contest_history/11/thumb_b8d6dfc9-80a4-408a-8f0a-900a1f3a1141.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_CLOVERPENDANT"}
          %img{:alt => "BOUJOI GOLD CLOVERPENDANT", :src => "http://images.modera.co/uploads/modera/static_contest_history/10/thumb_bdd42892-e2fd-488c-b517-ccda5cfdde04.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_RING_STARS_SIDE_BY_SIDE"}
          %img{:alt => "BOUJOI GOLD RING STARS SIDE BY SIDE", :src => "http://images.modera.co/uploads/modera/static_contest_history/9/thumb_cbba9cf4-43cd-44e2-8635-0a4490548b5b.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_NAMESAKE_CHARM_GOLD_RING_STARS"}
          %img{:alt => "BOUJOI GOLD NAMESAKE CHARM GOLD RING STARS", :src => "http://images.modera.co/uploads/modera/static_contest_history/8/thumb_bb2f7812-4794-4347-a865-a76bf44e2d2a.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_CLOVERPENDANT_GOLD_STARS_RING_URBAN"}
          %img{:alt => "BOUJOI GOLD CLOVERPENDANT GOLD STARS RING URBAN", :src => "http://images.modera.co/uploads/modera/static_contest_history/7/thumb_1142b85e-0619-4ed7-98ca-e0e2d8ec30a5.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_DIAMOND_CHARM"}
          %img{:alt => "BOUJOI GOLD DIAMOND CHARM", :src => "http://images.modera.co/uploads/modera/static_contest_history/6/thumb_db97a543-9cbd-43e1-865d-635658468427.jpg"}/
        %a{:href => "/content/BOUJOI_GOLD_RING_STARS_GOLD_CLASSIC_STARS"}
          %img{:alt => "BOUJOI GOLD RING STARS GOLD CLASSIC STARS", :src => "http://images.modera.co/uploads/modera/static_contest_history/5/thumb_fe786d80-1871-4af7-96f4-8b9a558e85aa.jpg"}/
        %a{:href => "/content/BOUJOI_SILVER_DIAMOND_CHARM"}
          %img{:alt => "BOUJOI SILVER DIAMOND CHARM", :src => "http://images.modera.co/uploads/modera/static_contest_history/4/thumb_db30fd32-834b-47c8-a00f-4acfbe17ee0a.jpg"}/
        %a{:href => "/content/BOUJOI_CLOVERPENDANT_GOLD_RING_STARS_SIDE"}
          %img{:alt => "BOUJOI CLOVERPENDANT GOLD RING STARS SIDE", :src => "http://images.modera.co/uploads/modera/static_contest_history/3/thumb_ab6148bc-983f-494c-b134-525d1018d6fe.jpg"}/
        %a{:href => "/content/BOUJOI_DIAMOND_CHARM_SILVER_GOLD_RING_STARS"}
          %img{:alt => "BOUJOI DIAMOND CHARM SILVER GOLD RING STARS", :src => "http://images.modera.co/uploads/modera/static_contest_history/2/thumb_45e9edd2-99b9-4771-b5cc-ffaaba83144b.jpg"}/
        %a{:href => "/content/BOUJOI_DIAMOND_SILVER_CHARM_GOLD_CLASSIC_STARS_BIG_RING"}
          %img{:alt => "BOUJOI DIAMOND SILVER CHARM GOLD CLASSIC STARS BIG RING", :src => "http://images.modera.co/uploads/modera/static_contest_history/1/thumb_5451b520-5cdf-43a4-a1de-a9cc5bf447c3.jpg"}/