%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width

      // only if has hash contest
      .owner.right
        %a.rel.disblock{href: '#', title: 'Alice Stafford'}
          = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic left', width: '30', height: '30'
          %span.nowrap.asLink Alice Stafford
        %span.nowrap.thin Contest Owner
      .hash-members.right.thin
        %span 12k members
        = link_to 'go to hall of fame', '#'

      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons.sub
            D
            %sub #
          Style Contest
        %a{href: '#'}
          %i.moderaIcons U
          Photos view


          
.wrapper
  .battle-list
    .trending-tags.c
      %h1
        \# sampletagsloremipsum
        %i.moderaIcons.m -
    .vs.abs.c
      %i.moderaIcons A 
    // example simple battle, left participant is luse
    .battle
      .participant.right
        .info-side.right
          .like-count.h1.curpoint
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint
            %i.moderaIcons H
            1k
          .timeline
            %i.moderaIcons G
            2h
          .share-panel.right.disnone
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.left
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
      

      .participant.left
        .info-side.left
          .like-count.h1.curpoint.r
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint.active.r
            %i.moderaIcons H
            1k
          .timeline.r
            %i.moderaIcons G
            2h
          .share-panel.right
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe.left.grayscale
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.right
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink.active Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

  // only if hasn't hash contest   
  .faceplate.c.disnone
    %i.moderaIcons
      D
      %sub.disinbl #
    %span.thin.disblock You need at least 3 people to start the contest
    .btn Invite Friends


.overlay.disnone

.popup.disnone
  .close.right &times;
  %h1 # sampletagsloremipsum
  .hash-settings
    %h3 Share with friends
    %p.fs14.thin  Call your friends to take a part in your personal #contest
    .share-panel
      //facebook
      %span.share-icons.facebook
        %i.moderaIcons f
      //twitter
      %span.share-icons.twitter
        %i.moderaIcons t
      //gplus
      %span.share-icons.gplus
        %i.moderaIcons g
      //tumblr
      %span.share-icons.tumblr
        %i.moderaIcons u
      //mail
      %span.share-icons.mail
        %i.moderaIcons m
  .divider.clear
  .hash-settings
    %span.fs14.thin Receive notifications
    %form.onoffswitch.disinbl.m{:action=>'#'}
      %input{:type=>'checkbox', :id=>'receiveNotifications', :class => 'onoffswitch-checkbox'}
      %label.onoffswitch-label{:for=> "receiveNotifications"}
        .onoffswitch-inner
          .onoffswitch-active Yes
          .onoffswitch-inactive No