%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width

      // only if has hash contest
      .owner.right
        %a.rel.disblock{href: '#', title: 'Alice Stafford'}
          = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic left', width: '30', height: '30'
          %span.nowrap.asLink Alice Stafford
        %span.nowrap.thin Contest Owner
      .hash-members.right.thin
        %span 12k members
        = link_to 'go to hall of fame', '#'

      .w-nav.left
        %a{href: '#'}
          %i.moderaIcons.sub
            D
            %sub #
          Style Contest
        %a.active{href: '#'}
          %i.moderaIcons U
          Photos view

          
.wrapper
  .width
    .trending-tags.c
      %h1 # sampletagsloremipsum
    .hash-photo.view-photo
      .item
        .info-top
          .timeline.right
            %i.moderaIcons G
            2h
          %a.textOverhide.rel{href: '#', title: 'Alice Stafford'}
            = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic', width: '30', height: '30'
            %span Alice Stafford
        .photoframe
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '302', height: '302'
      .item
        .info-top
          .timeline.right
            %i.moderaIcons G
            2h
          %a.textOverhide.rel{href: '#', title: 'Alice Stafford'}
            = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic', width: '30', height: '30'
            %span Alice Stafford
        .photoframe
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '302', height: '302'
      .item
        .info-top
          .timeline.right
            %i.moderaIcons G
            2h
          %a.textOverhide.rel{href: '#', title: 'Alice Stafford'}
            = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic', width: '30', height: '30'
            %span Alice Stafford
        .photoframe
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '302', height: '302'
      .item
        .info-top
          .timeline.right
            %i.moderaIcons G
            2h
          %a.textOverhide.rel{href: '#', title: 'Alice Stafford'}
            = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic', width: '30', height: '30'
            %span Alice Stafford
        .photoframe
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '302', height: '302'
      .item
        .info-top
          .timeline.right
            %i.moderaIcons G
            2h
          %a.textOverhide.rel{href: '#', title: 'Alice Stafford'}
            = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic', width: '30', height: '30'
            %span Alice Stafford
        .photoframe
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '302', height: '302'
      .item
        .info-top
          .timeline.right
            %i.moderaIcons G
            2h
          %a.textOverhide.rel{href: '#', title: 'Alice Stafford'}
            = image_tag 'samples/username_pic.png', alt: 'Alice Stafford', class: 'userpic', width: '30', height: '30'
            %span Alice Stafford
        .photoframe
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '302', height: '302'
