%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons @
          Settings
        %a{href: '#'}
          %i.moderaIcons +
          Find Friends
        %a{href: '#'}
          %i.moderaIcons [
          Log Out
      .w-nav.profile-menu.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us', class: 'active'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static

      %h1 Contact us
      %p
        %b Looking to get in touch?
        %br/
        Chat with us about an opportunity or idea anytime at
        = link_to 'Hello@modera.co', 'mailto:hello@modera.co'
      %p
        If you're having a problem, Send us an email at
        = link_to 'help@modera.co', 'mailto:help@modera.co'
        and let us know how we can help.
      %p
        For information on how your brand can make contest on modera reach us via email, contact
        = link_to 'brand@modera.co', 'mailto:brand@modera.co'
      %p
        %b Looking to follow us? We have all kinds of lifestyle on


      .share-panel
        //facebook
        .share-icons.facebook
          %i.moderaIcons f
          %span.thin.fs14
            = link_to 'Fashion', 'http://www.facebook.com/FashionModera'
            |
            = link_to 'Photography', 'http://www.facebook.com/PhotographyModera'
        //twitter
        .share-icons.twitter
          %i.moderaIcons t
          %span.thin.fs14
            = link_to 'theModera', 'http://twitter.com/themodera'
        //instagram
        .share-icons.instagram
          %i.moderaIcons i
          %span.thin.fs14
            = link_to 'themodera', 'http://instagram.com/themodera'
            |
            = link_to 'fashionmodera', 'http://instagram.com/fashionmodera'
            |
            = link_to 'photography', 'http://instagram.com/photographymodera'
            |
            = link_to 'art', 'http://instagram.com/artmodera'
        //pinterest
        .share-icons.pinterest
          %i.moderaIcons p
          %span.thin.fs14
            = link_to 'themodera', 'http://pinterest.com/themodera'

      .clear
      and &nbsp;&nbsp;
      %a{href: 'http://youtube.com/user/LifestyleModera'}
        = image_tag 'youtube.png', alt: 'youtube modera', style: 'vertical-align:middle'

      %form{action: '#'}
        %fieldset
          %h3 Contact form
          %label.thin.fs14{for: 'name'} Your Name
          .fieldForm
            = text_field_tag 'name', nil, tabindex: '1'
          %label.thin.fs14{for: 'email'} Your Email
          .fieldForm
            = email_field_tag 'email', nil, tabindex: '2'
          %label.thin.fs14{for: 'subject'} Subject
          .fieldForm
            = text_field_tag 'subject', nil, tabindex: '3' 
          %label.thin.fs14{for: 'subject'} Message
          .fieldForm
            = text_area_tag 'message', nil, tabindex: '4'
        .c
          = submit_tag nil, class: "btn", tabindex: '5'