.overlay
  .error-page
    .c.logo
      =image_tag 'logo.png', alt: "Modera.co"
    %p.c
      = image_tag '500.png', alt:'', class: 'mb'
    %h1.c 500
    %p.c
      We're sorry, but something went wrong.

    -content_for :title,  "We're sorry, but something went wrong."
