.overlay
  .error-page
    .c.logo
      =image_tag 'logo.png', alt: "Modera.co"
    %p.c
      = image_tag '404.png', alt:'', class: 'mb'
    %h1.c 404
    %p.c
      The page you were looking for doesn't exist. You may have 
      %br/
      mistyped the address or the page may have moved.

    -content_for :title,  "The page you were looking for doesn't exist."
