.overlay
  .error-page
    .c.logo
      =image_tag 'logo.png', alt: "Modera.co"
    %p.c
      = image_tag '401.png', alt:'', class: 'mb'
    %h1.c 401
    %p.c You have not permissions to access this page.

    -content_for :title,  "You have not permissions to access this pag."