%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock 5
              leaderboard
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a{href: '#'}
          %i.moderaIcons D
          Home Feed
        %a.rel.active{href: '#'}
          %i.moderaIcons R
          %span.abs 6
          Contest
      .w-nav.right
        %span
          %i.moderaIcons.left R
          %b.disinbl
            Sponsored
            %br/
            contest

.wrapper
  .width
    .container
      %h1.c Sponsored contest you joined
      .list-joined-contest.fs14
        %span #boujoi
        %span #Loremboujoi
      %section.contest-list.view-list.fs14
        .item
          = link_to 'Jump to Contest', '#', class: 'right btn'
          = link_to 'See Hall of Fame', '#', class: 'right btn'
          .contect-place.left
            %span.h1 1
            / %i.moderaIcons )
          %a.textOverhide{href: '#', title: 'BOUJOI contest'}
            = image_tag 'samples/contest_photo.png', alt: 'BOUJOI contest', width: '46', height: '46'
            %span BOUJOI contest
        .item
          = link_to 'Jump to Contest', '#', class: 'right btn'
          = link_to 'See Hall of Fame', '#', class: 'right btn'
          .contect-place.left
            / top
            / %br/
            / %b 25%
            %span.h1 50
          %a.textOverhide{href: '#', title: 'BOUJOI contest'}
            = image_tag 'samples/contest_photo.png', alt: 'BOUJOI contest', width: '46', height: '46'
            %span BOUJOI contest
        .item
          = link_to 'Jump to Contest', '#', class: 'right btn'
          = link_to 'See Hall of Fame', '#', class: 'right btn'
          .contect-place.left
            %span.h1 30
          %a.textOverhide{href: '#', title: 'BOUJOI contest'}
            = image_tag 'samples/contest_photo.png', alt: 'BOUJOI contest', width: '46', height: '46'
            %span BOUJOI contest
        .item
          = link_to 'Jump to Contest', '#', class: 'right btn'
          = link_to 'See Hall of Fame', '#', class: 'right btn'
          .contect-place.left
            / top
            / %br/
            / %b 25%
            %span.h1 5
          %a.textOverhide{href: '#', title: 'BOUJOI contest'}
            = image_tag 'samples/contest_photo.png', alt: 'BOUJOI contest', width: '46', height: '46'
            %span BOUJOI contest

      %section
        %h1.c Contests that began
        .contest-list.view-list.fs14
          .item.no-joined-contest
            .right
              .r
                %span.h1 24
                day last
              .btn.active Join to Contest
              = link_to 'See Hall of Fame', '#', class:'btn'
            = image_tag 'samples/contest.jpg', alt: 'name contest', class: 'left'
            .h1 #Contestname
            %p Who doesn't want a life-size Darth Vader bust? Sideshow Collectibles is giving one Star Wars fan a chance to win this bust for their collection. Enter before December 21.

      %section
        %h1.c Contests that will start
        .contest-list.view-list.fs14
          .item.no-joined-contest
            .right
              .r
                in
                %span.h1 24
                days
              = link_to 'Waiting List', '#', class:'btn active'
            = image_tag 'samples/contest.jpg', alt: 'name contest', class: 'left'
            .h1 #Contestname
            %p Who doesn't want a life-size Darth Vader bust? Sideshow Collectibles is giving one Star Wars fan a chance to win this bust for their collection. Enter before December 21.
          .item.no-joined-contest
            .right
              .r
                in
                %span.h1 24
                days
              = link_to 'Waiting List', '#', class:'btn active'
            = image_tag 'samples/contest.jpg', alt: 'name contest', class: 'left'
            .h1 #Contestname
            %p Who doesn't want a life-size Darth Vader bust? Sideshow Collectibles is giving one Star Wars fan a chance to win this bust for their collection. Enter before December 21.

.overlay.disnone

//choose photo
.popup.disnone
  .close.right &times;
  %h1 Choose photo for contest
  .choose-photo-contest.c
    .view-photo
      .item
        .photoframe
          = image_submit_tag("checked.png")
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '172', height: '172'
      .item
        .photoframe
          = image_submit_tag("checked.png")
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '172', height: '172'
      .item
        .photoframe
          = image_submit_tag("checked.png")
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '172', height: '172'
      .item
        .photoframe
          = image_submit_tag("checked.png")
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '172', height: '172'
      .item
        .photoframe
          = image_submit_tag("checked.png")
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '172', height: '172'
      .item
        .photoframe
          = image_submit_tag("checked.png")
          = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '172', height: '172'

    = link_to 'Upload Photo', '#', class: 'btn'
  .divider.clear
  %p.fs14.c.thin 
    By uploading a picture to the sponsorship contest you are
    %br/
    agreeing to our terms and conditions
  %p.fs14.c.thin.nomrg
    = link_to 'Terms and conditions', "#"

