%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock 5
              leaderboard
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      / .back.left
      /   %a.thin{href: '#'}
      /     %i.moderaIcons.m &lt;
      /     Back to profile
      .search-block.right.rel
        .search-visible
          %i.moderaIcons.b L
          = text_field_tag 'search', nil, :placeholder => 'Name \ Rank search'

.wrapper
  .width
    .container.rel
      .hall-of-fame    
        / .hall-of-fame-sort.right.rel
        /   .h1.textTransUpper.curpoint
        /     Top 50
        /     %i.moderaIcons.m &gt;
        /   .sort-dd.abs
        /     .dd-sign.r.curpoint
        /       Top 50
        /       %i.moderaIcons W
        /     .h1.curpoint Top 25%
        /     .h1.curpoint Top 50%
        /     .h1.curpoint Top 75%
        %h1.c Leaderboard
        .content-table
          .item-row.th.thin
            .npp.item-col &nbsp;
            .up-down.item-col &nbsp;
            .user.item-col Name
            .likes-count.item-col Votes
            .followers-count.item-col Followers
            .verified.item-col &nbsp;
            .prize.item-col Prizes
          .item-row.me
            .npp.h1.item-col 1
            .up-down.down.item-col
              %i.moderaIcons (
            .user.item-col.fs14
              %a.disblock.rel{href: '#', title: 'Marry Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic left', width: '42', height: '42'
                %span.nowrap.textOverhide Marry Poppins
              %span.nowrap.thin #Casual
            .likes-count.item-col
              %i.moderaIcons.m C
              %span.thin.fs14 1500
            .followers-count.item-col.fs14
              %b 987
              %span.thin Followers
            .verified.item-col
              %i.moderaIcons.rel.m C
              %span verified
            .prize.item-col
              %p.thin.nomrg.left
                = image_tag 'samples/contest_photo.png', alt: 'Contest name', width: '46', height: '46', class: 'left'
                Gift card from BOUJOI won in BOUJOI contest
          .item-row
            .npp.h1.item-col 2
            .up-down.up.item-col
              %i.moderaIcons )
            .user.item-col.fs14
              %a.disblock.rel{href: '#', title: 'Marry Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic left', width: '42', height: '42'
                %span.nowrap.textOverhide Marry Poppins
              %span.nowrap.thin #Casual
            .likes-count.item-col
              %i.moderaIcons.m C
              %span.thin.fs14 1500
            .followers-count.item-col.fs14
              %b 987
              %span.thin Followers
            .verified.item-col
              %i.moderaIcons.rel.m C
              %span verified
            .prize.item-col
              %p.thin.nomrg.left
                = image_tag 'samples/contest_photo.png', alt: 'Contest name', width: '46', height: '46', class: 'left'
                For
                %br/
                1
                %sup st
                place
              %p.thin.nomrg.left
                = image_tag 'samples/contest_photo.png', alt: 'Contest name', width: '46', height: '46', class: 'left'
                For
                %br/
                2
                %sup nd
                place
          .item-row
            .npp.h1.item-col 3
            .up-down.down.item-col &nbsp;
            .user.item-col.fs14
              %a.disblock.rel{href: '#', title: 'Marry Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic left', width: '42', height: '42'
                %span.nowrap.textOverhide Marry Poppins
              %span.nowrap.thin #Casual
            .likes-count.item-col
              %i.moderaIcons.m C
              %span.thin.fs14 1500
            .followers-count.item-col.fs14
              %b 987
              %span.thin Followers
            .verified.item-col &nbsp;
            .prize.item-col
              %p.thin.nomrg.left
                = image_tag 'samples/contest_photo.png', alt: 'Contest name', width: '46', height: '46', class: 'left'
                Gift card from BOUJOI won in BOUJOI contest
          .item-row
            .npp.h1.item-col 4
            .up-down.up.item-col &nbsp;
            .user.item-col.fs14
              %a.disblock.rel{href: '#', title: 'Marry Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic left', width: '42', height: '42'
                %span.nowrap.textOverhide Marry Poppins
              %span.nowrap.thin #Casual
            .likes-count.item-col
              %i.moderaIcons.m C
              %span.thin.fs14 1500
            .followers-count.item-col.fs14
              %b 987
              %span.thin Followers
            .verified.item-col
              %i.moderaIcons.rel.m C
              %span verified
            .prize.item-col &nbsp;
          .item-row
            .npp.h1.item-col 15
            .up-down.up.item-col &nbsp;
            .user.item-col.fs14
              %a.disblock.rel{href: '#', title: 'Marry Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic left', width: '42', height: '42'
                %span.nowrap.textOverhide Marry Poppins
              %span.nowrap.thin #Casual
            .likes-count.item-col
              %i.moderaIcons.m C
              %span.thin.fs14 1500
            .followers-count.item-col.fs14
              %b 987
              %span.thin Followers
            .verified.item-col &nbsp;
            .prize.item-col &nbsp;


        .fix-item
          .content-table
            .item-row
              .npp.h1.item-col 115k
              .up-down.up.item-col &nbsp;
              .user.item-col.fs14
                %a.disblock.rel{href: '#', title: 'Marry Poppins'}
                  = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic left', width: '42', height: '42'
                  %span.nowrap.textOverhide Marry Poppins
                %span.nowrap.thin #Casual
              .likes-count.item-col
                %i.moderaIcons.m C
                %span.thin.fs14 1500
              .followers-count.item-col.fs14
                %b 987
                %span.thin Followers
              .verified.item-col &nbsp;
              .prize.item-col &nbsp;