%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons D
          Style Contest
        %a.rel{href: '#'}
          %i.moderaIcons R
          %span.abs 6
          Get Prize
      .search-block.right.rel
        .search-visible
          %i.moderaIcons.b L
          = text_field_tag 'search', nil, :placeholder => 'Enter search term...'
        .search-dd-content.abs
          .search-tabs
            %span.asLink.disinbl.active
              %i.moderaIcons S
              Users
            %span.asLink.disinbl
              %i.moderaIcons #
              Tags
          %ul.search-list-user.disnone
            %li
              .btn.right Follow
              %a.textOverhide{href: '#', title: 'Mary Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '30', height: '30'
                %span Mary Poppins
            %li
              .btn.right Follow
              %a.textOverhide{href: '#', title: 'Mary Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '30', height: '30'
                %span Mary Poppins
            %li
              .btn.right Follow
              %a.textOverhide{href: '#', title: 'Mary Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '30', height: '30'
                %span Mary Poppins
            %li
              .btn.right Follow
              %a.textOverhide{href: '#', title: 'Mary Poppins'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '30', height: '30'
                %span Mary Poppins

          .faceplate.c
            %i.moderaIcons S
            %span.thin.disblock No users

          %ul.search-list-tag.disnone
            %li
              %a.disinbl{href: '#', title: '#Marypoppins'}
                %span.right 1,5k users
                %b #Marypoppins
            %li
              %a.disinbl{href: '#', title: '#Marypoppins'}
                %span.right 1,5k users
                %b #Marypoppins
            %li
              %a.disinbl{href: '#', title: '#Marypoppins'}
                %span.right 1,5k users
                %b #Marypoppins
            %li
              %a.disinbl{href: '#', title: '#Marypoppins'}
                %span.right 1,5k users
                %b #Marypoppins

          .faceplate.c.disnone
            %i.moderaIcons #
            %span.thin.disblock No #tags

          .see-all.curpoint.c See all
          
.wrapper
  .battle-list
    .trending-tags.c
      %h2 Trending #
      = link_to '#alicestafford', '#'
      = link_to '#alicestafford', '#'
      = link_to '#alicestafford', '#'
      = link_to '#alicestafford', '#'
      = link_to '#alicestafford', '#'
      = link_to '#alicestafford', '#'
      = link_to '#alicestafford', '#'
    .vs.abs.c
      %i.moderaIcons A 
    // example simple battle, left participant is luse
    .battle.disnone
      .participant.right
        .info-side.right
          .like-count.h1.curpoint
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint
            %i.moderaIcons H
            1k
          .timeline
            %i.moderaIcons G
            2h
          .share-panel.right.disnone
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.left
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
      

      .participant.left
        .info-side.left
          .like-count.h1.curpoint.r
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint.active.r
            %i.moderaIcons H
            1k
          .timeline.r
            %i.moderaIcons G
            2h
          .share-panel.right
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe.left.grayscale
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.right
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink.active Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

    // example comments-block, comment belongs left participant
    .battle
      .comment-block.right
        %div
          .close.curpoint.right &times;
          %span.asLink.right See previous
          %h3 
            Comments
            %span 1022
          .list-comments
            .comment-item
              .time.right 2h
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
              %br/
              %span Lorem Ipsum set amet comment
            .comment-item
              .time.right 2h
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
              %br/
              %span Lorem Ipsum set amet comment
            .comment-item
              .time.right 2h
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
              %br/
              %span Lorem Ipsum set amet comment
            .comment-item
              .time.right 2h
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
              %br/
              %span Lorem Ipsum set amet comment
            .comment-item
              .time.right 2h
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
              %br/
              %span Lorem Ipsum set amet comment
            .comment-item
              .time.right 2h
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
              %br/
              %span Lorem Ipsum set amet comment

        // only if hasn't comments
        .faceplate.disnone.c
          %i.moderaIcons H
          %span.thin Be the first to comment

        %form.form-comment.rel{action: '#'}
          %h3 Leave Comment
          = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left m', width: '42', height: '42'
          = text_field_tag 'comment', nil, placeholder: '@Katy Franklin', class: 'left'
          = submit_tag 'Post', class: 'btn left'
          .comment-mention.abs.disnone
            %ul.search-list-mention
              %li
                %a.textOverhide{href: '#', title: 'Katy Franklin'}
                  = image_tag 'samples/username_pic.png', alt: 'Katy Franklin', class: 'userpic', width: '30', height: '30'
                  %span Katy Franklin
              %li
                %a.textOverhide{href: '#', title: 'Katy Franklin'}
                  = image_tag 'samples/username_pic.png', alt: 'Katy Franklin', class: 'userpic', width: '30', height: '30'
                  %span Katy Franklin
              %li
                %a.textOverhide{href: '#', title: 'Katy Franklin'}
                  = image_tag 'samples/username_pic.png', alt: 'Katy Franklin', class: 'userpic', width: '30', height: '30'
                  %span Katy Franklin

      .participant.left
        .info-side.left
          .like-count.h1.curpoint.r
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint.active.r
            %i.moderaIcons H
            1k
          .timeline.r
            %i.moderaIcons G
            2h
          .share-panel.right
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe.left.grayscale
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.right
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink.active Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

    // example voters-list, voters-list belongs left participant
    .battle.disnone
      .voters-block.right
        %div
          .close.curpoint.right &times;
          %h3 Voters
          .voters-list
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster
            .voter-item
              .btn.right Follow
              %a{href: '#'}
                = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                %b Mary Poppins
                %br/
                %span #Hipster

        // only if hasn't votes
        .faceplate.c.disnone
          %i.moderaIcons C
          %span.thin No votes

      .participant.left
        .info-side.left
          .like-count.h1.curpoint.active.r
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint.r
            %i.moderaIcons H
            1k
          .timeline.r
            %i.moderaIcons G
            2h
          .share-panel.right
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe.left.grayscale
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.right
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink.active Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

// open
.mojo.disnone
  .width
    .mojo-tongue.abs.c
      %i.moderaIcons.b W
    .mojo-load.left
      .left
        %i.moderaIcons C
        %br/
        %b Mojo
      %span.disinbl.asLink.textUnderline Mojo List
      .bar.left
        .progress{style: 'width: 20%'}
    .mojo-message.left.c
      %i.moderaIcons D
      You got 540 votes on
      %b Red Bull Lifestyle Contest
    .mojo-action.left
      .go-mojo-list.left.asLink
        %i.moderaIcons.m C
        %span Mojo List
      .mojo-share.left.asLink
        %i.moderaIcons.m I
        %span Share
      .mojo-skip.left.asLink
        %i.moderaIcons.b K
        %span Skip

// closed
.mojo.closed.disnone
  .mojo-tongue.abs.c
    %i.moderaIcons.b V
  .mojo-load
    .left
      %i.moderaIcons C
      %br/
      %b Mojo
    .bar.left
      .progress{style: 'width: 20%'}

// mojo-list
.mojo.above.disnone
  .width
    .mojo-tongue.abs.c &times;
    .mojo-load      
      .h1.right.r 35%
      .left
        %i.moderaIcons C
        %br/
        %b Mojo
      .bar.left
        .progress{style: 'width: 35%'}
      .fs14.clear.r You can do better
    .mojo-list-container.rel
      %ul
        %li.item
          .mojo-close.right.curpoint Later            
          .btn.right Start
          %i.moderaIcons.m.right D 
          .mojo-vote.left
            %b.disinbl 10
            vote
          %p
            Upload your first photo -
            %b 10
            votes
        %li.item
          .mojo-close.right.curpoint Later            
          .btn.right Start
          %i.moderaIcons.m.right B
          .mojo-vote.left
            %b.disinbl 10
            vote
          %p
            Connect you social networks -
            %b 5
            votes for each
        %li.item
          .mojo-close.right.curpoint Later            
          .btn.right Start
          %i.moderaIcons.invite.right H 
          .mojo-vote.left
            %b.disinbl 10
            vote
          %p
            Invite your Facebook Friends -
            %b 5
            votes per 50 invites

// mojo-popup
.overlay.disnone
  .mojo-popup.disnone
    %h1.c Congratulations
    .mojo-card.c
      .mojo-vote
        %b.disblock 20
        %span.textTransUpper votes
      .h1 Mojo Card
      %p.c 
        Great Start! Don't stop now!
        %br/
        Let everyone know who you are!
      .btn.active Spend

// mojo-notifications
.mojo.disnone
  .mojo-notification.c
    .mojo-message.disinbl
      .mojo-vote.right
        %b.disinbl.rel.fs14 10
        points
      %i.moderaIcons D
      You got 540 votes on
      %b Red Bull Lifestyle Contest
    .mojo-action.disinbl
      .mojo-share.asLink.left
        %i.moderaIcons.m I
        %span Share

// popup-notification
.mojo.disnone
  .mojo-notification.c
    .mojo-message.disinbl.nobrd
      %i.moderaIcons B
      %b.happy Great win!
      You just win
      %a{href: '#', title: 'Nodir Mirsaid'}
        %b Nodir Mirsaid
      in power hour
      %span.close.curpoint.m &times;

/ Share by email
.popup.disnone
  .close.right &times;
  %h1 Share by email
  %form.joinTwitter-form{action: '#'}
    %p.fs14 Please, enter your email
    %label.disblock.rel
      %span.close-error.abs &times;
      %span.message-error.abs Error message
      %input{type: 'email', placeholder: 'Email'}
    .divider.clear
    .c
      %input.btn.active{type:'submit', value: 'Submit'}
      %input.btn{type:'submit', value: 'Cansel'}
