%header
  .top-panel
    .width
      .nav-lp.right
        %b.textTransUpper.curpoint Login
        .btn.active Join to Modera
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'

.page-slider-container.overhide
  .item.page-slide-1
    = image_tag 'lp/slide_1.jpg', alt: 'Modera', class: 'background'
    .infoPlate
      .width
        %ul.moderaStep
          %li
            %i.moderaIcons E
            %p
              %em Upload your photos to get votes and quickly see how your lifestyle stacks up against the best.
          %li
            %i.moderaIcons D
            %p
              %em Complete with others from within your selected style category.
          %li
            %i.moderaIcons C
            %p
              %em Defeat your opponent's photos and one by one climb your way up the Hall of Fame.
          %li
            %i.moderaIcons R
            %p.nobrd
              %em Be the best and win prizes from some of the most amazing brands.
      .changePage.curpoint

  .item.page-slide-2.disnone
    = image_tag 'lp/slide_2.jpg', alt: 'Upload photo', class: 'background'
    .infoPlate
      .width
        .text-slider-container.rel
          %span.prev
          %span.next
          .text-slider-item
            Upload your best pictures and compete against others with the same style and taste as you.
      .changePage.curpoint

  .item.page-slide-3.disnone
    .style-box
      %div
        %span Vintage
        = image_tag 'lp/vintage.jpg', alt: 'Vintage'
      %div
        %span Casual
        = image_tag 'lp/casual.jpg', alt: 'Casual'
      %div
        %span Urban
        = image_tag 'lp/urban.jpg', alt: 'Urban'
      %div
        %span Hipster
        = image_tag 'lp/hipster.jpg', alt: 'Hipster'
      %div
        %span Glamour
        = image_tag 'lp/glamour.jpg', alt: 'Glamour'
    .infoPlate
      .width
        .text-slider-container.rel
          %span.prev.disnone
          %span.next.disnone
          .text-slider-item
            Five unique style categories to compete in and win prizes.
      .changePage.curpoint

  .item.page-slide-4.disnone
    = image_tag 'lp/slide_4.jpg', alt: 'Upload photo', class: 'background'
    .infoPlate
      .width
        .text-slider-container.rel
          %span.prev.disnone
          %span.next.disnone
          .text-slider-item
            Upload your most stylish photos. And start taking the votes from your opponents.
      .changePage.curpoint

  .item.page-slide-5.disnone
    = image_tag 'lp/slide_5.jpg', alt: 'Upload photo', class: 'background'
    .c.white-block.rel
      %span Compete with others 
      %br/
      %span.disk-border 
        %small.m &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; 
        in the 
        %small.m &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679;
      %br/
      %b same style category as you.
    .infoPlate
      .width
        .text-slider-container.rel
          %span.prev
          %span.next
          .text-slider-item
            With every win you climb the style rankings and your photos gain more exposure and votes in the process
      .changePage.curpoint

  .item.page-slide-6.disnone
    = image_tag 'lp/slide_6.jpg', alt: 'Upload photo', class: 'background'
    .infoPlate
      .width
        .text-slider-container.rel
          %span.prev
          %span.next
          .text-slider-item
            Compete with other users, inspire others and be inspired by everyone's unique style and play the "Style Challenge" game with friends. For a chance to win prizes from our sponsors
      .changePage.curpoint
  .item.page-slide-7.disnone
    = image_tag 'lp/slide_7.jpg', alt: 'Upload photo', class: 'background'
    .static-page
      .width.rel
        .static-page-container
          %h1.c List Of Brands
          .brands
            = link_to (image_tag 'brands/alexander_star-1.jpg', alt: 'alexander star-1'), '/profiles/MrAlexanderStar'
            = link_to (image_tag 'brands/saggin_hard.jpg', alt: 'saggin hard'), '/profiles/Sagginhard'
            = link_to (image_tag 'brands/renowned_clothing.jpg', alt: 'renowned clothing'), '/profiles/renownedclothing'
            
            = link_to (image_tag 'brands/guapsco.jpg', alt: 'guapsco'), '/profiles/guapske'
            = link_to (image_tag 'brands/black_viola.jpg', alt: 'black viola'), '/profiles/BlackViolin'
            = link_to (image_tag 'brands/111Crazy_Ass_Pic.jpg', alt: '111Crazy Ass Pic'), '#'
            = link_to (image_tag 'brands/Boujoi.jpg', alt: 'Boujoi'), '#'
            = link_to (image_tag 'brands/StrikesUnlimited.jpg', alt: 'StrikesUnlimited', height: '321'), '/profiles/StrikesUnlimited'
            = link_to (image_tag 'brands/fab_fem.jpg', alt: 'fab fem'), '/profiles/fabfem'
            = link_to (image_tag 'brands/IsaiahMicahCo.jpg', alt: 'IsaiahMicahCo'), '/profiles/IsaiahMicahCo'
            = link_to (image_tag 'brands/OLLAGIO.jpg', alt: 'OLLAGIO'), '#'
            = link_to (image_tag 'brands/jalisas.jpg', alt: 'jalisas'), '/profiles/jalisasfiles'
            = link_to (image_tag 'brands/motorcycle-maps.jpg', alt: 'motorcycle-maps'), '/profiles/MotorcycleMaps'
            = link_to (image_tag 'brands/nikki_rich.jpg', alt: 'nikki rich'), '/profiles/MsNikkiRich'
          .toTop.curpoint
            %i.moderaIcons.clear V
            %span.disinbl Back to Top

%footer
  .width
    .right
      &copy;2013 
      = link_to 'Tebecom, Inc', '/about', class: 'nopad'
    = link_to 'About us', '/about'
    = link_to 'Blog', 'http://blog.modera.co'
    = link_to 'Terms of Service', '/tos'
    = link_to 'Privacy Policy', '/privacy'
    = link_to 'Feedback', '/feedback'


.overlay.disnone

/ Sign up with your email
.popup.disnone
  .close.right &times;
  %h1 Sign up with your email
  %form.signupEmail-form{action: '#'}
    %fieldset.right
      %label.disblock.rel
        %span.close-error.abs &times;
        %span.message-error.abs Error message
        %input{type: 'text', placeholder: 'Username'}
      %label.error.disblock.rel
        %span.close-error.abs &times;
        %span.message-error.abs Email can't be blank
        %input{type: 'email', placeholder: 'Email', value:""}
      %label.disblock.rel
        %span.close-error.abs &times;
        %span.message-error.abs Error message
        %input{type: 'password', placeholder: 'Password'}
    %fieldset.left.c
      .load-avatar.error.rel
        %span.close-error.abs &times;
        = image_tag 'samples/default-avatar.png'
      %input{type: 'file', id: 'user_avatar'}
      .btn{onclick: "$('#user_avatar').click()"} Upload your Photo
    .divider.c.clear
      %i.moderaIcons.rel C
    %p.fs14.c
      or can always sign up using
      %a.facebookColor{href: '#'} Facebook
      or
      %a.twitterColor{href: '#'} Twitter
      account.
    %p.fs14.c
      By creating an account, you agree to the
      %a.textUnderline{href: '#'} Terms of service
      and
      %a.textUnderline{href: '#'} Privacy Policy.
    .c
      %input.btn.active{type: "submit", value: 'Create Account'}

/ Join to modera
.popup.disnone
  .close.right &times;
  %h1 Join to Modera
  .joinModera-form
    %a.joinFacebook.c.disblock{href: '#'}
      %i.moderaIcons.left f
      %span Join with Facebook
    %a.joinTwitter.c.disblock{href: '#'}
      %i.moderaIcons.left t
      %span Join with Twitter
    %a.joinInstagram.c.disblock{href: '#'}
      %i.moderaIcons.left i
      %span Join with Instagram
    .divider.c.clear
      %i.moderaIcons.rel C
    %p.fs14.c
      or 
      %a.textUnderline{href: '#'} sign up
      with your email
    %p.fs14.c
      By creating an account, you agree to the
      %a.textUnderline{href: '#'} Terms of service
      and
      %a.textUnderline{href: '#'} Privacy Policy.

/ Log in
.popup.disnone
  .close.right &times;
  %h1 Log in  
  %form.loginModera-form{action: '#'}
    .right.error     
      %input{type: 'email', placeholder: 'Email'}
      %input{type: 'password', placeholder: 'Password'}
      %span.message-error Error message
      %a.right.textUnderline{href: '#'} Forgot Password?
    .left
      %a.loginFacebook.c.disblock{href: '#'}
        %i.moderaIcons.left f
        %span Login with Facebook
      %a.loginTwitter.c.disblock{href: '#'}
        %i.moderaIcons.left t
        %span Login with Twitter
      %a.loginInstagram.c.disblock{href: '#'}
        %i.moderaIcons.left i
        %span Login with Instagram
    .divider.clear
    %input.btn.active.right{type:'submit', value: 'Login'}

/ Forgot password
.popup.disnone
  .close.right &times;
  %h1 Forgot your password?
  %form.forgotPass-form{action: '#'}
    %p.fs14 To reset your password, enter your email address and we'll send you instructions on how to create a new password.
    %label.disblock.rel.c.success
      %span.close-error.abs &times;
      %span.message-error.abs Error message
      %span.message-success.abs Success message
      %input{type: 'email', placeholder: 'Email'}
    .divider.clear
    %input.btn.active.right{type:'submit', value: 'Submit'}

/ Join with twitter
.popup.disnone
  .close.right &times;
  %h1 Join with Twitter
  %form.joinTwitter-form{action: '#'}
    %p.fs14 Please, enter your email
    %label.disblock.rel.c
      %span.close-error.abs &times;
      %span.message-error.abs Error message
      %input{type: 'email', placeholder: 'Email'}
    .divider.clear
    %input.btn.active.right{type:'submit', value: 'Join'}

/ New Password
.popup.disnone
  .close.right &times;
  %h1 New Password
  %form.newPass-form{action: '#'}
    %p.fs14 Lorem ipsum set amet dolor
    %label.disblock.rel.c
      %span.close-error.abs &times;      
      %span.message-error.abs Error message
      %input{type: 'password', placeholder: 'New Password'}
    %label.disblock.rel.c
      .close-error.abs &times;
      %input{type: 'password', placeholder: 'New Password Confirmation'}
    .divider.clear
    %input.btn.active.right{type:'submit', value: 'Ok'}


/ feedback
.popup.disnone
  .close.right &times;
  %h1 Feedback
  %form.newPass-form{action: '#'}
    %p.fs14 Give any feedback or suggestion
    %label.disblock.rel.c
      %span.close-error.abs &times;      
      %span.message-error.abs Error message
      %input{type: 'text', placeholder: 'Name'}
    %label.disblock.rel.c      
      %span.close-error.abs &times;
      %span.message-error.abs Error message
      %input{type: 'email', placeholder: 'Email'}
    %label.disblock.rel.c
      %textarea{rows:'5', placeholder: 'Message'}
    .divider.clear
    %input.btn.active.right{type:'submit', value: 'Submit'}