%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'

.wrapper
  // step 1
  .invite.fixed.c
    .container
      %h1.title Invite Friends
      .invite-form
        .inviteFacebook.c
          %i.moderaIcons.left f
          %span Invite friends from Facebook
      .btn Skip

  // step 2
  .invite.fixed.disnone
    .container
      .invite-tape
        %h1.title.c Invite Friends
        .overhide
          .right
            %a.btn{:href=>'/home'} Skip
            .btn.active Done
          .left.l
            %h2.fs14 Facebook invite
            %span.fs14 Invite friends to Modera

        .result-panel
          %form{action: '#'}
          = submit_tag 'Invite all', class: 'right btn active'
          .h1
            %span 645
            friends found  
        %ul.friend-list.view-list
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins
          %li.item
            .btn.right Invite
            %a.textOverhide{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '40', height: '40'
              %span Mary Poppins