%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons &lt;
          Back
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.fixed.static
  = image_tag 'about/bg_Jule.jpg', alt: "Jule Rizzardo", style:"width:100%; height:auto; margin-top:106px;"
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Top Secret 007 Agent
        %p
          %b What are you paid to do at Modera?
          %span I am a Word Artist... I turn fashion and lifestyle topics into artful, fun, fresh blog posts.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yes, in the 1997 floods!
        %p
          %b What is your favorite style from Modera?
          %span Most definitely love the Urban style!
        %p
          %b Pumps or wedges?
          %span Wedges for sure.
        %p
          %b Favorite watch style?
          %span The classic pocket watch.
        %p
          %b Who is your favorite actor?
          %span Morgan Freeman
        %p
          %b Mac or PC?
          %span PC
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk
        %p
          %b If you could have a super power what would it be?
          %span If just one choice i had, Jedi Mind Power, it would be.
        %p
          %b Do you believe in unicorns?
          %span Yes.