%header
  .top-panel
    .width
      .nav-lp.right
        %a.app.disinbl.m{href: 'https://itunes.apple.com/us/app/modera/id601156944'}
        .btn.active Join
        .btn Log in
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'

.wrapper
  .example-battle.rel
    / = link_to 'Login with Facebook', user_omniauth_authorize_path(:facebook), class: "facebook thin l"
    / = link_to 'Login with Twitter', user_omniauth_authorize_path(:twitter), class: "twitter thin l"
    %h1.c Vote to help us figure out your favorite style!      
    
    #vote-label.click.abs Click to vote
    
    .vs.abs.c
      %i.moderaIcons A 
    // example simple battle, left participant is luse
    .battle
      .participant.right
        .info-side.right
          .like-count.h1.curpoint
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint
            %i.moderaIcons H
            1k
          .timeline
            %i.moderaIcons G
            2h
        .photoframe
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.left
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
      

      .participant.left
        .info-side.left
          .like-count.h1.curpoint.r
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint.r
            %i.moderaIcons H
            1k
          .timeline.r
            %i.moderaIcons G
            2h
        .photoframe.left
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.right
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
            %span.asLink.active Share
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

    .clear
      .progress-bar-block.overhide
        .circle.left
          %span 5
        %h2 Choose 5 more
        .bar.rel
          .polzunok.abs
      
      .easy_as
        %h1 It's easy as...
        %ul.thin.fs14
          %li Share images from your phone, computer, or social accounts.
          %li Get votes and vote for others. Start challenges and join sponsored contests.
          %li Win up to $500 gift certificates for big name brands and flaunt your style.
      
      #video.c
        %iframe{width: "560", height: "315", src: "http://www.youtube.com/embed/DFTHLbuHzxA?rel=0", frameborder: "0"}

%footer
  .width
    .right
      &copy;2013 
      = link_to 'Tebecom, Inc', '/about'
    = link_to 'About us', '/about'
    = link_to 'Blog', 'http://blog.modera.co'
    = link_to 'Terms of Service', '/tos'
    = link_to 'Privacy Policy', '/privacy'
    = link_to 'Feedback', '/feedback'
