%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#hall_of_fame'}
              %i.moderaIcons.disblock 5
              LeaderBoards
          %li
            %a{href: '#photos/new'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#notifications'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#notifications/followings'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#notifications/comments'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#notifications/actions'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: '[username]'}
              = image_tag 'samples/username_pic.png', alt: '[username]', class: 'userpic', width: '30', height: '30'
              %span [username]
          %li.rel.active  
            %span.curpoint          
              %i.moderaIcons.m W
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '/profiles/[user]#settings'}
          %i.moderaIcons @
          Settings
        %a{href: '/home/invitation'}
          %i.moderaIcons +
          Find Friends
        %a{href: '/logout'}
          %i.moderaIcons [
          Log Out
      .w-nav.left
        %a.active.about{href: '/about'}
          %i.moderaIcons C
          About
        %a.brands{href: '/pages/brands'}
          %i.moderaIcons Z
          Brands
        %a.help{href: '/pages/help'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'active menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div 
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static
      %h2 [title of page]