%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons &lt;
          Back
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.fixed.static
  = image_tag 'about/bg_Lynne.jpg', alt: "Lynne Pattalock-Barker", style:"width:100%; height:auto; margin-top:106px;"
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Fashion and Photography evangelist and intense foodie, oh and don't forget content editor.
        %p
          %b What are you paid to do at Modera?
          %span I have the most amazing job in the world. I get to play with the newest trends in fashion, be visually stimulated by photografy and blog all about it.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span I am pleading the fifth as it would violate a few laws to admit that I have.
        %p
          %b What is your favorite style from Modera?
          %span Yes!!! Oh wait, you mean I have to pick one? Sorry, I am an equal opportunist.
        %p
          %b Pumps or wedges?
          %span Wedges as they allow me to keep up with my dogs, son and husband without breaking my ankle.
        %p
          %b Favorite watch style?
          %span Love the bracelet watch in platinum or leather.
        %p
          %b Who is your favorite actor?
          %span Morgan Freeman, and I have confirmed that he is still alive.
        %p
          %b Mac or PC?
          %span I use both but create magic on :my iMac
        %p
          %b Captain Kirk or Spock?
          %span Spock of course, who do you think tells Kirk what to do and saves his butt.
        %p
          %b If you could have a super power what would it be?
          %span To control the elements like an Airbender.
        %p
          %b Do you believe in unicorns?
          %span Unicorns represent the purest form of imagination and creativity... of course I do.