%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons &lt;
          Back
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.fixed.static
  = image_tag 'about/bg_Michael.jpg', alt: "Michael Paulmarie", style:"width:100%; height:auto; margin-top:106px;"
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span I honestly couldn't tell you.  I'm not even sure what my title is half the time.
        %p
          %b What are you paid to do at Modera?
          %span I'm paid to do.  And do it well.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span It depends on what you consider work.
        %p
          %b What is your favorite style from Modera?
          %span Whichever style I am in for the day.  I get bored easily so it just depends on my mood.
        %p
          %b Favorite watch style?
          %span My cell phone.  It tells time well.  I'm not nearly successful enough to know anything about watches, or cigars for that matter.
        %p
          %b Who is your favorite actor?
          %span Jamie Foxx
        %p
          %b Mac or PC?
          %span I'm a PC guy but some things just need that Mac touch.
        %p
          %b If you could have a super power what would it be?
          %span I have one.  I call it being alive.
        %p
          %b Do you believe in unicorns?
          %span Modera is a Unicorn.