%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons &lt;
          Back
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.fixed.static
  = image_tag 'about/bg_Nodir.jpg', alt: "Nodir Mirsaid", style:"width:100%; height:auto; margin-top:106px;"
  .info.right
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Co-founder and COO
        %p
          %b What are you paid to do at Modera?
          %span I can’t take money from my child. 
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span In a day? There is only 24 hours, but I’m doing my best to work more than 24 hours.
        %p
          %b What is your favorite style from Modera?
          %span Casual is mine.
        %p
          %b Pumps or wedges?
          %span I like Pumps, think Gava pumps from Isabel Marant are good. But not so comfortable to wear for me.
        %p
          %b Favorite watch style?
          %span Breitling are my favorite. GT edition are awesome
        %p
          %b Who is your favorite actor?
          %span Russell Crowe.
        %p
          %b Mac or PC?
          %span What's the question? Mac of course.
        %p
          %b Captain Kirk or Spock?
          %span Spock \/
        %p
          %b If you could have a super power what would it be?
          %span I already have the force, I’m just raising it to became Sith Lord.
        %p
          %b Do you believe in unicorns?
          %span I was pitching my project to one of them at the plane