%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock 5
              leaderboard
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new Activity
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a{href: '#'}
          %i.moderaIcons.disinbl S
          Followers
          %span 500
        %a{href: '#'}
          %i.moderaIcons.disinbl H
          Comments
          %span 3
        %a.active{href: '#'}
          %i.moderaIcons.disinbl C
          Activity
          %span 25

.wrapper
  .width.disnone
    .container.rel
      %h1.c Notifications
      // Activity notifications
      %section.disnone
        %h2.rel
          New ACTIVITY
          %span 25
        .notification-list.view-list
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                voted for your
                %a.textUnderline{href: '#'} photo
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              .not-poster.left
                = image_tag 'samples/contest.jpg', alt: 'Contest', width: '271', height: '184', class: 'm'
              .poster-block-text
                .h1.c #Contestname
                %p.c Just Started
                %p.c Who doesn't want a life-size Darth Vader bust? Sideshow Collectibles is giving one Star Wars fan a chance to win this bust for their collection. Enter before December 21.
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin
                Your friend
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                from Facebook just joined Modera
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy D
              %p.fs14.nomrg.thin
                Your
                %a.textUnderline{href: '#'} photo
                has been reported

        %h2 Older
        .notification-list.view-list
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy C
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                ,
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Anna Black
                and
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Rose Smith
                vote your
                %a.textUnderline{href: '#'} photo
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy C
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                and
                %span.textUnderline.asLink 19 other
                people vote your
                %a.textUnderline{href: '#'} photo
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-poster.left
                = image_tag 'samples/contest.jpg', alt: 'Congratulations!', class: 'm'
              .poster-block-text
                .h1.c Congratulations
                %p.c 
                  you won
                  %br/
                  = link_to 'BOUJOI Contest', '#'
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-poster.left
                = image_tag 'samples/contest.jpg', alt: 'Contest', width: '271', height: '184', class: 'm'
              .poster-block-text
                .h1.c #Contestname
                %p.c has just finished
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .c.fs14.place
                %i.moderaIcons.happy.m )
                You just moved to 
                %a.textUnderline{href: '#'} 
                  12
                  %sub th
                place
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-poster.left
                = image_tag 'ten_place.jpg', alt: 'Contest', width: '271', height: '177', class: 'm'
              .poster-block-text
                %p.c 
                  You are in the top 10 users in
                  %br/
                  %a{href: '#'} BOUJOI contest
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left                
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                mentioned you in comments
                %a{href: '#'}
                  @
                  %b Mary Poppins
                said:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...

      // Comments notifications
      %section.disnone
        %h2.rel
          New COMMENTS
          %span 3
        .notification-list.view-list     
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your
                %a{href: '#'} photo:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your
                %a{href: '#'} photo:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your
                %a{href: '#'} photo:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...

        %h2 Older
        .notification-list.view-list
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your
                %a{href: '#'} photo:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your
                %a{href: '#'} photo:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your
                %a{href: '#'} photo:
                %i
                  Lorem
                  %a{href: '#'} #ipsum
                  has been the industry's
                  %a{href: '#'} #standart
                  dummy text ever...

      // Followers notifications
      %section.disnone
        %h2.rel
          New Followers
          %span 500
        .notification-list.view-list    
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started following you  
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Anna Black'}
                  = image_tag 'samples/username_pic.png', alt: 'Anna Black', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Anna Black'}
                  %b Anna Black
                you follow just won a contest  
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started following you 
        %h2 Older
        .notification-list.view-list    
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started following you  
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Anna Black'}
                  = image_tag 'samples/username_pic.png', alt: 'Anna Black', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Anna Black'}
                  %b Anna Black
                you follow just won a contest  
          // about notification
          .item
            .right
              .timeline.right 1min ago
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started following you 

  // only if hasn't history of power hour
  .faceplate.c
    %i.moderaIcons F
    %span.thin.disblock There is no activity to show at the moment