%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        = link_to 'Your news', '#'
        = link_to 'Following news', '#', class: 'active'

.wrapper
  .width
    .container.rel
      %section
        %h1.c Today
        .notification-list.view-list        
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started following you
                %a{href: '#', title: 'Trish Papadakos'}
                  %b Trish Papadakos     
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                vote for
                %a{href: '#', title: 'Katy P.'}
                  %b Katy P.
                photo
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                added
                %a{href: '#'} 3 photos
                to
                %a{href: '#'} #Contestname
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/contest.jpg', alt: 'Contest', width: '271', height: '184', class: 'm'
              .poster-block-text
                .h1.c #Contestname has finished
                %p.c
                  You are
                  %span.h1 130
                  %sup th
                %p.c.thin You should try next time
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/contest.jpg', alt: 'Contest', width: '271', height: '184', class: 'm'
              .poster-block-text
                .h1.c #Contestname at finish line
                %p.c.thin
                  %span.h1 2
                  day last
                %p.c Harry up
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/contest.jpg', alt: 'Contest', width: '271', height: '184', class: 'm'
              .poster-block-text
                .h1.c #Contestname has begun!
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'first_place.jpg', alt: 'Contest', width: '271', height: '177', class: 'm'
              .poster-block-text
                .h1.c GOODLIKE!
                %p.c You're most popular user in Modera!
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'third_place.jpg', alt: 'Contest', width: '271', height: '177', class: 'm'
              .poster-block-text
                .h1.c AMAZING!
                %p.c You entered to the top 3 fashionable users!
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'ten_place.jpg', alt: 'Contest', width: '271', height: '177', class: 'm'
              .poster-block-text
                .h1.c WONDERFULL!
                %p.c You have entered to the top 10 popular users!                
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                join to cintest
                %a{href: '#'} #contestname
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left contest
                %a{href: '#'} #contestname
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started Power Hour