%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        = link_to 'Your news', '#', class: 'active'
        = link_to 'Following news', '#'

.wrapper
  .width
    .container.rel
      %section
        %h1.c Today
        .notification-list.view-list
          // about notification
          .item.new
            .right.share-open
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                started following you
          // about notification
          .item.new
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin
                Your Facebook friend
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                just joined Modera as 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                left a comment on your photo: Lorem
                %a{href: '#'} #ipsum
                has been the industry's
                %a{href: '#'} #standart
                dummy text ever...
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left                
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                mentioned you in comments
                %a{href: '#'}
                  @
                  %b Mary Poppins
                said: Lorem
                %a{href: '#'} #ipsum
                has been the industry's
                %a{href: '#'} #standart
                dummy text ever...

      %section
        %h1.c Older
        .notification-list.view-list
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44'
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                vote your
                %a{href: '#'} photo
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '92', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.lose X
              %p.fs14.nomrg.thin
                Unfortunately you lose to your friend
                %a{href: '#', title: 'Anna Black'}
                  %b Anna Black
          // about notification
          .item.group
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy C
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                and
                %span.textUnderline.asLink 19 other
                people vote your
                %a{href: '#'} photo
            .snippet.collapsed
              .snippet-content
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '92', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.lose X
              %p.fs14.nomrg.thin
                You just lose to
                %a{href: '#', title: 'Lisa Bowl'}
                  %b Lisa Bowl
                in 
                %a{href: '#'} &lt;Contestname&gt;
                style battle
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '92', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy Y
              %p.fs14.nomrg.thin
                You win
                %a{href: '#', title: 'Lisa Bowl'}
                  %b Lisa Bowl
                in 
                %a{href: '#'} &lt;Contestname&gt;
                style battle
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '92', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy B
              %p.fs14.nomrg.thin
                Great win! You just win
                %a{href: '#', title: 'Nodir Mirsaid'}
                  %b Nodir Mirsaid
                in power hour
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '92', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.lose B
              %p.fs14.nomrg.thin
                Ough! You lose to
                %a{href: '#', title: 'Nodir Mirsaid'}
                  %b Nodir Mirsaid
                in power hour
          // about notification
          .item.group
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy B
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                and
                %span.textUnderline.asLink 15 other
                people choose you as a winner in a power hour
              %p.nopad.nomrg.thin
                while
                %span.textUnderline.asLink 71 other
                voted against you.
            .snippet.collapsed
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy D
              %p.fs14.nomrg.thin
                You got 540 votes on
                %a{href: '#', title: 'Red Bull Lifestyle Contest'} Red Bull Lifestyle Contest
          // about notification
          .item.group
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '92', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy S
              %p.fs14.nomrg.thin
                You won over
                %a{href: '#', title: 'Marat Ibragimov'}
                  %b Marat Ibragimov
                and
                %span.textUnderline.asLink 15 other
                friends
            .snippet.collapsed
          // about notification
          .item.group
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              %a{href: '#', title: 'Dolore Setamet', class: 'right'}
                = image_tag 'samples/contest_photo.png', alt: 'Dolore Setamet', width: '44', height: '44', class: 'm'
              .not-icon.left         
                %i.moderaIcons.happy.letterspace
                  D
                  %sub #
              %p.fs14.nomrg.thin
                You just raised in top 10
                %a{href: '#'} #girls.
                %span.textUnderline.asLink 100 friends
                voted for you
              %p.nopad.nomrg.thin
                while
                %span.textUnderline.asLink 71 other
                voted against you.
            .snippet.collapsed
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/amazing.jpg', alt: 'You are so amazing', width: '272', height: '208', class: 'm'
              .poster-block-text
                .h1.c
                  You are so
                  = link_to 'amazing!', '#'
                %p.c 
                  you have over
                  %span.h1 3000
                  votes
                  %br/
                  In a power hour
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/contest-congratulations.jpg', alt: 'Congratulations!', width: '348', class: 'm'
              .poster-block-text
                .h1.c Congratulations
                %p.c 
                  you have over
                  %span.h1 150
                  votes
                  %br/
                  on
                  = link_to '#girls', '#'
                  contest
          // about notification
          .item.group
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left
                %i.moderaIcons.happy.m H
              %p.fs14.nomrg.thin
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                and
                %a.textUnderline{href: '#'} 4 other
                people
                %a.textUnderline{href: '#'} left a comment on your photo            
            .snippet.separated
              .snippet-content
                .item
                  .timeline.right 2h
                  %a{href: '#'}
                    = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                    %b Mary Poppins
                    %br/
                    %span Lorem Ipsum set amet comment
                .item
                  .timeline.right 2h
                  %a{href: '#'}
                    = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                    %b Mary Poppins
                    %br/
                    %span Lorem Ipsum set amet comment
                .item
                  .timeline.right 2h
                  %a{href: '#'}
                    = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                    %b Mary Poppins
                    %br/
                    %span Lorem Ipsum set amet comment
                .item
                  .timeline.right 2h
                  %a{href: '#'}
                    = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic left', width: '30', height: '30'
                    %b Mary Poppins
                    %br/
                    %span Lorem Ipsum set amet comment
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                and
                %a{href: '#'} 66 other
                started following
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/amazing.jpg', alt: 'You are so amazing', width: '272', height: '208', class: 'm'
              .poster-block-text
                .h1.c
                  Your Challenge has fineshed
                %p.c
                  You've get
                  %i.moderaIcons C
                  50 votes
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-poster.left
                = image_tag 'samples/amazing.jpg', alt: 'You are so amazing', width: '272', height: '208', class: 'm'
              .poster-block-text
                .h1.c
                  You have start Challenge
                %p.c
                  Hipster VS Vintage
                  %br/
                  Class: Medium
                  %br/
                  Bet: 4 votes
          // about notification
          .item
            .right
              .timeline.right 1min ago
              .share-block.left
                .asLink.right Share
                .share-panel.left
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
            .left
              .not-icon.left
                %a{href: '#', title: 'Dolore Setamet'}
                  = image_tag 'samples/username_pic.png', alt: 'Dolore Setamet', class: 'userpic', width: '42', height: '42'
              %p.fs14.nomrg.thin 
                %a{href: '#', title: 'Dolore Setamet'}
                  %b Dolore Setamet
                is challenging you in
                %a{href: '#'} power hour
