.hi-IE
  %p.c
    = image_tag "old_logo.jpg", alt: 'logo'
  %p.c
    Your browser has become older than my grandma.
    %br/
    Don't you mind to upgrade?
  %p.c
    - url = case @user_browser.type
    - when :opera then 'http://www.opera.com/download'
    - when :ie then 'http://www.microsoft.com/en-us/download/internet-explorer.aspx'
    - when :firefox then 'http://www.mozilla.org/en-US/firefox/new/'
    - when :safari then 'http://www.apple.com/safari/'
    - when :chrome then 'https://www.google.com/chrome/'
    - else 'https://www.google.com/chrome/'
    = link_to "Upgrade", url, target: :blank, class: "old-btn fs14"