%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div.active
          = link_to 'Our Story','/pages/our_story', class: 'active'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div 
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static

      %h1 Our story
      %p.c
        = image_tag 'static/office_copy.jpg', alt: 'Our story in graphic', width:'630'
      %p The Modera story is one of perseverance, tenacity, integrity and soulful people with a utopian idea for a start-up that is based around the idea of family, putting the team before the individual.  Modera is the story of an Uzbek start-up in the US that is far surpassing expectations and gaining great support along the way. See how the story unfolds as this international start-up rises like a phoenix from the ashes of minimal funding and some of the most turbulent economic times in recorded history to create the American dream.
      %p Our story begins in the Fall of 2010. The economic crisis is in full swing in Uzbekistan.  People have stopped buying, taking their money out of the banks causing an immediate crash and spreading scarcity across the economic landscape.
      %p At the time our CEO Sanjar was a top manager at the largest investment company in Uzbekistan. This gave him a magnified view of exactly what the nation was facing from a financial perspective. People were afraid of spending money as they could find no financial certainty anywhere, causing investment to slow to a halt.
      %p At this point we had established a performance proven team of individuals who had built various businesses, successfully ran hotels and obtained million dollar contracts. Our reputation preceded us and we were known not only as the top young professionals in the country, but as the team who could bring any project from zero to profitable.
      %p With the combined brilliance of these innovative and progressive thinking business minds we collectively decided to create a startup that would become what is known as Modera today. The team had an enormous amount of talent and experience in developing businesses, but not tackling the beast known as a “startup”.
      %p Countless hours and days were spent working on investment proposals and the startup concept. Soon two developers joined our team followed by several more. It seemed that everyone had a consuming passion for what we were doing, giving their time to our startup without asking for a salary but buying into the bigger picture with everyone working towards the same dream. The idea of creating an alternative sales channel and bringing brands and consumers closer together was just far more exciting than anything on the market at the time or presently.
      %p Within six month we all left our prestigious jobs and the stability they provided in exchange for complete and utter uncertainty. Without any experience, or a clear understanding of what we were doing, we left our income sources and used our own money to fund the venture, earning our start-up stripes in the process.
      %p Soon our CFO Marat joined the team and with four accomplished businessmen and three developers we spent a year and created the first prototype app. It was nothing special and as to be expected we launched and failed.  It didn’t stop us though because we knew we were on the right track.
      %p More often than not the best learning experience is failure. By this time Sanjar had spent all his personal savings and had to sell his car, and later his house.  We spent this money on hiring a professional team of developers and moved from a “garage” into a house in order to have an opportunity to work with the team of first-class developers we had assembled. We developed a project called PickItApp (Polyvore.com with an affiliate system).
      %p We then found Pillsbury - a top law firm in the United States that agreed to work with us on a deferred fee basis.  They helped us register Inc. in Delaware. We then we started testing our idea in New York, as we targeted the US market as it was then and remains now the most developed.
      %p Our team has already developed a solid core and hired the best developers in the region, who left their high salary jobs to work for free with Modera, all because they believed in the team and the dream.
      %p As a result of our field research with PickItApp in New York, Moscow, Munich and Tashkent we have ensured that our product is competitive and started working on finding the seed money investment necessary to launch.
      %p Our main strength was the team we had formed, capable of solving problems of any complexity level, and that the fact that we had survived the failures with our own money and become stronger, wiser and more pragmatic as a result. We had a feasible product and we had partners.  However, our main weakness was that we lived in Tashkent.  This was one of the reasons we had difficulties on every level of negotiations with the investors. Bryan Schreier, on behalf of Sequoia Capital, told us it was too early for them to invest in us and suggested that we join YCombinator, offering to send a recommendation letter to Paul Graham. We then decided it was critically important to be located in the United States in order to recruit investors from the Silicon Valley. Ramzi Fawakhiri, of N2V, told us we were too late for their early stage funding, while being too young for their growth stage investment. Therefore, we decided to attract not startup investors, but investors from other industries who were able to see the vision.
      %p We had more than 200 meetings looking for what we called “the right investor” and with that came many interesting stories of ego’s, bartering and paying it forward.
      %p 
        Big fish:
        %br/
        Right after the second Skype conversation he purchased tickets for us, booked a 5-star hotel in Dubai and along with that gave us an offer of a couple million dollars but it had a controlling stake attached to it. The offer seemed too good to be true, and it was. Having done intense research on this investor we learned that he needed controlling stake in order to resell our company, which meant we would be left in a very uncertain situation had we accepted his offer. We graciously rejected the generous deal, learning later that it was the right decision as it would have put us in a compromising position.
      %p
        The Hustler:
        %br/
        This was a very colorful character, as is the story that goes along with him.  We were very satisfied with the deal that he proposed.  He agreed to all of our terms and the documents were about to be signed. Then on the morning of the signing this man called Marat and asked “Why don’t you and Nodir leave Sanjar and come to Dubai with me? You are smart and prospective! Why would you need him on board? We will have an equal share and I’ll invest the $500k that you need to get started.” At Modera, integrity is incredibly important to us and we would never conduct business in such a manner. Needless to say, from then on we ceased any talks with him.
      %p
        The Middleman:
        %br/
        Portraying himself as a middleman this man tried to persuade us to give him 10% just for the opportunity to work with an Iranian investor. He did this in such an unprofessional manner, and pursued us for such a long time that we actually managed to obtain the investment and launch our beta without him.  The one positive that did come of these negotiations is that they prepared us for the future, as we now had all of the proper documentation that we would need in order properly solicit an investor. Ironically enough, he showed up right after we accomplished that agreeing to our terms.
      %p
        Real Angel:
        %br/
        At times things happen that can’t be explained, as though they are just meant to be.  At a time when we were in desperate need of capital for our start-up, a local businessman generously donated $30,000 dollars without any expectation in return. He gave the money because he had it to give and gave it to us on one condition.  The one thing he asked of us was that we one day do the same thing for another business. The transaction was sealed with a handshake and an exchange of the money in a paper bag, a scene seemingly straight out of a movie. It was exactly the inspiration we needed and we will be eternally grateful and will definitely make sure to pay it forward.
      %p The next six months we consumed ourselves in the task of finding an investor that would believe in our team and our utopian ideas.  We were able to pull two investors, one from the Middle East and one from South East Asia.  We obtained a combined amount of $500,000 from the two investors. It was a perfect match as they trusted in our vision and experience.  All they asked was that we provide the necessary reports and product information along with updates on growth.
      %p The time to tell was over it was time to prove and for that we needed to enter the US market.  In five months we collected an inventory of more than 150,000 products and went to conquer the US market with our PickitApp. The purpose of going to the United States was to start the direct marketing and distribution of our product, as well as to establish our office there.
      %p However, Mother Nature had other plans in mind.  We got stuck in Manhattan, New York watching Superstorm Sandy wreak havoc on the people.   Without Sandy we would have never decided to have the series of meetings that we had withour mentors during the storm.
      %p These meetings would change the direction of our company forever (special thanks to Artem Mikhlin and Sergei Burkoff). As a result of testing our product in the real world and of meeting with the mentors, we realized there wasn’t a problem getting people onto the app initially, the problem was that the users would never return and rarely invited friends to join. This gave us an extremely low ROI, because the customer acquisition cost was higher than the lifetime value of customer.
      %p We immediately made a decision to pivot and work hard on the virility of the product. In just one day we developed the prototype for Modera. We gathered test teams in Tashkent, Germany and the US and let them test our prototype. It was successful. Modera became the cherry on the top of the PickItApp pie.
      %p We then looked for a marketing partner in the US with the purpose to find our Guy Kawasaki.  Among the dozens of marketers we chose Shane Barker based upon his social media presence and marketing expertise.  He left his firm and joined us bringing along with him his team of vast resources while willingly covering many of his own expenses.
      %p Having ensured that the business concept of Modera worked and solving the two main problems of PickItApp by reducing CAC and increasing ROI, we started working day and night on our dream. This was the Aha! Moment that propelled us into another gear, and it pushes us forward every day.
      %p One of our biggest challenges had been successfully completed with the development of our website and iPhone app, the two main parts that we divided the project into. The campaign to start marketing Modera through social media has been a great triumph for us. As a result of our marketing campaign we have obtained 24,000 followers in just two months with more than 1,000 people waiting to be a part of our beta testing. That is a 450% growth rate!
      %p From Uzbekistan to California our passion for fashion, photography, design and more has brought this amazing bi-continent power team together as we build the ultimate lifestyle website. Our “muscle center” as we affectionately call it is located in Tashkent with 12 people, our 5 iOS developers are located in Ukraine, while the front office is in Sacramento with 6 employees.
      %p Modera – The site allows you to compete with others when it comes to anything having to do with lifestyle.  Modera has created a unique and creative way to showcase your favorite aspects of your lifestyle and compete against others to see whose life is more celebrated. Think of it as a kind of Instagram with more incentive to upload new content daily, it’s a competition among friends, enemies, and strangers about who is coolest and who has the most interesting lifestyle. The site will soon be divided into various categories ranging from fashion and dining, to photography, travel and cars.
      %p It all works due to the algorithm developed by our team from the Faculty of Physics. You simply upload your photo, apply hashtags, and with the help of this algorithm it is shown in the news feed compared to other pictures in the same category. Users with the same interests see one head to head competition at a time and vote on who is the winner of the two then are moved down the page to the next matchup.  There is no bias and everyone receives the same exposure.
      %p This means that your picture lives its own life and has its own history not subject to a timestamp as most social media sites are, it wins some and it loses some but it remains active as long as it is on your profile.  It is in continual motion amongst the users of the site, never stagnant, constantly being voted on and seen even by people that are not following you.
      %p The most popular users win prizes from our sponsors, like BOUJOI, the prestigious new jewelry brand that is offering a $500 gift card to the winner of their style contest hosted on Modera.  New sponsors will continue to partner with Modera to hold contests and promotions for their brands and increase the reach in their target markets.
      %p Modera 1.0 – The main feature will be the various brand sponsored contests and we are very excited to unveil the friend contest feature allowing you to create your very own contests and invite your friends to join.
      %p Modera 2.0 – The biggest addition will be the add-on of the PickItApp. This is where we will begin monetizing the site with mutually beneficial partnerships between the customer and the brand.  Users whose pictures get the most votes have a chance to make money from their outfits.  Users will make money from brands when someone visits the brand’s website by clicking on any piece of their outfit. In sorting the votes, the style and the outfits, we solve the issue of searching for outfits. The user has the opportunity to click onto the outfit directly from the customer’s picture and it will redirect them to the brand’s web store. This gives the user who posted the outfit an opportunity to make money for simply having good taste and being popular.
      %p Our platform is a great way for new designers and brands to specifically market to their demographic and test new designs and products.
      %p As our site has just went live and our iOS app is scheduled for release in the coming weeks, we are also working on attracting sponsors, brands, and hiring brilliant team players to the US office. We are paying special attention to attracting celebrities to our campaigns that will act as ambassadors of Modera.
      %p Simultaneously we are working on getting prepared for Series A funding. We already have preliminary agreements in place of which the details cannot be disclosed.
      %p This is a story about how to overcome by belief in self, team and the process of learning through failure.
      %p This is the American Dream. The only question left to answer is whether or not there will be a happy ending.  Having read this inspirational story we think you are already convinced there will be.