%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'

  // only is has history power hour
  .w-nav-panel
    .width
      .share-panel      
        %span.left     
          %b.disinbl
            Share your Power Hour
            %br/
            on social Platforms
        //facebook
        %span.share-icons.facebook.active
          %i.moderaIcons f
        //twitter
        %span.share-icons.twitter.active
          %i.moderaIcons t
        //pinterest
        %span.share-icons.pinterest
          %i.moderaIcons p
        //tumblr
        %span.share-icons.tumblr
          %i.moderaIcons u


          
.wrapper
  .battle-list.disnone  
    // for on
    .trending-tags.c
      %h1 
        Power Hour is on
        %span.time-ph 59:56
        left
      Lorem ipsum dolore set amet.
    // for off
    .trending-tags.c.disnone 
      %h1
        Power Hour will start in
        %span.time-ph -23:32
        hours
      Lorem ipsum dolore set amet.
    .vs.abs.c
      %i.moderaIcons A 
    
    .battle
      .participant.right
        .info-side.right
          .like-count.h1.curpoint
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint
            %i.moderaIcons H
            1k
          .timeline
            %i.moderaIcons G
            2h
          .share-panel.right.disnone
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr
            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.left
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
      

      .participant.left
        .info-side.left
          .like-count.h1.curpoint.r
            %i.moderaIcons C
            1.2k
          .comment-count.h1.curpoint.active.r
            %i.moderaIcons H
            1k
          .timeline.r
            %i.moderaIcons G
            2h
          .share-panel.right
            //facebook
            %span.share-icons.facebook
              %i.moderaIcons f
            //pinterest
            %span.share-icons.pinterest
              %i.moderaIcons p
            //twitter
            %span.share-icons.twitter
              %i.moderaIcons t
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //flickr            
            %span.share-icons.flickr
              %i.moderaIcons
                %small 0
                %small 0
            //linked
            %span.share-icons.linked
              %i.moderaIcons l
            //mail
            %span.share-icons.mail
              %i.moderaIcons m
        .photoframe.left.grayscale
          = image_submit_tag("like.png")
          = image_tag 'samples/contest_photo.png', alt: ''
        .info-bottom.right
          .right.r
            %span.asLink.hover Follow
            %span.asLink Report
          .last-comment
            %a.left{href: '#', title: 'Mary Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
            .overhide
              %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                %b Mary Poppins
              %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

  // only if hasn't history of power hour
  .faceplate.c
    %i.moderaIcons B
    %span.thin.disblock There's no Power Hour history now.
    .btn Start new Power Hour