%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'

.wrapper
  .ph_create
    // step-1
    .width
      .container.rel
        .btn.right.abs Next
        %h1.c Start new Power Hour
        %p.fs14.c
          %strong What is Power Hour?
        %p.fs14.c
          One hour, lots of shows, everybody will see you in that hour.
          %br/
          But beware, Crowd will down you or you will go high.
          %br/
          %strong Pick the one style below to challenge
    .style-box
      %div.active
        %span 
          Challenge with
          %br/
          Vintage
        = image_tag 'lp/vintage.jpg', alt: 'Vintage'
      %div
        %span
          Challenge with
          %br/
          Casual
        = image_tag 'lp/casual.jpg', alt: 'Casual'
      %div
        %span
          Challenge with
          %br/
          Urban
        = image_tag 'lp/urban.jpg', alt: 'Urban'
      %div
        %span
          Challenge with
          %br/
          Hipster
        = image_tag 'lp/hipster.jpg', alt: 'Hipster'
      %div
        %span
          Challenge with
          %br/
          Glamour
        = image_tag 'lp/glamour.jpg', alt: 'Glamour'

    // step-2
    .width.disnone
      .container.rel
        .btn.right.abs Next
        .btn.left.abs Back
        %h1.c Choose the one below
        %p.fs14.c
          %b Description
        %p.fs14.c
          Now is the time to accelerate your vores against your challegers
          %br/
          Your votes can be worth +2, +4 or +6 time
          %br/
          Every vote converts to + or -
        .h1.c Casual vs. Hipster
      .level-list
        .item
          .clickable-box.rel
            %span 25%
            = image_tag 'ph25.png', alt: '25%'   
          .h1.c
            to start         
            .vote.disinbl.c
              %b.disblock 2
              vote
          %p
            Now every vote: +2 votes
            %br/ 
            But if you lose every vote: -2 votes
          %p
            You are challenging with the newbie.
            %br/
            Good to start
        .item.active
          .clickable-box.rel
            %span 50%
            = image_tag 'ph50.png', alt: '50%'
          .h1.c
            Try your luck            
            .vote.disinbl.c
              %b.disblock 4
              vote
          %p
            Now every vote: +4 votes
            %br/ 
            But if you lose every vote: -4 votes
          %p
            That's one for experlenced users.
            %br/
            You will be shown to a big amounth of users for an hour
        .item
          .clickable-box.rel
            %span 75%
            = image_tag 'ph75.png', alt: '75%'
          .h1.c
            Challenge with the best
            .vote.disinbl.c
              %b.disblock 6
              vote
          %p
            Now every vote: +6 votes
            %br/
            But if you lose every vote: -6 votes
          %p
            You will be shown to extremely big amount
            %br/
            of users against Top Stars and Famous users

    // step-3
    .width.disnone
      .container.rel
        .btn.right.abs.active Start
        .btn.left.abs Back
        %h1.c Choose Photo
        .view-photo
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'

.overlay.disnone

  // only if limit on power hour
  .faceplate.c.disnone
    %i.moderaIcons B
    .btn Not available at the moment
    %span.thin.disblock New Power Hour will be available in
    .h1 -23:22

// error for steps
.popup.disnone
  .error-block
    .c
      %i.moderaIcons !
    %p Lorem ipsum sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore et dolore magna allqua
    .c
      .btn.disinbl Ok, I get it!
  