%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy', class: 'active'
    .base-content.static
      %h1 Privacy Policy
      %p 
        We have prepared this Privacy Policy to explain how we collect, use protect, and disclose information and data when you use the software (the "Software") produced by Tebecom Inc. ("Company") and the web site located at 
        %a{href: 'http://www.modera.co'} [www.modera.co]
        (the "Site"), and related services that may be provided by company. The Software, Site, and related services are referred to as the "Service."
      %h4 
        Gathering of Non-Personally-Identifying
        %br
        Information
      %p Company collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Company's purpose in collecting non-personally identifying information is to better understand how Company's visitors use its Service. From time to time, Company may share non-personally-identifying information with others in the aggregate, e.g., reports on trends in the usage of its Service, but this information does not identify any individual users.
      %p Company also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on Pose posts. Company only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
      %h4 
        Gathering of Personally-Identifying
        %br/
        Information
      %p You may choose to interact with Company or the Service in ways that require Company to gather personally-identifying information. The amount and type of information that Company gathers depends on the nature of the interaction. For example, we ask to input your Twitter information to be able to share information via your Twitter account. In each case, Company collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Company or the Service. Company does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain Service-related activities.
      %h4 Aggregated Statistics
      %p Company may collect statistics about the behavior of visitors to its Service. Company may display this information publicly or provide it to others. However, Company does not disclose personally-identifying information other than as described below.
      %h4 
        Protection of Certain Personally-Identifying
        %br/
        Information
      %p Company discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Company's behalf or to provide services available at via the Service, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using the Service, you consent to the transfer of such information to them. Company will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Company discloses potentially personally-identifying and personally-identifying information only when Company believes it is required to do so by law, or when Company believes in good faith that disclosure is reasonably necessary to protect the property or rights of Company, third parties or the public at large. If you are a registered user of the Service and have supplied your email address, Company may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with the news of the Company and the Service. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Company recognizes the importance of safeguarding the confidentiality of your information. Accordingly, we employ reasonable measures designed to protect your information from unauthorized access, use, or disclosure. However, no data transmission over the Internet or other network can be guaranteed to be 100% secure. As a result, while we strive to protect information transmitted on or through the Service, we cannot and do not guarantee the security of any information you transmit on or through the Service and you do so at your own risk.
      %p From time to time, we may establish a business relationship with other businesses whom we believe trustworthy and who have confirmed that their privacy practices are consistent with ours ("Service Providers"). For example, we may contract with Service Providers to provide certain services, such as hosting and maintenance, data storage and management, and marketing and promotions. We only provide our Service Providers with the information necessary for them to perform these services on our behalf. Each Service Provider must agree to use reasonable security procedures and practices, appropriate to the nature of the information involved, in order to protect your information from unauthorized access, use, or disclosure. Service Providers are prohibited from using such information other than as specified by Company.
      %h4 Cookies
      %p A cookie is a string of information that a web site stores on a visitor's computer, and that the visitor's browser provides to the web site each time the visitor returns. Company uses cookies to help Company identify and track visitors, their usage of the Service, and their Service access preferences. Company visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the Service, with the drawback that certain features of the Service may not function properly without the aid of cookies.
      %h4 Ads
      %p Ads appearing on any of our Service may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Company and does not cover the use of cookies by any advertisers.
      %h4 Links To Other Web Sites
      %p The Service may contain links to other Web sites, or allow others to send you such links. A link to a third party's Web site does not mean that we endorse it or that we are affiliated with it. We do not exercise control over third-party Web sites. You access such third-party Web sites or content at your own risk. You should always read the privacy policy of a third-party Web site before providing any information to the Web site.
      %h4 Children's Privacy
      %p We do not knowingly collect personally identifiable information from children under the age of 13. If we become aware that we have inadvertently received personally identifiable information from a child under the age of 13, we will delete such information from our records. In addition, we recommend that minors 13 years of age or older ask their parents for permission before sending any information about themselves to anyone over the Internet.
      %h4 Privacy Policy Changes
      %p Company may change its Privacy Policy from time to time, and in Company's sole discretion. Company encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of the Service after any change in this Privacy Policy will constitute your acceptance of such change.