%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock 5
              leaderboard
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new Activity
          %li.textTransNone
            %a.textOverhide.rel.active{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons @
          Settings
        %a{href: '#'}
          %i.moderaIcons +
          Find Friends
        %a{href: '#'}
          %i.moderaIcons [
          Log Out
      .w-nav.profile-menu.left
        %a{href: '#'}
          %i.moderaIcons U
          Grid view
        %a{href: '#'}
          %i.moderaIcons 5
          List view
        %a.active{href: '#'}
          %i.moderaIcons \
          \#  ShowDowns
          
.wrapper
  %section.profile.overhide
    .width
      %ul
        %li
          .avatar.left
            = image_tag 'samples/username_pic.png', alt: 'Brittany Beckman', width: '151', height: '151', class: 'm'
          %ul.fs14.thin
            %li
              %b.disblock 156
              Photos
            %li
              %b.disblock 6143
              Followers
            %li
              %b.disblock 3446
              Following
        %li.c
          %h1.c Brittany Beckman
          .clear
            = link_to '#Casual', '#', class: 'fs14 thin disinbl'
            = link_to '#Style', '#', class: 'fs14 thin disinbl'
            = link_to '#Beauty', '#', class: 'fs14 thin disinbl'
          .btn.place
            %i.moderaIcons.left )
            %span.disinbl
              156
              %br/
              %span.thin place
          .btn Follow
        %li
          .share-panel
            //facebook
            %span.share-icons.facebook.active
              %i.moderaIcons f
            //twitter
            %span.share-icons.twitter.active
              %i.moderaIcons t
            //tumblr
            %span.share-icons.tumblr
              %i.moderaIcons u
            //gplus
            %span.share-icons.gplus
              %i.moderaIcons g
            //web
            %span.share-icons.web
              %i.moderaIcons w
          %p.about-me.clear.fs14.thin Lorem ipsum dolor set amet, consectetur adipicising elit, sed do elusmod tempor inclididunt ut labore et dolore magna aliqua.


  .width
    %section.profile-content.overhide
      
      .profile-scroll-container

        // list view
        .profile-item.disnone
          .profile-list
            .participant.rel
              .info-side.right.rel
                .like-count.h1.curpoint
                  %i.moderaIcons C
                  1.2k
                .comment-count.h1.curpoint
                  %i.moderaIcons H
                  1k
                .timeline
                  %i.moderaIcons G
                  2h
                .share-panel.left.abs.disnone
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
              .photoframe
                = image_tag 'samples/contest_photo.png', alt: '', width: '600', height: '600'
              .info-bottom
                .right
                  %span.asLink Report
                  %span.asLink Share
                .last-comment
                  %a.left{href: '#', title: 'Mary Poppins'}
                    = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
                  .overhide
                    %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                      %b Mary Poppins
                    %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
            .participant.rel
              .info-side.right.rel
                .like-count.h1.curpoint
                  %i.moderaIcons C
                  1.2k
                .comment-count.h1.curpoint
                  %i.moderaIcons H
                  1k
                .timeline
                  %i.moderaIcons G
                  2h
                .share-panel.left.abs.disnone
                  //facebook
                  %span.share-icons.facebook
                    %i.moderaIcons f
                  //pinterest
                  %span.share-icons.pinterest
                    %i.moderaIcons p
                  //twitter
                  %span.share-icons.twitter
                    %i.moderaIcons t
                  //gplus
                  %span.share-icons.gplus
                    %i.moderaIcons g
                  //tumblr
                  %span.share-icons.tumblr
                    %i.moderaIcons u
                  //flickr            
                  %span.share-icons.flickr
                    %i.moderaIcons
                      %small 0
                      %small 0
                  //linked
                  %span.share-icons.linked
                    %i.moderaIcons l
                  //mail
                  %span.share-icons.mail
                    %i.moderaIcons m
              .photoframe
                = image_tag 'samples/contest_photo.png', alt: '', width: '600', height: '600'
              .info-bottom
                .right
                  %span.asLink Report
                  %span.asLink Share
                .last-comment
                  %a.left{href: '#', title: 'Mary Poppins'}
                    = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic', width: '42', height: '42'
                  .overhide
                    %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                      %b Mary Poppins
                    %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

          // only if no photos uploaded
          .faceplate.c.disnone
            %i.moderaIcons E
            %span.thin.disblock No photos uploaded

        // compares
        .profile-item

          .battle-list
            .battle
              %span.asLink.abs.c Share
              .vs.abs.c
                %i.moderaIcons A 
              .timeline.abs.c
                %i.moderaIcons G
                2h
              .participant.right
                .info-top
                .info-side.right
                  .like-count.h1.curpoint
                    %i.moderaIcons C
                    1.2k
                  .comment-count.h1.curpoint
                    %i.moderaIcons H
                    1k
                .photoframe
                  = image_tag 'samples/contest_photo.png', alt: ''
                .info-bottom.left
                  .right.r
                    %span.asLink.hover Follow
                    %span.asLink Report
                  .last-comment
                    %a.left{href: '#', title: 'Mary Poppins'}
                      = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic'
                    .overhide
                      %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                        %b Mary Poppins
                      %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
              

              .participant.left
                .info-top.right
                  %a{href: '#', title: 'Marry Poppins'}
                    = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
                    %span Marry Poppins
                  %span voted for you in sponsored contest
                .info-side.left
                  .like-count.h1.curpoint.r
                    %i.moderaIcons C
                    1.2k
                  .comment-count.h1.curpoint.r
                    %i.moderaIcons H
                    1k
                .photoframe.left.grayscale
                  = image_tag 'samples/contest_photo.png', alt: ''
                .info-bottom.right
                  .right.r
                    %span.asLink.hover Follow
                    %span.asLink Report
                  .last-comment
                    %a.left{href: '#', title: 'Mary Poppins'}
                      = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic'
                    .overhide
                      %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                        %b Mary Poppins
                      %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
            .battle
              %span.asLink.abs.c Share
              .vs.abs.c
                %i.moderaIcons A 
              .timeline.abs.c
                %i.moderaIcons G
                2h
              .participant.right
                .info-top
                .info-side.right
                  .like-count.h1.curpoint
                    %i.moderaIcons C
                    1.2k
                  .comment-count.h1.curpoint
                    %i.moderaIcons H
                    1k
                .photoframe
                  = image_tag 'samples/contest_photo.png', alt: ''
                .info-bottom.left
                  .right.r
                    %span.asLink.hover Follow
                    %span.asLink Report
                  .last-comment
                    %a.left{href: '#', title: 'Mary Poppins'}
                      = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic'
                    .overhide
                      %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                        %b Mary Poppins
                      %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD
              

              .participant.left
                .info-top.right
                  %a{href: '#', title: 'Marry Poppins'}
                    = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
                    %span Marry Poppins
                  %span voted for you in sponsored contest
                .info-side.left
                  .like-count.h1.curpoint.r
                    %i.moderaIcons C
                    1.2k
                  .comment-count.h1.curpoint.r
                    %i.moderaIcons H
                    1k
                .photoframe.left.grayscale
                  = image_tag 'samples/contest_photo.png', alt: ''
                .info-bottom.right
                  .right.r
                    %span.asLink.hover Follow
                    %span.asLink Report
                  .last-comment
                    %a.left{href: '#', title: 'Mary Poppins'}
                      = image_tag 'samples/username_pic.png', alt: 'Mary Poppins', class: 'userpic'
                    .overhide
                      %a.disblock.textOverhide{href: '#', title: 'Mary Poppins'}
                        %b Mary Poppins
                      %span.text-comment.disblock.textOverhide Lorem Ipsum is simply dummy text XDDD

          // only if no contest history
          .faceplate.c.disnone
            %i.moderaIcons
              D
              %sub G
            %span.thin.disblock No contest history to show
            %p.c.thin.fs14
              Give your photos Lucky Chance
              %br/
              push the button
            %a.btn{href: '/power_hour/new'} Start Power Hour
            .or.c.h1
              %span.rel or
            %p.c.thin.fs14
              Challenge with your friends
              %br/
              push the button have some fun
            %a.btn{href: '/#invite_friends'} Invite Friends

        // Photos view
        .profile-item.photos-info.disnone
          .photos-grid.rel
            %ul.c
              %li
                %a{href: '#'}
                  = image_tag 'samples/contest_photo.png', width: '302', height: '302', alt:''
              %li
                %a{href: '#'}
                  = image_tag 'samples/contest_photo.png', width: '302', height: '302', alt:''
              %li
                %a{href: '#'}
                  = image_tag 'samples/contest_photo.png', width: '302', height: '302', alt:''
              %li
                %a{href: '#'}
                  = image_tag 'samples/contest_photo.png', width: '302', height: '302', alt:''
              %li
                %a{href: '#'}
                  = image_tag 'samples/contest_photo.png', width: '302', height: '302', alt:''
              %li
                %a{href: '#'}
                  = image_tag 'samples/contest_photo.png', width: '302', height: '302', alt:''

          // only if no photos uploaded
          .faceplate.c.disnone
            %i.moderaIcons E
            %span.thin.disblock No photos uploaded



// share popup
.overlay.disnone

.popup.disnone
  .close.right &times;
  %h1 Share with
  .share-panel.c
    //facebook
    %span.share-icons.facebook.l
      %i.moderaIcons f
    //pinterest
    %span.share-icons.pinterest.l
      %i.moderaIcons p
    //twitter
    %span.share-icons.twitter.l
      %i.moderaIcons t
    //gplus
    %span.share-icons.gplus.l
      %i.moderaIcons g
    //tumblr
    %span.share-icons.tumblr.l
      %i.moderaIcons u
    //flickr            
    %span.share-icons.flickr.l
      %i.moderaIcons
        %small 0
        %small 0
    //linked
    %span.share-icons.linked.l
      %i.moderaIcons l
    //mail
    %span.share-icons.mail.l
      %i.moderaIcons m

