%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel.active{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a.active{href: '#'}
          %i.moderaIcons @
          Settings
        %a{href: '#'}
          %i.moderaIcons +
          Find Friends
        %a{href: '#'}
          %i.moderaIcons [
          Log Out
      .w-nav.profile-menu.left
        %a{href: '#'}
          %i.moderaIcons U
          Grid view
        %a{href: '#'}
          %i.moderaIcons T
          List view
        %a{href: '#'}
          %i.moderaIcons @
          Style Rank

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'Profile', '#', class: 'active'
        = link_to 'Account', '#'
        = link_to 'Share Preferences', '#'
        = link_to 'Password', '#'
        = link_to 'Notifications', '#'
    .base-content.overhide.settings
      // Profile settings
      %div
        %h1
          Profile Settings
          %small Here you can edit your profile
        %form{action: '#'}
          %fieldset
            %label.thin.fs14{for: 'realname'} Real Name
            .fieldForm
              = text_field_tag 'realname', 'Marry Poppins'
              %span.info.thin This information is totally private and absolutely confidential!
          %fieldset
            %h3 Private profile information 
            .date-born.thin
              %span.fs14 Birthday
              = content_tag :div, class: 'cuSel' do
                %span Desember
                %select#profile_month_select
                  %option Desember
              = content_tag :div, class: 'cuSel' do
                %span 21
                %select#profile_day_select
                  %option 21
              = content_tag :div, class: 'cuSel' do
                %span 2012
                %select#profile_year_select
                  %option 2012
            .niceRadio
              %span.thin.fs14 Sex
              = radio_button_tag 'sex', 'false', false, class: "niceRadio-radio"
              = label_tag :sex_false, 'Male'
              = radio_button_tag 'sex', 'true', true, class: "niceRadio-radio"
              = label_tag :sex_true, 'Female'
            %label.thin.fs14{for: 'phone'} Phone Number
            .fieldForm
              = text_field_tag 'phone', nil
              %span.info.thin This information is totally private and absolutely confidential!
          %fieldset
            %label.thin.fs14{for: 'website'} Website
            .fieldForm
              = text_field_tag 'website', nil
            %label.thin.fs14{for: 'bio'} Bio
            .fieldForm
              = text_area_tag 'bio', nil, row: '5'
              %span.thin.disblock.r 250 symbols
            .fieldForm
              %label.left.facebook.rel
                %i.moderaIcons f
              = text_field_tag 'facebook', 'Facebook.com/marypoppins', readonly: 'true', class: 'left active'             
              %a.info{href: '#'} 
                Change
                %br/
                Facebook account
            .fieldForm.clear
              %label.left.twitter.rel
                %i.moderaIcons t
              = text_field_tag 'twitter', 'Click to Connect', readonly: 'true', class: 'left noactive'
              %a.info.disnone{href: '#'} 
                Change
                %br/
                Twitter account
          .c
            = submit_tag "Save Changes", class: 'btn active'

      // Account
      %div.disnone
        %h1
          Edit Account
          %small Edit your account details
        %form#account{action: '#'}
          %fieldset
            .thin.fs14
              %label.disblock Username
              %span.disblock @MaryPoppins
            .thin.fs14
              %label.disblock URL
              %span.disblock http://modera.co/MaryPoppins

            %label.thin.fs14{for: 'mail'} Email
            .fieldForm
              = email_field_tag 'mail', 'marypoppins@gmail.com'
              %span.info.thin
                Please use a valid email address. We promise no to spam, sell or abuse it.
                %b Your Email will not be publicly
          %fieldset.avatar-form
            .right
              .btn{onclick: "$('#user_avatar').click()"} Choose Photo
              %a.avatarFacebook.c.disblock{href: '#'}
                %i.moderaIcons.left f
                %span Set from Facebook
              %a.avatarTwitter.c.disblock{href: '#'}
                %i.moderaIcons.left t
                %span Set from Twitter
              .thin This Image will appear as your profile photo.
            .left.c
              .load-avatar.rel
                %span.close-error.abs &times;
                = image_tag 'samples/default-avatar.png'
              %input{type: 'file', id: 'user_avatar', class: 'vishid disnone'}
          .c
            = submit_tag "Save Changes", class: 'btn active'

      // Share Preferences
      %div.disnone
        %h1
          Share Preferences
          %small Choose what and where you'd like to share
        %form{action: '#'}
          %fieldset
            .onoffswitch.disinbl.m.right
              %input{:type=>'checkbox', :id=>'facebookNotifications', :class => 'onoffswitch-checkbox'}
              %label.onoffswitch-label{:for=> "facebookNotifications"}
                .onoffswitch-inner
                  .onoffswitch-active Yes
                  .onoffswitch-inactive No
            .share-panel.left
              .share-icons.facebook.active
                %i.moderaIcons f
                %b.fs14 Facebook

            .niceCheckbox.clear
              = check_box_tag 'F_upload_pic', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :F_upload_pic, 'When I upload a picture', class: 'thin fs14'
              = check_box_tag 'F_start_ph', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :F_start_ph, 'When I start a Power Hour', class: 'thin fs14'
              = check_box_tag 'F_follow_user', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :F_follow_user, 'When I follow a user', class: 'thin fs14'
              = check_box_tag 'F_join_contest', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :F_join_contest, 'When I join a contest', class: 'thin fs14'
              = check_box_tag 'F_start_contest', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :F_start_contest, 'When I start a new contest', class: 'thin fs14'
              = check_box_tag 'F_comments', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :F_comments, 'When I post comments', class: 'thin fs14'
              = check_box_tag 'F_win_prize', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :F_win_prize, 'When I win a prize', class: 'thin fs14'

          %fieldset
            .onoffswitch.disinbl.m.right
              %input{:type=>'checkbox', :id=>'twitterNotifications', :class => 'onoffswitch-checkbox', checked: 'false'}
              %label.onoffswitch-label{:for=> "twitterNotifications"}
                .onoffswitch-inner
                  .onoffswitch-active Yes
                  .onoffswitch-inactive No
            .share-panel.left
              .share-icons.twitter.active
                %i.moderaIcons f
                %b.fs14 Twitter

            .niceCheckbox.clear.disnone
              = check_box_tag 'T_upload_pic', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :T_upload_pic, 'When I upload a picture', class: 'thin fs14'
              = check_box_tag 'T_start_ph', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :T_start_ph, 'When I start a Power Hour', class: 'thin fs14'
              = check_box_tag 'F_follow_user', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :T_follow_user, 'When I follow a user', class: 'thin fs14'
              = check_box_tag 'F_join_contest', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :T_join_contest, 'When I join a contest', class: 'thin fs14'
              = check_box_tag 'F_start_contest', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :T_start_contest, 'When I start a new contest', class: 'thin fs14'
              = check_box_tag 'F_comments', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :T_comments, 'When I post comments', class: 'thin fs14'
              = check_box_tag 'F_win_prize', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :T_win_prize, 'When I win a prize', class: 'thin fs14'
          .c
            = submit_tag "Save Changes", class: 'btn active'

      // Change Password
      %div.disnone
        %h1 Change Password
        %form{action: '#'}
          %fieldset
            %label.thin.fs14{for: 'password'} New Password
            .fieldForm
              = password_field_tag 'password', nil
          .c
            = submit_tag "Save Changes", class: 'btn active'

      // Notifications
      %div.disnone
        %h1 Notifications
        %p 
          We send notifications whenever actions are taken that involove you. You can select which notifications you want to receive.
          %br/
          Notifications will be send to
          %b marypoppins@gmail.com
        %form{action: '#'}
          %fieldset
            .share-panel.right
              .share-icons.mail
                %i.moderaIcons m
            .fs14 Notifications Type
            .niceCheckbox.clear
              = check_box_tag 'N_new_follower', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :N_new_follower, 'You have a new follower', class: 'thin fs14'

              = check_box_tag 'N_comment_pic', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :N_comment_pic, 'A new comment on your picture', class: 'thin fs14'

              = check_box_tag 'N_mention_ph', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :N_mention_ph, 'Someone mentioned you in a power hour', class: 'thin fs14'

              = check_box_tag 'N_mention_comment', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :N_mention_comment, 'Someone mentioned you in a comment', class: 'thin fs14'

              = check_box_tag 'N_joined_contest', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :N_joined_contest, 'Someone joined your contest', class: 'thin fs14'

              = check_box_tag 'N_daily', 'false', false, class: "niceCheckbox-checkbox"
              = label_tag :N_daily, 'Daily activity on Modera', class: 'thin fs14'

              = check_box_tag 'N_weekly', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :N_weekly, 'Weekly activity on Modera', class: 'thin fs14'

              = check_box_tag 'N_friend_joined', 'true', true, class: "niceCheckbox-checkbox"
              = label_tag :N_friend_joined, 'A friend joined Modera', class: 'thin fs14'
          %fieldset 
            .niceRadio.right
              = radio_button_tag 'Frequency', 'false', false, class: "niceRadio-radio"
              = label_tag :Frequency_false, 'Immediatley'
              = radio_button_tag 'Frequency', 'true', true, class: "niceRadio-radio"
              = label_tag :Frequency_true, 'Daily'
              = radio_button_tag 'Frequency', 'false', true, class: "niceRadio-radio"
              = label_tag :Frequency_false, 'Never'
            .thin.fs14
              %b Frequency
              %br/
              How often would you like to receive
              %br/
              email notifications?
          .c
            = submit_tag "Save Changes", class: 'btn active'