%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.profile-menu.right
        %a{href: '#'}
          %i.moderaIcons &lt;
          Back
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.fixed.static
  = image_tag 'about/bg_Shane.jpg', alt: "Shane Barker", style:"width:100%; height:auto; margin-top:106px;"
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Co-founder and VP of Marketing
        %p
          %b What are you paid to do at Modera?
          %span People are getting paid?  What!?!
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Is there any other option?  We are a startup!
        %p
          %b What is your favorite style from Modera?
          %span I really enjoy the Urban style.
        %p
          %b Pumps or wedges?
          %span Both are very uncomfortable for me to wear.  But as a women, pumps.
        %p
          %b Favorite watch style?
          %span Limited Edition Navitimer Super Constellation Watch by Breitling.
        %p
          %b Who is your favorite actor?
          %span Robert Downey Jr.
        %p
          %b Mac or PC?
          %span What is a PC?  Mac baby!
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk.
        %p
          %b If you could have a super power what would it be?
          %span I would have to super power of being able to work and NOT need sleep.  Yes I just said that.
        %p
          %b Do you believe in unicorns?
          %span I have two in my backyard, as we speak.