.share-photo-page.c
  .width{style: 'padding-top:50px'}
    %h1.title{style:'margin-bottom:20px;'} Share with facebook
    = image_tag 'samples/contest_photo.png', alt:'name photo', class: 'm'
    %form.rel{action: "#"}
      = text_field_tag 'hash-Comment', nil, placeholder: 'Enter your comment...'

    = link_to 'Done', '#', class: 'btn active'
    = link_to 'Cancel', '#', class: 'btn'  