%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos', class: 'active'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static
      %h1 Terms of services
      %p 
        THESE WEB SITE TERMS OF SERVICE AND SOFTWARE USE AGREEMENT (COLLECTIVELY, "AGREEMENT") SETS FORTH THE TERMS AND CONDITIONS FOR YOUR ACCESS AND USE OF THE SOFTWARE ("SOFTWARE") PRODUCED BY TEBECOM INC. ("COMPANY") AND THE WEB SITE CURRENTLY LOCATED AT 
        %a{href: 'http://modera.co'} [WWW.MODERA.CO]
        ("SITE"), AND RELATED SERVICES THAT MAY BE PROVIDED BY COMPANY. THE SOFTWARE, SITE, AND SUCH RELATED SERVICES ARE REFERRED TO AS THE "SERVICE".
      %p PLEASE READ THIS AGREEMENT CAREFULLY. YOU MAY NOT USE ANY PART OF THE SERVICE UNLESS YOU AGREE TO THE TERMS OF THIS AGREEMENT. YOUR USE OF THE SERVICE WILL CONSTITUTE YOUR ACCEPTANCE OF THIS AGREEMENT.
      %ol 
        %li
          %p Authorized Users. The Software may only be installed or used by (a) the owner of the device, on which the Software is installed ("Authorized Device"), and (b) any persons authorized by the owner of the Authorized Device to use the Authorized Device and to install the Software in accordance with the terms of this Agreement, provided that the individuals referred to in (a) and (b) above have read this Agreement and agree to abide by it (collectively, "Authorized Users," and each an "Authorized User"). Any references to the pronouns "you" and "your" anywhere in this Agreement are intended to refer to any one or to all of the Authorized Users of the Software. You represent and warrant that you are of legal age to form a binding contract.
        %li
          %p Ownership; Limited License Grant. As between you and Company, the following are and shall remain the sole property of Company: (a) all right, title and interest in and to the Service, including, without limitation, the Software and the Site; (b) all Content (as defined below); and (c) any intellectual property rights (including, without limitation, any copyrights, patents, trademarks, trade secrets and other rights) in and to any of the foregoing. Company grants you a limited, nonexclusive, nontransferable, royalty-free license to download and install the Software and to access and use the Service solely for your personal, non-commercial use and subject to the terms of this Agreement. You may not assign, sublicense or otherwise convey or transfer the rights granted to you under this Agreement to any other person, organization, or entity. Any rights not expressly granted to you hereunder are reserved by Company. The limited rights granted to you to download and install the Software and to access and use the Service comprise a limited license and do not constitute the sale of a software program.
        %li
          %p Use Restrictions. You may not do any of the following with or to the Service or any part thereof: (a) decompile, reverse engineer, or disassemble it, (b) tamper or interfere with its functionality, delivery or operation, (c) assign, sublicense, pledge, lease, sell, rent, transfer, resell, or distribute it, (d) duplicate, reproduce, copy, modify, or otherwise create derivative works of it, (e) alter or remove any identification of any copyright, trademark, or other proprietary rights notice which indicates Company's ownership of the Service, or (f) export or re-export the Software, directly or indirectly in violation any applicable law, rule or regulation of any jurisdiction (including the United States Export Administration Act and any regulations promulgated thereunder). You shall abide by all applicable local, state, national and international laws and regulations in connection with your use of the Service.
        %li
          %p Rules and Conduct. You are responsible for your use of the Service, and for any use of the Service made using your account. The Company's goal is to create a positive and safe community experience. To promote this goal, the Company prohibits certain kinds of conduct that may be harmful to Company or to others. When you use the Service, you may not:
          %ul
            %li violate or infringe other people's intellectual property, privacy, publicity, or other legal rights;
            %li transmit anything that is illegal, abusive, harassing, harmful to reputation, pornographic, indecent, profane, obscene, hateful, racist, or otherwise objectionable;
            %li send unsolicited or unauthorized advertising, promotional or commercial communications, such as spam or conduct commercial activities and/or sales without Company's prior written consent such as contests, sweepstakes, barter, advertising, promotional offers or pyramid schemes;
            %li transmit any malicious or unsolicited software;
            %li stalk, harass, or harm another individual;
            %li impersonate or misrepresent your affiliation with someone else;
            %li share with any third-party your username, password, or any access control information used to gain access to or use the Service;
            %li use any means to "scrape," "crawl," or "spider" any Web pages contained in the Site;
            %li use automated methods to use the Service in a manner that sends more requests to the Company's servers in a given period of time than a human can reasonably produce in the same period by using a conventional Web browser;
            %li interfere with or disrupt the Service;
            %li or collect or harvest any personally identifiable information from the Service.
          %ul
            %li 
              %p Content. Other than User Submissions (as defined below), Company owns or licenses the content on the Service, including software, text, visual and audio content (referred to together as "Content") and trademarks, logos, and brand elements on the Service (referred to as "Marks"). The Content and Marks are protected under U.S. and international laws.
            %li 
              %p 
                Registration. You may browse the Site and view Content without registering, but as a condition to using certain aspects of the Service, you may be required to register with Company and select a password and screen name ("User ID"). You shall provide Company with accurate, complete, and updated registration information. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of your account. You shall not (a) select or use as a User ID a name of another person with the intent to impersonate that person; (b) use as a User ID a name subject to any rights of a person other than you without appropriate authorization; or (c) use as a User ID a name that is otherwise offensive, vulgar or obscene. Company reserves the right to refuse registration of, or cancel a User ID in its sole discretion. You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password. You shall never use another user's account without such other user's express permission. You will immediately notify Company in writing of any unauthorized use of your account, or other account related security breach of which 
                %span you are aware.
            %li 
              %p User Submissions. The Service may provide you with the ability to create, post, or share content using the Service ("User Submissions"), such as posting, creating or recording comments, videos, photos and other content. You own your User Submissions. You grant Company a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable and transferable license to use, edit, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the User Submissions in connection with the Service and Company's (and its successors' and assignees') business, including without limitation for promoting and redistributing part or all of the Service in any media formats and through any media channels (including, without limitation, third-party Web sites). You promise that (a) you own all rights to your User Submissions or, alternatively, that you have the right to give Company the rights described above; (b) you have paid and will pay in full any fees or other payments that may be related to the use of your User Submission; and (c) your User Submissions do not infringe the intellectual property rights, privacy rights, publicity rights, or other legal rights of any third-party. Company does not endorse and has no control over any User Submission. Company has no obligation to monitor the Service or any User Submissions. We may refuse to accept or transmit User Submissions. We may remove or block any User Submissions from the Service for any reason. Some parts of the Service may be supported by advertising revenue and may display advertisements and promotions, and you hereby agree that Company may place such advertising and promotions on the Service or on, about, or in conjunction with your User Submissions in Company's sole discretion.
              %p User Submissions that you designate as "private" through the Service will not be shared publicly. Company and/or other users may copy, print or display publicly available User Submissions outside of the Service, including, without limitation, via the Site or third party Web sites or applications (for example, services allowing users to order prints of User Submissions or t-shirts and similar items containing User Submissions). After you remove your User Submissions from the Service we will cease distribution as soon as practicable. If after we have distributed your User Submissions outside the Service you change your privacy setting to "private," we will cease any further distribution of such "private" User Submissions outside the Service as soon as practicable.
            %li 
              %p Participation in Contests. By submitting your photo you agree to participate in the general contest. Winner is determined by the number of votes for all user’s photos collectively. Contest typically last 1 month if not specified otherwise in the contest description. Joining any other specific contest on the Service, you agree to be bound by the Contest Rules of the respective contest. If any terms of the Contest Rules contradict with these specified herein, they shall be considered valid and enforceable. If your submission violates any of the Contest Rules, it will be deleted and you will be warned by email. You may be banned from using the Service at the sole discretion of the Company if you repeatedly break the Contest Rules.
            %li 
              %p Draw Process. After judging and voting to select prize winners has finished, the potential prize winners will be notified by email or other method chosen by the Company in its discretion. Sponsor providing the prize for the contest reserves the right to verify winners collectively or one or more at a time, as it deems appropriate and expedient in its discretion, and in whatever order it chooses. To be confirmed as a winner and to be awarded the prize, user may be required to confirm full legal rights and ownership of Submission.
              %p Should a prize notification or prize addressed to a particular user be returned as undeliverable, the Company will not resend the notice (whether by the same or another method), research the user's address nor make any further attempts at delivery. That user will be deemed.
              %p In the case that winner's shipping address is located in a Country or area designated by the Company as undeliverable, the Company will attempt to ship the prize to the alternative address provided by the winner.
              %p Winners will be announced after the Required Confirmation is received if needed and the respective winners are confirmed. Company reserves the right to announce prize winners on the Service website collectively, one at a time, or in any order or clusters as it deems appropriate in its discretion. Winners will receive their prizes within thirty (30) days of Company announcement of the winners. The prizes are subject to change at any time without notice in the sole discretion of the Company. 

          %p DISQUALIFICATION: COMPANY RESERVES THE RIGHT IN ITS SOLE DISCRETION TO DISQUALIFY ANY PERSON WHO TAMPERS WITH OR IS SUSPECTED OF TAMPERING WITH AN ENTRY AND/OR THE JUDGING AND VOTING PROCESS, INCLUDING ANY PERSON ATTEMPTING TO SOLICIT, ENCOURAGE OR OBTAIN AUTOMATED VOTES. IN ADDITION TO THE RIGHTS RETAINED BY COMPANY SET FORTH IN SECTION 4 ABOVE, COMPANY FURTHER RESERVES THE RIGHT IN ITS DISCRETION TO DISQUALIFY ALL VOTES FROM VOTERS THAT ARE DEEMED TO BE FRAUDULENT. CAUTION: ANY ATTEMPT BY USER TO DELIBERATELY DAMAGE COMPANY, INCLUDING BUT NOT LIMITED TO, THE ENTRY SITE, OR UNDERMINE THE LEGITIMATE OPERATION OF THE CONTEST IS A VIOLATION OF CRIMINAL AND CIVIL LAW. SHOULD SUCH AN ATTEMPT BE MADE, COMPANY RESERVES THE RIGHT TO PROSECUTE AND/OR SEEK DAMAGES AND/OR OTHER RELIEF FROM ANY SUCH ENTRANT TO THE FULLEST EXTENT OF THE LAW. 
          %p Delivery and Damaged Goods
          %p 
            Delivery will be made by a postal or courier service such as but not limited to FEDEX, UPS, and USPS and will be paid for by the winner in case if the winner is located outside the United States. If a product is delivered to a customer, that is physically damaged, Modera will issue or request the respective Sponsor to issue a replacement copy of the product. Please email the Company at
            %a{href: 'mailto: support@modera.co'} support@modera.co
            within 5 business days of receiving the product to tell us about the nature of the damage and to arrange for a new product to be sent to you at the Company's expense. 
        %li 
          %p Taxation responsibility. 
          %p Each party is responsible and will account for any taxes imposed by governments or governing authorities, and related accounting or audit requirements arising out of, as a result of, incidental to, or in connection with obligations under this Agency Agreement. 
          %p Intellectual Property. We respect the intellectual property rights of others. Upon proper notice, we will remove User Submissions or other applicable content that violates copyright or other intellectual property rights. We will also terminate the accounts of repeat infringers. If you believe your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please send a notification to support@modera.co with all of the following information:
          %ul 
            %li identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works;
            %li identification of the claimed infringing material and information reasonably sufficient to permit us to locate the material on the Service;
            %li information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an e-mail address;
            %li a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
            %li a statement by you, made under penalty of perjury, that the above information in your notification is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf;
            %li 
              and your physical or electronic signature. Please send all of the above information to 
              %a{href: 'mailto: support@modera.co'} support@modera.co
            %li 
              Privacy. The information that Company collects from you through technical means in connection with your download, installation or use of the Service will be collected, stored, used and shared by Company in accordance with the Company Privacy Policy, which you may access at 
              %a{href: 'http://www.modera.co/privacy'} [www.modera.co/privacy].
              The Company Privacy Policy, as may be modified from time to time in Company's sole discretion, is expressly incorporated herein by this reference and made part of this Agreement.
            %li Other Content or Service. Through your use of the Service, you may receive content or services provided through, or in connection with the Service, by individuals or entities other than Company, including, without limitation, data, links, articles, graphic or video messages, text, software, music, sound, graphics or other materials or services (collectively, the "Other Content or Service"). You understand and agree that you will not obtain, as a result of your use of the Software, any right, title or interest in or to such Other Content or Service delivered via the Service or in any intellectual property rights (including, without limitation, any copyrights, patents, trademarks, trade secrets or other rights) in and to such Other Content or Service. You understand and agree that such Other Content or Service shall be the responsibility of the entity that originated, provided, delivered, offered, sold, supplied, promoted, sponsored or advertised such Other Content or Service, and shall not be the responsibility of Company. You agree that you will evaluate and bear all risks associated with the viewing or use of any such Other Content or Service, including any reliance on the accuracy or completeness of such Other Content or Service. Company expressly disclaims, to the maximum extent permitted by law, any liability for any such Other Content or Service, including, without limitation, for any errors or omissions in any such Other Content or Service, or for loss or damage or injury of any kind incurred as a result of the use of any such Other Content or Service posted, transmitted, advertised or otherwise made available to you through or in connection with the Service.
            %li Third-Party Web Sites. The Service may enable you to interact with or access other Web sites operated not by the Company, but by third parties, including both affiliated and unaffiliated third parties. When you access such third-party Web sites, you do so at your own risk. These third party Web sites are not under Company's control, and you acknowledge that Company is not responsible or liable for the content, functions, accuracy, legality, appropriateness, information practices or any other aspect of such Web sites. Your use of such third party Web sites, and the collection and use of information in connection with such use, is governed by the terms and conditions and privacy policies of their respective third party Web site operators. You acknowledge and agree that Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, good or services available on or through any such third party Web site.
            %li Modifications to the Service; Termination. Updates, enhancements and upgrades to the Software may be made available to you automatically. Company shall have the right at any time to disable, modify, or discontinue, temporarily or permanently, the Service (or any part thereof), with or without notice. Without limiting the foregoing, Company may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your account.
            %li NO SUPPORT. COMPANY HAS NO OBLIGATION TO PROVIDE YOU WITH SUPPORT, MAINTENANCE, UPGRADES, MODIFICATIONS, OR NEW RELEASES WITH RESPECT TO THE SOFTWARE.
            %li DISCLAIMER OF WARRANTIES. TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICE IS PROVIDED "AS IS" AND "AS AVAILABLE" WITH NO TECHNICAL SUPPORT OR REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, BY STATUTE OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT AND ANY WARRANTIES THAT MAY ARISE OUT OF COURSE OF PERFORMANCE, COURSE OF DEALING OR USAGE OF TRADE. YOU SPECIFICALLY AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, COMPANY SHALL NOT BE LIABLE FOR LOSSES OR LIABILITIES ARISING IN CONNECTION WITH YOUR DOWNLOAD, INSTALLATION OR USE OF THE SOFTWARE, OR YOUR USE OF THE SERVICE, INCLUDING, WITHOUT LIMITATION, LOSS OR LIABILITY RESULTING OR ARISING FROM OR IN CONNECTION WITH: (a) SOFTWARE CONFLICTS RELATED TO THE SOFTWARE; (b) DATA NON-DELIVERY, DATA MIS-DELIVERY OR UNAUTHORIZED ACCESS TO TRANSMISSIONS OF DATA; (c) YOUR INFRINGEMENT OF A THIRD-PARTY'S RIGHT; (d) DEFECTS OR VIRUSES IN, OR DISTRIBUTED WITH, THE SOFTWARE OR CONTENT; (e) YOUR OWN USE OR MISUSE OF YOUR PERSONAL DEVICE OR THE SOFTWARE APPLICATIONS CONTAINED ON YOUR PERSONAL DEVICE; OR (f) THE UNAVAILABILITY OF THE SITE OR SERVICE. YOUR SOLE REMEDY WITH RESPECT TO ANY CLAIM IS TO STOP USING THE SERVICE.
            %li Limitation of Liability. TO THE MAXIMUM EXTENT PERMITTED BY LAW, COMPANY SHALL NOT BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, OR PUNITIVE DAMAGES OR LOST OR IMPUTED PROFITS OR ROYALTIES ARISING OUT OF OR RELATING IN ANY WAY TO THE SERVICE OR THIS AGREEMENT, IRRESPECTIVE OF WHETHER COMPANY WAS ADVISED, KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF ANY SUCH LOSS OR DAMAGE.
            %li Indemnification. Indemnification. EVERY CONTEST OR PROMOTION ON THE SERVICE IS IN NO WAY SPONSORED, ENDORSED OR ADMINISTERED BY, OR ASSOCIATED WITH, APPLE INC. YOU ARE PROVIDING YOUR INFORMATION TO AND ENGAGING WITH MODERA AND NOT WITH APPLE INC. BY PARTICIPATING IN ANY OF THE CONTESTS OR PROMOTIONS YOU AGREE TO A COMPLETE RELEASE OF APPLE FROM ANY CLAIMS. Participation in this promotion is subject to and regulated by this agreement and by the contest rules of each contest or promotion. You hereby agree to release, indemnify, defend and hold harmless Company, its parents, shareholders, subsidiaries, affiliates, officers, directors, employees, agents and advisors, from and against any and all losses, liabilities, claims (including claims without legal merit or brought in bad faith), demands, damages, costs or expenses, causes of action, suits, proceedings, judgments, awards, executions and liens, including reasonable attorneys' fees and costs (whether brought by third parties or otherwise) relating to or arising from your use, installation or download of the Software, your use of the Service, your User Submissions, your participation in the contests, or your breach of this Agreement. Company reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you hereunder, and in such event, you shall have no further obligation to provide indemnification for such matter.
            %li General Provisions. These Terms of Service will be governed by and construed in accordance with the laws of the State of California, without giving effect to any conflict of laws rules or provisions. This Agreement will not be governed by the United Nations Convention on Contracts for the International Sale of Goods, the application of which is hereby expressly excluded. The exclusive forum for any disputes arising out of or relating to this Agreement shall be an appropriate court in [Palo Alto, California] and you hereby expressly consent to personal jurisdiction in such courts and waive all venue, jurisdiction and choice of law challenges or defenses. If any part of this Agreement is determined by a court of competent jurisdiction to be invalid or unenforceable, including, without limitation, any of the warranty disclaimers or liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Agreement shall continue in full force and effect. If no enforceable provision can be substituted for any such invalid or unenforceable provision, then that provision shall be deemed severable from the Agreement and shall not affect the validity and enforceability of any remaining provisions in this Agreement. You may not assign any rights or obligations under this Agreement. This Agreement will be binding upon and will inure to the benefit of Company and its successors and assignees. This Agreement, together with any rules, policies, or additional terms associated with the Service, constitutes the entire understanding and agreement of the parties respecting the subject matter of this Agreement.
            %li Changes to this Agreement. From time to time, Company may change this Agreement. If Company changes this Agreement, Company will inform you by posting the revised Agreement on the Site. Those changes will go into effect on the Revision Date shown in the revised Agreement. By continuing to use our Site or Service, you agree to the revised Agreement.

      %p BY USING THE SERVICE, YOU ACKNOWLEDGE THAT (a) YOU HAVE READ AND REVIEWED THIS AGREEMENT IN ITS ENTIRETY, (b) YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT, AND (c) YOUR OBLIGATIONS UNDER THIS AGREEMENT ARE BINDING AND ENFORCEABLE.