// step-1
.tutorial-step-1.fixed.disnone

// step-2
.tutorial-step-2.fixed
  .width.rel
    = link_to 'Skip', '/home', class: 'btn abs'

// step-3
.tutorial-step-3.fixed.disnone
  .width.rel
    = link_to 'Skip', '/home', class: 'btn abs'

// step-4
.tutorial-step-4.fixed.disnone
  .width.rel
    = link_to 'Finish', '/home', class: 'btn active abs'
