%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a.active{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel
              %a{href: '#'}
                %i.moderaIcons S
                %span 35
              %a{href: '#'}
                %i.moderaIcons C
                %span 25
              %a{href: '#'}
                %i.moderaIcons H
                %span 25
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'

  // show only message or error
  .w-nav-panel.disnone
    .width
      .message-block.disnone
        .success.fs14.thin.disnone
          %i.moderaIcons /
          %span Photo successfully uploaded
        .error.fs14.thin
          %i.m &times;
          %span Photo unsuccessfully uploaded

.wrapper
  // step-1
  .upload-photo.fixed.c.disnone
    .width
      .container
        %form{action: '#'}
          = file_field_tag 'uploadPhoto', class:'vishid disnone'
          .btn.active.thin{onclick: "$('#uploadPhoto').click()"} Choose File to Upload

        .uploadModera-form
          %a.uploadPinterest.c.disinbl.thin{href: '#'}
            %i.moderaIcons.left p
            %span Upload from Pinterest
          %a.uploadFacebook.c.disinbl.thin{href: '#'}
            %i.moderaIcons.left f
            %span Upload from Facebook
          %a.uploadInstagram.c.disinbl.thin{href: '#'}
            %i.moderaIcons.left i
            %span Upload from Instagram

  // step-1_1
  .choose-photo.c
    .width
      .container
        .btn.right.active Upload to rait
        .btn.left Back
        %h1
          Choose Photo from
          %span.pinterestColor Pinterest
        .view-photo.clear
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'
          .item
            .photoframe
              = image_submit_tag("checked.png")
              = image_tag 'samples/contest_photo.png', alt: 'name photo', width: '299', height: '299'

  // step-2
  .crop-photo.fixed.c.disnone
    .width
      .container
        %h1.title Crop your Photo
        = image_tag 'samples/contest_photo.png', alt:'upload photo'
        %form{action: '#'}
          = submit_tag 'Crop', class: 'btn active'
          = link_to 'Cancel', '#', class: 'btn'

  // step-3
  .share-photo-page.c.disnone  
    .width
      .container
        %h1.title Spread the world
        = image_tag 'samples/contest_photo.png', alt:'name photo', class: 'm'
        %form.rel{action: "#"}
          = text_field_tag 'hash-Comment', nil, placeholder: 'Enter your comment...'
        .share-panel
          //facebook
          %span.share-icons.facebook
            %i.moderaIcons f
          //pinterest
          %span.share-icons.pinterest
            %i.moderaIcons p
          //twitter
          %span.share-icons.twitter
            %i.moderaIcons t
          //gplus
          %span.share-icons.gplus
            %i.moderaIcons g
          //tumblr
          %span.share-icons.tumblr
            %i.moderaIcons u
          //flickr            
          %span.share-icons.flickr
            %i.moderaIcons
              %small 0
              %small 0
          //linked
          %span.share-icons.linked
            %i.moderaIcons l
          //mail
          %span.share-icons.mail
            %i.moderaIcons m
        = link_to 'Done', '#', class: 'btn active'
        = link_to 'Cancel', '#', class: 'btn'  