%header
  .top-panel
    .width
      = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
      %nav.left.textTransUpper
        %ul
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock B
              Power Hour
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock E
              Upload Photo
          %li
            %a{href: '#'}
              %i.moderaIcons.disblock F
              Notifications
            .notification-dd.rel.fs14.disnone
              %a{href: '#'}
                %i.moderaIcons S
                %b 35
                %span.thin followers
              %a{href: '#'}
                %i.moderaIcons H
                %b 3 
                %span.thin @comments 
              %a{href: '#'}
                %i.moderaIcons C
                %b 25
                %span.thin new votes
          %li.textTransNone
            %a.textOverhide.rel{href: '#', title: 'Marry Poppins'}
              = image_tag 'samples/username_pic.png', alt: 'Marry Poppins', class: 'userpic', width: '30', height: '30'
              %span Marry Poppins
          %li.rel.active            
            %i.moderaIcons.m &gt;
            .more-dd.abs.thin
              %i.moderaIcons.m.abs W
              = link_to 'About', '#'
              = link_to 'Brands', '#'
              = link_to 'Help', '#'
  .w-nav-panel
    .width
      .w-nav.left
        %a.active{href: '#'}
          %i.moderaIcons C
          About
        %a{href: '#'}
          %i.moderaIcons Z
          Brands
        %a{href: '#'}
          %i.moderaIcons ?
          Help

.wrapper
  .width
    %aside.left
      %nav.thin.fs14.r
        = link_to 'About us', '/about', class: 'menuparent'
        %div
          = link_to 'Our Story','/pages/our_story'
        = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
        %div.active
          = link_to 'Business proposal','/pages/business_proposal'
          = link_to 'Content','/pages/content'
          = link_to 'Videos','/pages/videos', class: 'active'
        = link_to 'Contact us', '/pages/contact_us'
        = link_to 'Blog', '/blog'
        = link_to 'Community Guidlines', '/pages/guidelines'
        = link_to 'Terms of Service', '/tos'
        = link_to 'Privacy Policy', '/privacy'
    .base-content.static

      %h1 Videos
      .grid
        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/ST47Vdhk12s?rel=0", frameborder:"0"}
        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/1LpOZLXOKYI?rel=0", frameborder:"0"}

        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/BG8x8tMlMQA?rel=0", frameborder:"0"}
        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/Lspu6F-VXrE?rel=0", frameborder:"0"}
        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/DFTHLbuHzxA?rel=0", frameborder:"0"}
        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/9swJeW0a0Rk?rel=0", frameborder:"0"}
        %iframe{width:"320", height: "180", src:"http://www.youtube.com/embed/l1XK0o_2FMw?rel=0", frameborder:"0"}