%div.well
  %ul.nav.nav-list
    %li.nav-header Main
    %ul.nav
      - admin_menu = {'VS top ranking settings' => 'admin_vs_top_settings_path', 'Omni auth settings' => 'admin_omniauth_keys_path', 'Fashion styles' => 'admin_fashion_styles_path', 'Challenge types' => 'admin_challenge_types_path', 'Contests' => 'admin_contests_path', 'Pages' => 'admin_pages_path', 'Inappropriates' => 'admin_inappropriates_path'}
      - admin_menu.each do |link_name, link|
        %li= link_to link_name, send(link)
      %li= link_to 'Resque', admin_resque_path