- if request.xhr?
  .b-modal
    .signup
      .logo.c
        = image_tag "modera.png", :alt=>'Modera.co'
      %h2
        Account
        %span.required *
      .errorMessage.classic{style: 'margin-bottom: 15px;', data: {bind: "visible: photo_error()"}}
        %span Wrong image format!
      = form_for(resource, as: resource_name, url: upload_avatar_path, html: { class: "left avatar #{resource.avatar_url.include?('/default.png') ? 'default' : ''}", id: 'upload_avatar'}) do |f|
        .overhide
          = file_field_tag :user_avatar, {name: '[user]avatar', class: 'abs nopad nomrg', size: '1', data: {bind: 'event: {change: upload_avatar}'}}
          = image_tag resource.avatar_url, alt: 'username', id: 'avatar', onclick: "$('#user_avatar').click()"

      .overhide
        = form_for(resource, :as => resource_name, :url => user_registration_path, remote: true) do |f|
          = f.hidden_field :avatar_cache

          = f.text_field :username, :class => 'username', :placeholder => 'Username', :tabindex => '1', data: {bind: "css: {error: errors().username}"}
          .errorMessage{data: {bind: "visible: errors().username"}}
            %span{data: {bind: 'text: errors().username'}}
          = f.email_field :email, class: 'email',:placeholder => 'Email', :tabindex => '2', data: {bind: "css: {error: errors().email}"}
          .errorMessage{data: {bind: "visible: errors().email"}}
            %span{data: {bind: 'text: errors().email'}}
          = f.password_field :password, class: 'password', :placeholder => 'Password', :tabindex => '3', data: {bind: "css: {error: errors().email}"}
          .errorMessage{data: {bind: "visible: errors().password"}}
            %span{data: {bind: 'text: errors().password'}}
          = f.password_field :password_confirmation, class: 'password', :placeholder => 'Retype Password', :tabindex => '4', data: {bind: "css: {error: errors().password_confirmation}"}
          .errorMessage{data: {bind: "visible: errors().password_confirmation"}}
            %span{data: {bind: 'text: errors().password_confirmation'}}
          .use-social.clear
            %ul
              %li.facebook 
                = link_to 'Use Facebook info', user_omniauth_authorize_path(:facebook)
              %li.twitter
                = link_to 'Use Twitter info', user_omniauth_authorize_path(:twitter)
              %li.instagram
                = link_to 'Use Instagram info', user_omniauth_authorize_path(:instagram)
          .c
            = f.submit "Sign Up", :class => 'btn-2', :tabindex=>'5'
          %div{style: 'line-height: 1.2em; font-size: 1.2em;'}
            By clicking 'Sign Up' you agree to our 
            = link_to 'Terms of Service', tos_path
- else
  = render 'shared/welcome'
  :javascript
    jQuery(function() {
      $('.signup-modal-trigger').click();
    });