<div class="trending-tags c">
    <h2># <%=tagName %></h2>
</div>
<div class="hash-photo view-photo">
<!--Place for photo list-->
</div>
<div class="faceplate c disnone">
    <i class="moderaIcons">
        D
        <sub class="disinbl">#</sub>
    </i>
    <span class="thin disblock">You need at least 3 people to start the contest</span>
    <div class="btn disnone">Invite Friends</div>
</div>
