.c
  %span.btn-2.log.signup-modal-trigger{ data: {bind: 'click: $root.sign_up'} } Register
  .disnone   

  %span.btn-2.log.signin-modal-trigger{ data: {bind: 'click: $root.sign_in'} } Sign in
  .disnone