<div class="right">
	©2013 <a href="/about" class="nopad">Tebecom, Inc</a>
</div>
<a href="/about">About us</a>
<a href="http://blog.modera.co">Blog</a>
<a href="/tos">Terms of Service</a>
<a href="/privacy">Privacy Policy</a>
<!-- <a href="/feedback">Feedback</a> -->