!!!
%html
  %head
    %title Modera
    = favicon_link_tag 'Favicon2.png'
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    /[if IE 9]
      = stylesheet_link_tag    "ie", :media => "all"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37150002-1']);
      _gaq.push(['_setDomainName', 'modera.co']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    - if session[:transaction_id]
      %div
        %iframe{:frameborder => "0", :height => "1", :src => "http://genetix420.com/p.ashx?o=608&s=2&t=#{session[:transaction_id]}", :width => "1"}
        :javascript
          //
          var google_conversion_id = 985585476;
          var google_conversion_label = "24ukCMyM2wQQxK771QM";
          var google_custom_params = window.google_tag_params;
          var google_remarketing_only = true;
          //
          %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
        %noscript
          %div{:style => "display:inline;"}
            %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/985585476/?value=0&amp;label=24ukCMyM2wQQxK771QM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}
        :javascript
          var fb_param = {};
          fb_param.pixel_id = '6007158842236';
          fb_param.value = '0.00';
          (function(){
            var fpw = document.createElement('script');
            fpw.async = true;
            fpw.src = '//connect.facebook.net/en_US/fp.js';
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(fpw, ref);
          })();
          %noscript
          %img{:alt => "", :height => "1", :src => "https://www.facebook.com/offsite_event.php?id=6007158842236&amp;value=0", :style => "display:none", :width => "1"}
      - session[:transaction_id] = nil

    .overlay.spinner
      = image_tag "loading.gif", alt: '', class: 'loading'

    :javascript
      setTimeout(function() {
        window.location.replace('/choose/#style');
      }, 1000);