- if session[:reset_password_token]
  .resetPasswordToken{data: {status: session[:reset_password_token] == 'nil' ? 'fail' : 'ok', token: session[:reset_password_token]}}
= requirejs_include_tag "/assets/sections/welcome/loader"
