= form_for [:admin, @fashion_style], class: 'form-horizontal' do |f|
  = f.label :presentation
  = f.text_field :presentation
  = f.label :name
  = f.text_field :name
  = f.label :image
  = f.file_field :image
  = f.label :tag_list
  = f.text_field :tag_list
  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @fashion_style], class: 'btn'