.page-header
  %h1 Fashion styles

= link_to 'Add', new_admin_fashion_style_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Presentation
      %th &nbsp;
  %tbody
    - @fashion_styles.each do |style|
      %tr
        %td= link_to style.presentation, [:admin, style]
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to '', edit_admin_fashion_style_path(style), class: 'btn btn-mini icon-pencil'
            %div.btn-group
              = link_to '', [:admin, style], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'