.page-header
  %h1 Fashion style

%p
  %strong Presentation:
  %br
  = @fashion_style.presentation
%p
  %strong Name:
  %br
  = @fashion_style.name
%p
  %strong Tags:
  %br
  = @fashion_style.tag_list.join(', ')
%p
  %strong Image large:
  %br
  = image_tag @fashion_style.image_url.to_s
%p
  %strong Image medium:
  %br
  = image_tag @fashion_style.image_url(:medium).to_s

.form-actions
  = link_to 'Back', admin_fashion_styles_path, class: 'btn'
  = link_to 'Edit', edit_admin_fashion_style_path(@fashion_style), class: 'btn'
  = link_to 'Destroy', [:admin, @fashion_style], method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
