<a href="/profiles/<%= username %>">
    <img alt="<%=name%>" class="m" height="120" src="<%= url %><%= avatar %>" width="120">
</a>
<a href="/profiles/<%= username %>" class="disblock"><%= name %></a>
<span class="disblock"><% if (fashion_style) { %> #<%=fashion_style%> <% } %></span>
<span class="asLink <%= active %> follow"><%= followText %></span>