= form_for [:admin, @user], class: 'form-horizontal' do |f|
  = f.label :username, 'Username'
  = f.text_field :username
  = f.label :fullname, 'Fullname'
  = f.text_field :fullname
  = f.label :fashion_style_id, 'Fashion style'
  = f.select :fashion_style_id, FashionStyle.all.collect {|s| [ s.name, s.id ] }
  = f.label :bot, 'Is bot?'
  = f.check_box :bot
  - unless @user.new_record?
    %p Current avatar:
    = image_tag @user.avatar_url.to_s
    = link_to 'Destroy avatar', delete_avatar_admin_user_path(@user), class: 'btn'
  = f.label :avatar, 'Avatar'
  = f.file_field :avatar
  = f.label :email, 'Email'
  = f.text_field :email
  - if @user.new_record?
    = f.label :password, 'Password'
    = f.password_field :password
    = f.label :password_confirmation, 'Password confirmation'
    = f.password_field :password_confirmation
  = f.label :role, 'Role'
  - Settings.roles.each do |r|
    = f.label :role, r
    = f.radio_button :role, r
  = f.label :role, 'None'
  = f.radio_button :role, ''
  %h4 Photos
  #photos
    = f.fields_for :photos do |photo|
      = render 'photo_fields', f: photo
    .links
      = link_to_add_association 'add photo', f, :photos
  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @user], class: 'btn'