.page-header
  %h1 Users

%div
  = form_tag admin_users_path, method: :get, class: 'form-inline' do
    = text_field_tag :username, params[:username], placeholder: "Username", class: 'input-large'
    = submit_tag "Search", name: nil, class: 'btn'
    = link_to 'Clear', admin_users_path, class: 'btn'

%div
  %p= "Real users count: #{User.real.count}"
  %p= "Bots count: #{User.bots.count}"

%div
  = paginate @users

= link_to 'Add', admin_new_user_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Username
      %th Fullname
      %th Role
      %th Blocked
      %th &nbsp;
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.username, admin_user_path(user.username)
        %td= user.fullname
        %td= user.role
        %td= user.blocked
        %td
          %div.btn-toolbar
            %div.btn-group
              %a{href: "#", class: "btn dropdown-toggle btn-mini icon-cog", data: {toggle: "dropdown"}}
              %ul.dropdown-menu
                %li= link_to 'Edit', edit_admin_user_path(user)
                %li= link_to 'Block', block_admin_user_path(user), method: :put
            %div.btn-group
              = link_to '', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'