.page-header
  %h1 User

%p
  %strong Avatar:
  %br
  = image_tag @user.avatar_url.to_s
%p
  %strong Username:
  %br
  = @user.username
%p
  %strong Fullname:
  %br
  = @user.fullname
%p
  %strong Role:
  %br
  = @user.role
%p
  %strong Blocked:
  %br
  = @user.blocked
%p
  %strong Is bot:
  %br
  = @user.bot
%p
  %strong Fashion style:
  %br
  = @user.fashion_style.name
%p
  %strong Photos:
  %br
  = render partial: 'photo', collection: @user.photos

.form-actions
  = link_to 'Back', admin_users_path, class: 'btn'
  = link_to 'Edit', edit_admin_user_path(@user), class: 'btn'