<div class="static-page-container">
	<h1 class="c">List Of Brands</h1>
	<div class="wrap-brands">
		<div class="brands">
			<%if(data)for(var i =0;i < data.brands.length;i++){%>
			<div class="box">
				<a href="<%=data.brands[i].profile%>"> <img
					alt="<%=data.brands[i].name%>"
					src="<%=url%><%=data.brands[i].image.image.url%>" /></a>
			</div>
			<%}%>
		</div>
	</div>
	<div class="toTop curpoint">
		<i class="moderaIcons clear">V</i> <span class="disinbl">Back
			to Top</span>
	</div>
</div>