<span class="prev slidesjs-previous slidesjs-navigation"></span>
<span class="next slidesjs-next slidesjs-navigation"></span>
<div class="text-slider-item">Compete with other users, inspire
	others and be inspired by everyone's unique style and play the "Style
	Challenge" game with friends. For a chance to win prizes from our
	sponsors</div>
<div class="text-slider-item">Compete with other users, inspire
	others and be inspired by everyone's unique style and play the "Style
	Challenge" game with friends. For a chance to win prizes from our
	sponsors</div>