<span class="prev slidesjs-previous slidesjs-navigation"></span>
<span class="next slidesjs-next slidesjs-navigation"></span>

<div class="text-slider-item">Upload your best pictures and
	compete against others with the same style and taste as you.</div>
<div class="text-slider-item">Upload your best pictures and
	compete against others with the same style and taste as you.</div>