= form_for [:admin, @member], class: 'form-horizontal' do |f|
  = f.label :fullname, 'Fullname'
  = f.text_field :fullname
  = f.label :position, 'Position'
  = f.text_field :position
  = f.label :position, 'Order'
  = f.text_field :ord
  = f.label :avatar, 'Avatar'
  = f.file_field :avatar
  = f.label :avatar, 'Background'
  = f.file_field :background

  %h4 Questions
  #questionaries
    = f.fields_for :questionaries do |questionary|
      = render 'questionary_fields', f: questionary
    .links
      = link_to_add_association 'Add question', f, :questionaries
  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @member], class: 'btn'