.page-header
  %h1 Modera Members

= link_to 'Add', new_admin_member_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Avatar
      %th Fullname
      %th Position
      %th Order
      %th &nbsp;
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.fullname, [:admin, member]
        %td &nbsp;
        %td= member.fullname
        %td= member.position
        %td= member.ord
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to edit_admin_member_path(member), class: "btn dropdown-toggle btn-mini" do
                %i{class: "icon-pencil"}
            %div.btn-group
              = link_to [:admin, member], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' do
                %i{class: "icon-remove icon-white"}