.page-header
  %h1 Member

%p
  %strong Avatar:
  %br
  = image_tag @member.avatar.url
%p
  %strong Background:
  %br
  = image_tag @member.background.url
%p
  %strong Fullname:
  %br
  = @member.fullname
%p
  %strong Position:
  %br
  = @member.position
%p
  %strong Order:
  %br
  = @member.ord

%br
%br
%h2 Questions
= render partial: 'questionary', collection: @questionaries


.form-actions
  = link_to 'Back', admin_members_path, class: 'btn'
  = link_to 'Edit', edit_admin_member_path(@member), class: 'btn'