.nano
  .content
    .static
      .width
        .wrapper.text
          %aside.left
            %h2.back.ttu
              = link_to 'Support', current_user.present? ? profile_path(current_user.username) : home_path
            %nav
              %ul
                %li
                  = link_to 'About us', '/about', class: 'active'
                  %ul
                    / %li
                    /   = link_to 'Investment', '/pages/investment'
                    %li
                      = link_to 'Our Story', '/pages/our_story'
                %li
                  = link_to 'Partnership', '/pages/partnership'
                  %ul.open
                    %li
                      = link_to 'Business proposal', '/pages/business_proposal'
                    %li
                      = link_to 'Content', '/pages/content'
                    %li
                      = link_to 'Videos', '/pages/videos'
                %li
                  = link_to 'Contact us', '/pages/contact_us'
                %li
                  = link_to 'Blog', 'http://blog.modera.co'
                %li
                  = link_to 'Community Guidelines', '/pages/guidelines'
                %li
                  = link_to 'Terms of Service', '/tos'
                %li
                  = link_to 'Privacy Policy', '/privacy'
                %li
                  = link_to 'List of brands', '/pages/brands', class: 'nobrd'
          %article.overhide
            = render "pages/content/#{@content_page}"