<% if (voter != null ) { %>
<a href="/profiles/<%= voter.username %>" title="<%= voter.name %>">
    <img alt="<%= voter.name %>" class="userpic" height="30" src="<%= url %><%= voter.avatar %>" width="30">
    <span><%= name %></span>
</a>
<span>voted <%= text %> you in sponsored contest</span>
<% } %>
