<span class="asLink abs c shareWindow disnone">Share</span>
<div class="vs abs c">
    <i class="moderaIcons">A</i>
</div>
<div class="timeline abs c">
    <i class="moderaIcons">G</i>
   <%= created_at%>
</div>