<%
if(data && data.contests)
for(var i in data.contests){%>
<div class="item">
	<a href="#/hashtag_contests/<%=data.contests[i].name%>" class="right btn jump-to-contest" contestId="<%=data.contests[i].id%>">Jump to Contest</a>
	<a href="#hall_of_fame/<%=data.contests[i].id%>" class="right btn see-hall-oflfame" contestId="<%=data.contests[i].id%>">See Hall of Fame</a>
	<div class="contect-place left">
		<span class="h2"><%=data.contests[i].user_place%></span> <i class="moderaIcons">)</i>
	</div>
	<a class="textOverhide" href="#/hashtag_contests/<%=data.contests[i].name%>" title="<%=data.contests[i].name%>">
		<img alt="<%=data.contests[i].name%>" height="46" src="<%=url%><%=data.contests[i].prize%>" width="46" />
		<span><%=data.contests[i].name%></span>
	</a>
</div>

<%}%>