<fieldset>
	<div class="thin fs14">
		<label class="disblock">Username</label>
		<span class="disblock"><%= data.info.username %></span>
	</div>
	<div class="thin fs14">
		<label class="disblock">URL</label>
		<span class="disblock">
			<%= 'http://' + window.location.hostname + '/profiles/' + data.info.username %>
		</span>
	</div>
	<label class="thin fs14" for="mail">Email</label>
	<div class="fieldForm rel">
		<span class="close-error abs">×</span>
		<span class="message-error abs alert-error">Email is invalid</span>
		<input id="email" name="email" type="email" placeholder="Email" value="<%= data.info.email %>">
		<span class="info thin">
			Please use a valid email address.<br/>We promise not to spam, sell or abuse it. <br /><b>Your Email will not be publicly displayed.</b>
		</span>
	</div>
</fieldset>
<fieldset class="avatar-form">
	<div class="right">
		<div class="btn" id="file-uploader" >Choose Profile Picture</div>
		<a class="avatarFacebook c disblock" href="#">
		<i class="moderaIcons left">f</i>
		<span>Set from Facebook</span>
		</a>
			<a class="avatarTwitter c disblock" href="#">
			<i class="moderaIcons left">t</i>
		<span>Set from Twitter</span>
		</a>
		<div class="thin">This Image will appear as your profile photo.</div>
	</div>
	<div class="left c">
		<div class="load-avatar rel">
			<span class="close-error abs">×</span>
			<img alt="Default-avatar" src="<%= url %><%= avatar %>">
			<div class="spinner disnone">
        <img src="<%=url%>/assets/loading.gif" class="loading" />
      </div>
		</div>
		<input class="vishid disnone" id="user_avatar" type="file">
	</div>
</fieldset>
<div class="c">
	<input class="btn active" name="commit" type="submit" value="Save Changes">
</div>
