<input<% if (checked) { %> checked="checked"<% } %> class="niceCheckbox-checkbox" id="<%= id %>" name="<%= id %>" type="checkbox" value="<%= !!checked %>" />
<label class="thin fs14" for="<%= id %>"><%= description %></label>