/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "3", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
    %td{:align => "center", :valign => "top", height: "50"}
      %h2
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px;"}
            Everyday Newsletter
    %td{:rowspan => "3", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""

  %tr
    %td
      -if @commented[:users].count > 0 || @mentioned[:users].count > 0
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "536"}
          %tr
            %td{:align => "center", :colspan => "3", :height => "71", :valign => "middle"}
              %h3
                %i
                  %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:24px; font-weight:normal;"}
                    Comments

          -if @commented[:users].count > 0
            %tr
              %td{:valign => "top", :width => "70", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
                =image_tag @commented[:users].last.avatar.small.url, style: "display:block;", width: "70", height: "70", alt: ""
              %td{valign: "top", width: "30", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
                =image_tag 'letters/blank.gif', style: "width:30px; display:block;", width: "1", height: "1", alt: ""
              %td{valign: "top", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4", align: "left"}
                %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}
                  = link_to(@commented[:users].last.username, profile_url(@commented[:users].last))
                  - if @commented[:users].count > 1
                    & others
                    = link_to "others #{@commented[:users].count - 1}", '#'
                  mentioned you in a comment!
          -if @mentioned[:users].count > 0
            %tr
              %td{:valign => "top", :width => "70", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
                =image_tag @mentioned[:users].last.avatar.small.url, style: "display:block;", width: "70", height: "70", alt: ""
              %td{valign: "top", width: "30", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
                =image_tag 'letters/blank.gif', style: "width:30px; display:block;", width: "1", height: "1", alt: ""
              %td{valign: "top", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4", align: "left"}
                %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}
                  = link_to(@mentioned[:users].last.username, profile_url(@mentioned[:users].last))
                  - if @mentioned[:users].count > 1
                    & others
                    = link_to "others #{@mentioned[:users].count - 1}", '#'
                  left a comment on your photo!

      -if @followers[:users].count > 0
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "536"}
          %tr
            %td{:align => "center", :colspan => "3", :height => "71", :valign => "middle"}
              %h3
                %i
                  %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:24px; font-weight:normal;"}
                    Followers

          %tr
            %td{:valign => "top", :width => "70", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
              =image_tag @followers[:users].last.avatar.small.url, style: "display:block;", width: "70", height: "70", alt: ""
            %td{valign: "top", width: "30", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
              =image_tag 'letters/blank.gif', style: "width:30px; display:block;", width: "1", height: "1", alt: ""
            %td{valign: "top", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4", align: "left"}
              %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}
                = link_to(@followers[:users].last.username, profile_url(@followers[:users].last))
                - if @followers[:users].count > 1
                  & others
                  = link_to "others #{@followers[:users].count - 1}", '#'
                followed you!

      -if @facebook[:users].count > 0
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "536"}
          %tr
            %td{:align => "center", :colspan => "3", :height => "71", :valign => "middle"}
              %h3
                %i
                  %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:24px; font-weight:normal;"}
                    Facebook Friends

          %tr
            %td{:valign => "top", :width => "70", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
              =image_tag @facebook[:users].last.avatar.small.url, style: "display:block;", width: "70", height: "70", alt: ""
            %td{valign: "top", width: "30", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4"}
              =image_tag 'letters/blank.gif', style: "width:30px; display:block;", width: "1", height: "1", alt: ""
            %td{valign: "top", style: "padding-bottom:7px; padding-top:8px; border-bottom:1px solid #c4c4c4", align: "left"}
              %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}
                Your Facebook friends
                = link_to(@facebook[:users].last.username, profile_url(@facebook[:users].last))
                - if @facebook[:users].count > 1
                  & others
                  = link_to "others #{@facebook[:users].count - 1}", '#'
                  have joined Modera. Would like to follow them?
  %tr
    %td{:align => "center", :height => "102", :valign => "bottom"}
      = link_to :notifications, :style => "text-decoration:none;" do
        = image_tag 'letters/go-to-notifications.jpg', :alt => "see comments", :height => "57", :style => "border:none;", :width => "175"

/ END body
