/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "8", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
    %td{:align => "center", :height => "40", :valign => "middle"}
      %h1
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px; font-weight:normal;"} You aren’t a newbie anymore!
    %td{:rowspan => "8", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
  %tr
    %td{:align => "center", :height => "55", :valign => "top"}
      %span
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :size => "4"} You have tallied your first 100 votes and are ready to enter the lifestyle league!
  %tr
    %td{:height => "45", :valign => "top"}
      %span
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:24px;"} This is where the competition heats up.
  %tr
    %td{:height => "46", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px;"} So what does that mean for you Mojo?
  %tr
    %td{:align => "justify", :height => "64", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px;"} This means that you are becoming a lifestyle maven and the rest of Modera has been put on notice that you are not to be taken lightly.
  %tr
    %td{:align => "center", :height => "60", :valign => "top"}
      %span
        %i
          %font{:color => "#d61414", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:34px;"} Beware!
  %tr
    %td{:align => "justify", :height => "72", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px;"} Now your votes can get deducted when someone votes against you if you are brave enough to try the “power hour” feature.  You’re a factor now so make sure to upload only your best lifestyle pictures.
  %tr
    %td{:align => "justify"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px;"} Impose your lifestyle as a proven Modera influencer on the rest of the community by building your network.  Share your pictures with all of your friends and family to really start racking up the votes and blaze a trail up the Modera Hall of Fame rankings.
/ END body
