/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "4", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
    %td{:align => "center", :colspan => "3", :valign => "top"}
      =image_tag 'letters/smyle-inappropriate.jpg', width: "68", height: "77", alt: ""
    %td{:rowspan => "4", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
  %tr
    %td{:align => "center", :colspan => "3", :height => "80", :valign => "top"}
      %h2
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px;"} Inappropriate Content
  %tr
    %td{:align => "center", :colspan => "3", :height => "45", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}= "Your comment on #{@receiver.username} picture has been deleted due to complaints from other users."
  %tr
    %td{:colspan => "3"}
      %table
        %tr
          %td{:valign => "top", :width => "30"}
            =image_tag 'letters/bg_comment.jpg', style: "display:block;", width: "30", height: "20", alt: ""
          %td{:valign => "top", :width => "14"}
            =image_tag 'letters/blank.gif', style: "width:14px; display:block;", width: "1", height: "1", alt: ""
          %td{:valign => "top"}
            =link_to profile_url(@user), target: "_blank", style: "text-decoration:none;" do
              %b
                %i
                  %font{:color => "#bf427a", :face => "Arial, Helvetica, sans-serif", :style => "font-size:14px;"}=" #{@user.name}:"
            %span
              %i
                %font{:color => "#3e444d", :face => "Arial, Helvetica, sans-serif", :style => "font-size:14px"}=" #{@object.comment}"
/ END body
