/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "3", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
    %td{:align => "center", :colspan => "3", :valign => "top"}
      =image_tag 'letters/smyle-inappropriate.jpg', width: "68", height: "77", alt: ""
    %td{:rowspan => "3", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
  %tr
    %td{:align => "center", :colspan => "3", :height => "80", :valign => "top"}
      %h2
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px;"} Inappropriate Content
  %tr
    %td{:colspan => "3"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "536"}
        %tr
          %td{:valign => "top", :width => "70"}
            =image_tag attachments['photo.jpg'].url, style: "display:block;", width: "70", height: "70", alt: ""
          %td{:valign => "top", :width => "30"}
            =image_tag 'letters/blank.gif', style: "width:30px; display:block;", width: "1", height: "1", alt: ""
          %td{:valign => "top"}
            %span
              %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"} We have received complaints about the content of your photo, unfortunately after careful review we will have to remove the photo from your profile.
            %br/
            %span
              %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"} Please refrain from uploading any material that may be considered lude or offensive or we may be forced to take further action up to and including suspension of your account.
/ END body
