%html
  %head
    %title Welcome to Modera
    :css
      *{margin:0;padding:0;}
  %body
    %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :rules => "none", :width => "684"}
      %tr
        %td{:valign => "top"}
          / Start header
          %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :rules => "none", :width => "684"}
            %tr
              %td{:valign => "top"}
                =image_tag "letters/bg_left_share.jpg", :height => "242", :width => "197", alt: ""
              %td{:valign => "top"}
                %a{:href => "http://modera.co", :style => "border:none; text-decoration:none;", :target => "_blank"}
                  =image_tag "letters/bg_logo_share.jpg", :height => "242", :style => "border:none; display:block;", :width => "286", alt: "Modera.co"
              %td{:valign => "top"}
                =image_tag "letters/bg_right_share.jpg", :height => "242", :width => "201", alt: ""
          / End header
          / START body
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
            %tr
              %td{:align => "center", :bgcolor => "#ffffff", :valign => "top"}
                %span
                  %font{:color => "#070707", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:18px"}
                    %i If you love me, you will click on the link here --›
                %br/
                -if @inviter.best_photo
                  =link_to "http://modera.co/profiles/#{@inviter.username}/photos/#{@inviter.best_photo.id}?invitation_token=#{@token}" do
                    %font{:color => "#d8204c", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:18px"}
                      %i The Modera
                - else
                  =link_to "http://modera.co/profiles/#{@inviter.username}?invitation_token=#{@token}" do
                    %font{:color => "#d8204c", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:18px"}
                      %i The Modera
                %span
                  %font{:color => "#070707", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:18px"}
                    %i &nbsp;and then vote for me by clicking on my picture! ‹3
            %tr
              %td{:valign => "bottom", style: "line-height: 1px;"}
                =image_tag "letters/bg_top.jpg", :height => "51", :width => "684", alt: ""
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
            %tr{ style: "line-height: 1px;"}
              %td{ style: "line-height: 1px;"}
                =image_tag "letters/l.jpg", :height => "291",  :width => "41", alt: ""
              %td{ style: "line-height: 1px;"}
                =image_tag "letters/prize.jpg", :height => "291", :width => "291", alt: ""
              %td{ style: "line-height: 1px;"}
                =image_tag  "letters/c.jpg", :height => "291", :width => "20", alt: ""
              %td{ style: "line-height: 1px;"}
                -if @inviter.best_photo
                  =image_tag @inviter.best_photo.image.medium.url, :height => "291", :width => "291", alt: ""
                -else
                  =image_tag "letters/best_default.jpg", :height => "291", :width => "291", alt: ""
              %td
                =image_tag "letters/r.jpg", :height => "291", :width => "41", alt: ""
            %tr
              %td{:colspan => "5", style: "line-height: 1px;"}
                =image_tag "letters/bg_center.jpg", :height => "145", :width => "684", alt: ""
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
            %tr
              %td{:rowspan => "3", :valign => "top"}
                =image_tag "letters/bg_prize_left_share.jpg", :height => "76", :width => "230", alt: ""
              %td{:align => "center", :style => "padding-bottom:27px; border-bottom:1px solid #c9c9c9;", :valign => "top", :width => "218"}
                %a{:href => "https://www.facebook.com/pages/Modera/440859079296787?fref=ts", :style => "text-decoration:none; border:none; padding:0 6px; vertical-align:top;", :target => "_blank"}
                  =image_tag "letters/facebook_small.gif", :alt => "facebook", :border => "0", :height => "19", :style => "vertical-align:top;", :width => "19"
                %a{:href => "https://twitter.com/TheModera", :style => "vertical-align:top; text-decoration:none; border:none; padding:0 6px;", :target => "_blank"}
                  =image_tag "letters/twitter_small.gif",  :alt => "twitter", :border => "0", :height => "19", :style => "vertical-align:top;", :width => "19"
                %a{:href => "https://plus.google.com/u/0/102225817644832925866/posts", :style => "vertical-align:top; text-decoration:none; border:none; padding:0 6px;", :target => "_blank"}
                  =image_tag "letters/gplus_small.gif", :alt => "gplus", :border => "0", :height => "19",  :style => "vertical-align:top;", :width => "19"
                %a{:href => "http://instagram.com/fashionmodera", :style => "vertical-align:top; text-decoration:none; border:none; padding:0 6px;", :target => "_blank"}
                  =image_tag "letters/instagram_small.gif", :alt => "instagram", :border => "0", :height => "19", :style => "vertical-align:top;", :width => "19"
              %td{:rowspan => "3", :valign => "top"}
                =image_tag "letters/bg_photo_right_share.jpg", :height => "76", :width => "236", alt: ""
            %tr
              %td{:align => "center", :style => "padding-top:12px; padding-bottom:12px;", :valign => "top"}
                %span
                  %font{:color => "#070707", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:18px"}
                    %i
                      I want to win this prize,
                      %br>/
                      so vote for my photo
            %tr
              %td{:align => "center", :style => "padding-bottom:18px;", :valign => "top"}
                %span
                  %font{:color => "#070707", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}
                    Modera
          / END body
