/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "3", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
    %td{:align => "center", :valign => "top", height: '50'}
      %h2
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px;"}
            You have been @mentioned
    %td{:rowspan => "3", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""

  %tr
    %td
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "536"}
        %tr
          %td{:valign => "top", :width => "70", style: "padding-bottom:7px; padding-top:8px;"}
            =image_tag @actor.avatar.small.url, style: "display:block;", width: "70", height: "70", alt: ""
          %td{valign: "top", width: "30", style: "padding-bottom:7px; padding-top:8px;"}
            =image_tag 'letters/blank.gif', style: "width:30px; display:block;", width: "1", height: "1", alt: ""
          %td{valign: "top", style: "padding-bottom:7px; padding-top:8px;", align: "left"}
            %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px"}
              = link_to("@#{@actor.username}", profile_url(@actor))
              just mentioned you in a comment!
  %tr
    %td{:align => "center", :height => "102", :valign => "bottom"}
      = link_to profile_url(@comment.photo.user)+"#browse_legacy/#{@comment.photo.id}", :style => "text-decoration:none;" do
        = image_tag 'letters/see_comments.jpg', :alt => "see comments", :height => "57", :style => "border:none;", :width => "174"
/ END body
