/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "5", :valign => "top", width: '74'}
      =image_tag 'letters/blank.gif',   width: "1", height: "1", style: "width:74px; display:block;"
    %td{:align => "center", :height => "40", :valign => "middle"}
      %h1
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px; font-weight:normal;"} Reset your password
    %td{:rowspan => "5", :valign => "top", width: '74'}
      =image_tag 'letters/blank.gif',   width: "1", height: "1", style: "width:74px; display:block;"
  %tr
    %td{:align => "center", :height => "55", :valign => "top"}
      %span
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :size => "4"} Forgot your password?
  %tr
    %td{:align => "left", :height => "50", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :size => "2"} The Modera lifestyle can be a bit hectic! Let’s get you back in the game!
  %tr
    %td{:align => "left", :height => "50", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :size => "2"} Simply click the button below and you will be redirected to our password reset page.
  %tr
    %td{:align => "center", :height => "72", :valign => "top"}
      =link_to "#password/edit?reset_password_token=#{@resource.reset_password_token}", target: "_blank" do
        =image_tag 'letters/reset_pass.jpg', alt: "Reset password",  width: "197", height: "53", border: "0"
/ END body
