/ START body
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "4", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
    %td{:align => "center", :height => "40", :valign => "middle"}
      %h1
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :style => "font-size:30px; font-weight:normal;"} Welcome to Modera
    %td{:rowspan => "4", :valign => "top"}
      =image_tag 'letters/blank.gif', style: "width:74px; display:block;", width: "1", height: "1", alt: ""
  %tr
    %td{:align => "center", :height => "55", :valign => "top"}
      %span
        %i
          %font{:color => "#3e444d", :face => "Georgia, Times New Roman, Times, serif", :size => "4"} Are you ready for the Modera Expirience?
  %tr
    %td{:align => "left", :height => "97", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px;"} Modera is a lifestyle community filled with fashion, photography, design and much more. Modera allows you to flaunt your cool and show off your Mojo for all to see. This isn't about following the trends it's about making your own. Your profile is your runway, you command the show so make it your own and show the world how to live life to the fullest!


%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "3", :width => "364", valign:'bottom'}
      =image_tag 'letters/welcome_1.jpg',  width: "364", height: "261", alt: ""
    %td{:rowspan => "2"}
      =image_tag 'letters/blank.gif', style: "width:33px", width: "1", height: "1", alt: ""
    %td{:height => "77", :valign => "bottom"}
      %h2{:style => "padding-bottom:7px;"}
        %span
          %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:24px;"} You are the star of the show
    %td{:rowspan => "2"}
      =image_tag 'letters/blank.gif', style: "width:74px", width: "1", height: "1", alt: ""
  %tr
    %td{:height => "136", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px; line-height:18px;"} Post your pictures for your audience and collect votes as you set the trend as you make your own lane... this is fashion on your terms!
  %tr
    %td{:colspan => "3", :width => "320"}
      =image_tag 'letters/bg_footer.jpg', style: "width:320px;", width: "1", height: "48", alt: ""


%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "2"}
      =image_tag 'letters/blank.gif', style: "width:53px;", width: "1", height: "1", alt: ""
    %td{:height => "100", :valign => "bottom"}
      %h2{:style => "padding-bottom:7px;"}
        %span
          %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:24px;"} Get your network buzzing
    %td{:rowspan => "2"}
      =image_tag 'letters/blank.gif', style: "width:10px;", width: "1", height: "1", alt: ""

    %td{:rowspan => "3", :width => "393"}
      =image_tag 'letters/welcome_2.jpg', width: "393", height: "286", alt: ""
  %tr
    %td{:height => "138", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px; line-height:18px;"} Share your photos with friends and family and challenge them to a friendly battle of lifestyle savvy
  %tr
    %td{:colspan => "3", :width => "291"}
      =image_tag 'letters/bg_footer.jpg', style: "width:291px;", width: "1", height: "48", alt: ""


%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "684"}
  %tr
    %td{:rowspan => "3", :width => "372"}
      =image_tag 'letters/welcome_3.jpg', width: "372", height: "286", alt: ""
    %td{:rowspan => "2"}
      =image_tag 'letters/blank.gif', style: "width:40px", width: "1", height: "1", alt: ""
    %td{:height => "113", :valign => "bottom"}
      %h2{:style => "padding-bottom:7px;"}
        %span
          %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:24px;"} Come out on top!
    %td{:rowspan => "2"}
      =image_tag 'letters/blank.gif', style: "width:74px", width: "1", height: "1", alt: ""
  %tr
    %td{:height => "125", :valign => "top"}
      %span
        %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :style => "font-size:14px; line-height:18px;"} Win prizes from one of our valued sponsors like
      %a{:color => "#256bee", :href => "http://www.boujoi.com/", :target => "_blank"}
        %span
          %font{:color => "#256bee", :face => "Tahoma, Geneva, sans-serif", :size => "2"} Boujoi
      %span
        %font .
  %tr
    %td{:colspan => "3", :width => "312"}
      =image_tag 'letters/bg_footer.jpg', style: "width:312px", width: "1", height: "48", alt: ""
  %tr
    %td{:colspan => "4", height: '30', valign: 'middle', align: 'center'}
      %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :size => "3"} Build your following by sharing your unique invitation for Modera beta.
/ END body
