<a href="#browse_legacy/<%=id%>">
    <img alt="" height="302" src="<%= url %><%=image %>" width="302" />  
</a>
<div class="right disnone">
    <span> <b><%=rate %>%</b> of win rate </span>
    <span> <b><%=compares_count %></b> compares </span>
</div>
