.page-header
  %h1 Inappropriates

%table.table.table-striped
  %thead
    %tr
      %th User
      %th Object
      %th Created at
  %tbody
    - @inappropriates.each do |inappropriate|
      %tr
        %td= link_to inappropriate.user.name, [:admin, inappropriate.user]
        %td= link_to inappropriate.inappropriateable_type, [:admin, inappropriate]
        %td= inappropriate.created_at
        