.page-header
  %h1 Inappropriate

%p
  %strong User:
  %br
  = link_to @inappropriate.user.name, [:admin, @inappropriate.user]
- if @inappropriate.inappropriateable_type == 'Comment' && @object
  %p
    %strong Text:
    %br
    = @object.comment
  %p
    %strong Author:
    %br
    = link_to @object.user.fullname, [:admin, @object.user]
  = link_to 'Destroy comment', destroy_comment_admin_inappropriate_path(@inappropriate), method: :delete, class: 'btn btn-danger'
- elsif @inappropriate.inappropriateable_type == 'Photo' && @object && !@object.deleted
  %p
    %strong Image:
    %br
    = image_tag @object.image_url
  %p
    %strong Owner:
    %br
    = link_to @object.user.fullname, [:admin, @object.user]
  = link_to 'Destroy photo', destroy_photo_admin_inappropriate_path(@inappropriate), method: :delete, class: 'btn btn-danger'
- elsif @inappropriate.inappropriateable_type == 'Contest' && @object
  %p
    %strong Contest:
    %br
    = link_to @object.name, [:admin, @object]
- elsif @object.nil? || @object.deleted
  %p
    %strong Inappropriate object was destroyed

.form-actions
  = link_to 'Back', admin_inappropriates_path, class: 'btn'