%p
  = image_tag '404.png', alt:'', class: 'mb'
%h1 404
%p
  The page you were looking for doesn't exist. You may have 
  %br/
  mistyped the address or the page may have moved.

-content_for :title,  "The page you were looking for doesn't exist."
