!!!
%html
  %head
    %title Modera | unsubscribe
    = stylesheet_link_tag "errors", :media => "all"
    %body
    .overlay
      = link_to 'Unsubscribe', '/', class: 'btn-2', style:'margin-top: 220px;'