.nano
  .content
    .popup
      .back
        %h2.ttn{:style=>'font-size:24px;'} Upload your photo from Facebook
      .nano
        .content
          %ul.photo-items
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
            %li
              .photo
                .photoframe
                  %span.checkbox
                  = image_tag 'samples/contest_photo.png', :alt=>'', :title=>''
      .c
        %a.btn-2{:href=>'#', :style=>'margin-top:20px;'} Cancel