%h3 List of brands
.brands
  %h3.left Share
  .right
    %span.disinbl.curpoint.modera-share.facebook
    %span.disinbl.curpoint.modera-share.pinterest
    %span.disinbl.curpoint.modera-share.twitter
    %span.disinbl.curpoint.modera-share.gplus
    %span.disinbl.curpoint.modera-share.tumblr
    %span.disinbl.curpoint.modera-share.flickr
    %span.disinbl.curpoint.modera-share.linked
    %span.disinbl.curpoint.modera-share.mail

  .clear
    = link_to (image_tag 'static/brands/saggin_hard.jpg', alt: 'saggin hard'), '/profiles/Sagginhard'
    = link_to (image_tag 'static/brands/alexander_star-1.jpg', alt: 'alexander star-1'), '/profiles/MrAlexanderStar'
    = link_to (image_tag 'static/brands/guapsco.jpg', alt: 'guapsco'), '/profiles/guapske'
    = link_to (image_tag 'static/brands/black_viola.jpg', alt: 'black viola'), '/profiles/BlackViolin'
    = link_to (image_tag 'static/brands/111Crazy_Ass_Pic.jpg', alt: '111Crazy Ass Pic'), '#'
    = link_to (image_tag 'static/brands/Boujoi.jpg', alt: 'Boujoi'), '#'
    = link_to (image_tag 'static/brands/StrikesUnlimited.jpg', alt: 'StrikesUnlimited', height: '321'), '/profiles/StrikesUnlimited'
    = link_to (image_tag 'static/brands/fab_fem.jpg', alt: 'fab fem'), '/profiles/fabfem'
    = link_to (image_tag 'static/brands/IsaiahMicahCo.jpg', alt: 'IsaiahMicahCo'), '/profiles/IsaiahMicahCo'
    = link_to (image_tag 'static/brands/OLLAGIO.jpg', alt: 'OLLAGIO'), '#'
    = link_to (image_tag 'static/brands/renowned_clothing.jpg', alt: 'renowned clothing'), '/profiles/renownedclothing'
    = link_to (image_tag 'static/brands/jalisas.jpg', alt: 'jalisas'), '/profiles/jalisasfiles'
    = link_to (image_tag 'static/brands/motorcycle-maps.jpg', alt: 'motorcycle-maps'), '/profiles/MotorcycleMaps'
    = link_to (image_tag 'static/brands/nikki_rich.jpg', alt: 'nikki rich'), '/profiles/MsNikkiRich'