%h3 Content
.grid
  - @static_contest_histories.each do |static_contest_history|
    = link_to (image_tag static_contest_history.image_url(:thumb), alt: static_contest_history.title), "/content/#{static_contest_history.permalink}"

  / %a{href:'/info/boujoi_glamour_love_charm_yellowgold_modera_sponsor'}

  / = image_tag 'static/content/thumb/BOUJOI_GOLD_LOVE_CHARM.jpg', alt:'BOUJOI_GOLD_LOVE_CHARM'


  / %a{href:'/info/boujoi_urban_diamond_kiss_charm_yellowgold_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI__DIAMOND_GOLD_CHARM_URBAN.jpg', alt:'BOUJOI__DIAMOND_GOLD_CHARM_URBAN '


  / %a{href:'/info/boujoi_urban_namesake_charm_yellowgold_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_NAMESAKE_CHARM.jpg', alt:'BOUJOI_GOLD_NAMESAKE_CHARM'


  / %a{href:'/info/boujoi_casual_gold_namesake_charm_yellowgold_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_NAMESAKE_CHARM_CASUAL.jpg', alt:'BOUJOI_GOLD_NAMESAKE_CHARM_CASUAL'


  / %a{href:'/info/boujoi_glamour_whitegold_small_clover_pendant_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_CLOVERPENDANT.jpg', alt:'BOUJOI_GOLD_CLOVERPENDANT'


  / %a{href:'/info/boujoi_glamour_yellowgold_ring_with_deux_stars_side_by_side_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_RING_STARS_SIDE_BY_SIDE.jpg', alt:'BOUJOI_GOLD_RING_STARS_SIDE_BY_SIDE'


  / %a{href:'/info/boujoi_casual_namesake_charm_yellowgold_yellowgold_ring_with_deux_stars_side_by_side_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_NAMESAKE_CHARM_GOLD_RING_STARS.jpg', alt:'BOUJOI_GOLD_NAMESAKE_CHARM_GOLD_RING_STARS'


  / %a{href:'/info/boujoi_urban_whitegold_smallclover_pendant_whitegold_classic_stars_ring_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_CLOVERPENDANT_GOLD_STARS-RING_URBAN.jpg', alt:'BOUJOI_GOLD_CLOVERPENDANT_GOLD_STARS-RING_URBAN'


  / %a{href:'/info/boujoi_glamour_diamond_kiss_charm_yellowgold_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_DIAMOND_CHARM.jpg', alt:'BOUJOI_GOLD_DIAMOND_CHARM'    


  / %a{href:'/info/boujoi_casual_whitegold_ring_with_deux_stars_side_by_side_whitegold_classic_stars_ring_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_GOLD_RING_STARS_GOLD_CLASSIC_STARS-RING.jpg', alt:'BOUJOI_GOLD_RING_STARS_GOLD_CLASSIC_STARS-RING'


  / %a{href:'/info/boujoi_glamour_diamond_kiss_charm_silver_modera_sponsor'}

  /   = image_tag 'static/content/thumb/BOUJOI_SILVER_DIAMOND_CHARM.jpg', alt:'BOUJOI_SILVER_DIAMOND_CHARM'


  / / %a{href:'#'}
  / /   = image_tag 'static/content/thumb/16-18v2/BOUJOI_DIAMOND_SILVER_CHARM_GOLD_CLASSIC_STARS_RING_CASUAL.jpg', alt:''
  / / %a{href:'#'}
  / /   = image_tag 'static/content/thumb/16-18v2/BOUJOI_GOLD_CLASSIC_STARS_RING_GOLD_CLOVERPENDANT_CASUAL.jpg', alt:''
  / / %a{href:'#'}
  / /   = image_tag 'static/content/thumb/16-18v2/BOUJOI_SILVER_DIAMOND_CHARM_GOLD_CLASSIC_STARS_RING_URBAN.jpg', alt:''

  / %a{href:'/info/boujoi_casual_whitegold_small_clover_pendant_whitegold_ring_with_deux_stars_side_by_side_modera_sponsor'}

  /   = image_tag 'static/content/thumb/16-18v3/BOUJOI_CLOVERPENDANT_GOLD_RING_STARS_SIDE.jpg', alt:'BOUJOI_CLOVERPENDANT_GOLD_RING_STARS_SIDE'


  / %a{href:'/info/boujoi_urban_diamond_kiss_charm_silver_whitegold_ring_with_deux_stars_side_by_side_modera_sponsor'}
  /   = image_tag 'static/content/thumb/16-18v3/BOUJOI_DIAMOND_CHARM_SILVER_GOLD_RING_STARS.jpg', alt:'BOUJOI_DIAMOND_CHARM_SILVER_GOLD_RING_STARS'
  / %a{href:'/info/boujoi_casual_diamond_kiss_charm_silver_whitegold_classic_stars_big_ring_modera_sponsor'}
    
  /   = image_tag 'static/content/thumb/16-18v3/BOUJOI_DIAMOND_SILVER_CHARM_GOLD_CLASSIC_STARS_BIG_RING.jpg', alt:''
