%h3 Contact us
%p
  %b Looking to get in touch?
  %br/
  Chat with us about an opportunity or idea anytime at
  = link_to 'Hello@modera.co', 'mailto:hello@modera.co'
%p
  If you're having a problem, Send us an email at
  = link_to 'help@modera.co', 'mailto:help@modera.co'
  and let us know how we can help.
%p
  For information on how your brand can make contest on modera reach us via email, contact
  = link_to 'brand@modera.co', 'mailto:brand@modera.co'
%p
  %b Looking to follow us? We have all kinds of lifestyle on

.modera-share.twitter.left
= link_to 'theModera', 'http://twitter.com/themodera'
.clear
.modera-share.facebook.left
= link_to 'Fashion', 'http://www.facebook.com/FashionModera'
|
= link_to 'Photography', 'http://www.facebook.com/PhotographyModera'
.clear
.modera-share.tubmlr.left
.clear
.modera-share.instagram.left
= link_to 'themodera', 'http://instagram.com/themodera'
|
= link_to 'fashionmodera', 'http://instagram.com/fashionmodera'
|
= link_to 'photography', 'http://instagram.com/photographymodera'
|
= link_to 'art', 'http://instagram.com/artmodera'
.clear
.modera-share.pinterest.left
= link_to 'themodera', 'http://pinterest.com/themodera'
.clear
and
%a{href: 'http://youtube.com/user/LifestyleModera'}
  = image_tag 'youtube.png', alt: 'youtube modera', style: 'vertical-align:middle'

%h3{style: 'margin-top: 40px;'} Contact form
%form{action: '#'}
  = text_field_tag 'name', nil, placeholder: 'Your name', tabindex: '1'
  = email_field_tag 'email', nil, placeholder: 'Email', tabindex: '2'
  = text_field_tag 'subject', nil,  placeholder: 'Subject', tabindex: '3'
  = text_area_tag 'message', nil, placeholder: 'Message', tabindex: '4'
  = submit_tag nil, class: "btn-2 clear"