%h3 Modera Community Guidelines
%p 
  The detailed Community Guidelines below have been created in order to help you understand the best practices as a member of the Modera community. By utilizing Modera you are also subject to our 
  %a{href:"/tos"} Terms of Use.
%p What our community values:
%ol
  %li 
    %b Ownership.
    %br/
    Modera is a great way to share your lifestyle and gain instant feedback from your peers who share your style. It’s important though that you share your own pictures and do not violate copyright ownership. When you want to express your excitement over a beautiful photo, it’s best to simply vote for it or save as favorite!
  %li
    %b Diversity.
    %br/
    Remember that our community is a diverse one, and that your photos are visible to people as young as 13 years old. While we respect the artistic integrity of photos, we have to keep our product and the photos within it in line with our App Store’s rating for nudity and mature content. In other words, please do not post nudity or mature content of any kind.
  %li
    %b Respect.
    %br/
    People from around the world with different backgrounds come together to share their lifestyle pictures on Modera. It means that not everyone will agree with what you think or believe. We ask that all users be polite and respectful in their interactions with other members.
  %li
    %b Meaningful Interaction.
    %br/
    Being the essential part of success on Modera lifestyle contests, excess self-promotion along with the commercial solicitation of any kind, in any form, is rarely well-received. So please be sincere with your exchanges on Modera.
  %li
    %b Use.
    %br/
    Modera is the best way to easily upload pictures of your style and receive a response instantly through Modera style challenge!
%p What you shouldn’t do:
%p Please note that violation of any of the rules outlined below may result in a disabled account, or discontinued access to Modera, without warning.
%ol
  %li 
    %b Don’t post pictures that don’t belong to you.
    %br/
    This includes other people’s photos, or things that you have copied or collected from the Internet. Accounts that solely consist of only this type of content may be disabled at any time without warning.
  %li 
    %b Don’t post pictures that show nudity or any other mature content.
    %br/
    Don’t post anything that children shouldn’t see. The same rule applies to your profile picture. Accounts found posting nudity or mature content will be disabled and your access to Modera may be discontinued, while the pictures will be deleted as soon as practicable.
  %li 
    %b Don’t post pictures of illegal content.
    %br/
    If we find you posting prohibited or illegal content, including pictures of extreme violence or gore, your account will be disabled and we will take appropriate action, which may include reporting you to the authorities.
  %li 
    %b Don’t spam.
    %br/
    Modera is a place where people can share their lifestyle images and get instant feedback from people about their outfits. It’s not a place where you should solicit, advertise or otherwise promote any of your products/content. This guideline includes repetitive comments, as well as service manipulation in order to self-promote, and extends to commercial spam comments, such as discount codes or URLs to websites. Please keep the community clean and don’t spam.
  %li 
    %b Don’t be rude.
    %br/
    Modera is a friendly place where everyone should feel safe and comfortable sharing their lifestyles through pictures. It is not an appropriate place to abuse, attack, harass, troll or impersonate others. If we receive valid complaints about your conduct, we’ll send a warning or disable your account without notice. Alternatively, we’d recommend users block all meanies and trolls to prevent further issues.
  %li 
    %b Don't promote or glorify self-harm.
    %br/
    Don’t post content that encourages or urges users to embrace anorexia, bulimia, or other eating disorders; or to cut, harm themselves, or commit suicide. This will result in a disabled account without warning.  Modera is not the place for active promotion or glorification of self-harm.
%p Additional things to remember
%ul
  %li Modera is a diverse community, and it is likely that you will come across things that offend you. If you are offended by a photo that may not violate any of the above guidelines, we’d suggest you navigate away from the account or simply skip the comparison block. If you are unsure about the content, you can report it utilizing our built-in reporting functionality in order to bring it to the Modera Team’s attention.
  %li If you find that one of your images has been uploaded to another user’s profile, try not to panic. It is likely a misunderstanding and not ill-intended. The first step you should take is notify us and we will investigate.
  %li If you think that there is immediate cause for concern, you can send a report to the Modera Team. Please provide all necessary information for us to quickly respond to an issue that urgently needs our attention, this includes image descriptions and dates, URLs, and valid usernames.
%p If you believe you will have trouble following these guidelines we’d suggest not to use Modera, as we value these guidelines and care about our users, and believe that they will help keep Modera a safe and fun place for everyone.