%h3 Videos
.grid
  %iframe{width:"320", height:"180", src:"http://www.youtube.com/embed/ST47Vdhk12s?rel=0", frameborder:"0"}
  %iframe{width:"320", height:"180", src:"http://www.youtube.com/embed/1LpOZLXOKYI?rel=0", frameborder:"0"}