%header
  .width.rel
    .logo
      %a{:href=>'/'}
        = image_tag 'logo_small.png', :alt=>'Modera.co'
    %nav.right
      %ul
        %li
          %a.active{:href=>'#'} home
        %li
          %a{:href=>'#'} challenges
        %li
          %a{:href=>'#'} upload photo
        %li
          %a{:href=>'#'} notifications
        %li
          %a{:href=>'#'} profile
.header-lvl2
  .width.overhide
    .back
      %h2
        comments
        %span (35)

.nano
  .content
    .wrapper.width
      .battle.nomrg.nobrd
        .pic-block.overhide
          .vs.talk
          .participant.right
            .timeline.right 3h
            %a.userpic{:href=>'#'}
              = image_tag 'samples/username_pic.png', :alt=>'username'
            %a.username{:href=>'#'} Mary Poppins
            .photo
              .photoframe
                = image_tag 'samples/contest_photo.png'
            .likes.left
              %a{:href=>'#'} 12
            %span.btn-2.comment.marg Comments
            %span.btn-2.more More
          .comments-all.left
            .nano
              .content
                %ul
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a{:href=>'#'} Mary Poppins
                      with
                      %a.username{:href=>'#'} @Katy Franklin:
                      Lorem Ipsum is simply dummy text XDDD Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a{:href=>'#'} Mary Poppins
                      with
                      %a.username{:href=>'#'} @Katy Franklin:
                      Lorem Ipsum is simply dummy text XDDD Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a{:href=>'#'} Mary Poppins
                      with
                      %a.username{:href=>'#'} @Katy Franklin:
                      Lorem Ipsum is simply dummy text XDDD Lorem Ipsum is simply dummy text XDDD
                  %li
                    %span.timeline.right 2h
                    %span.action
                    %p
                      %a.username{:href=>'#'} Dolore Setamet:
                      Lorem Ipsum is simply dummy text XDDD
          %form.form-comments.overhide{:action=>'#'}
            %span.userpic.left
              = image_tag 'samples/username_pic.png'
            %input.white.left{:type=>'text', :tabindex=>'1', :placeholder=>'@Katy Franklin'}
            %input.btn-2.left{:type=>'submit', :value=>'POST', :tabindex=>'2'}
      .action-list.c
        %ul.actions.disnone
          %li
            %a{:href=>'#'} report inappropriate
          %li
            %a{:href=>'#'} delete
          %li
            %a{:href=>'#'} respond    
        %ul.more
          %li
            %a{:href=>'#'} share photo
          %li
            %a{:href=>'#'} copy share url
          %li
            %a{:href=>'#'} email photo