.header-lvl2
  .width
    %h2{style: 'line-height:81px'} Upload photo

.nano{data: {bind: 'with: upload_photo'}}
  .content
    .wrapper.width
      .uploadPhoto{data: {bind: 'visible: step() == 1'}}
        .errorMessage.classic{style: 'margin-bottom: 15px;', data: {bind: "visible: errors()"}}
          %span Wrong image format!
        .social-action{data: {bind: 'visible: !loading()'}}
          .item
            / = form_tag upload_photo_photos_path, class: 'rel overhide', id: 'upload_photo', miltipart: true do
            /   /= file_field_tag 'image_file', class: 'abs', data: {bind: 'event: {change: crop}'}
            /   = file_field_tag 'image_file', class: 'abs'
            /   %div{onclick: "$('#image_file').click()"}
            /     = image_tag "upload_file.png", :alt=>'Upload your file'
            /     .ttu Choose file to upload
            %div{id: 'photo_uploader'}
              = image_tag "upload_file.png", :alt=>'Upload your file'
              .ttu Choose file to upload
          .hr
          / .item
          /   = image_tag "facebook.png", :alt=>'facebook'
          /   %div Upload your photo from Facebook
          / .item
          /   = image_tag "instagram.png", :alt=>'instagram'
          /   %div Upload your photo from Instagram
          .step-bar.disnone
            %ul.overhide
              %li.disabled
                %span.step-number 1
                %span Upload photo          
              %li.disabled
                %span.step-number
                %span
              %li.active
                %span.step-number
                %span

      .c{data: {bind: 'visible: loading'}}
        = image_tag 'wait.gif'

      .cropping{data: {bind: 'visible: step() == 2'}}
        =image_tag 'samples/contest_photo.png', data: {bind: 'attr: {src: image, width: image_width, height: image_height}'}, id: 'cropping_image'
        / =image_tag 'samples/contest_photo.png', data: {bind: 'attr: {src: image}'}, id: 'cropping_image'
        =form_tag photos_path, class: 'c' do
          - %w[x y w h].each do |attribute|
            = hidden_field_tag "photo_crop_#{attribute}"
          = hidden_field_tag "photo_min_size", 0
          = hidden_field_tag "photo_crop_default", 0
          = hidden_field_tag 'photo_image_cache'
          = link_to 'Cancel', new_photo_path, class: 'btn-2 marg'
          = submit_tag 'Crop', class: 'btn-2 marg'
/ :javascript
/   $(function(){
/       if (jQuery.browser.msie){
/         $('#image_file').bind('click', function(){
/           setTimeout(index_model.upload_photo().crop, 0);
/         });
/       } else {
/         $('#image_file').bind('change', index_model.upload_photo().crop);
/       }
/   });
/ :javascript
/   $(function(){
/     $("#upload_photo").fileupload({
/       dataType: "json",
/       url: "#{upload_photo_photos_path}",
/       singleFileUploads: true,
/       send: function(e, data) {
/         index_model.upload_photo().errors(false);
/         index_model.upload_photo().loading(true);
/       },
/       done: function(e, data) {
/         index_model.upload_photo().crop(data.result);
/       },
/       fail: function(e, data) {
/         index_model.upload_photo().errors(false);
/         index_model.upload_photo().loading(true);
/       }
/     });
/   });
:javascript
  $(function() {
    var uploader = new qq.FineUploaderBasic({
      button: $('#photo_uploader')[0],
      request: {
        endpoint: "#{upload_photo_photos_path}"
      },
      callbacks: {
        onUpload: function(id, fileName) {
          index_model.upload_photo().errors(false);
          index_model.upload_photo().loading(true);
        },
        onComplete: function(id, fileName, data) {
          index_model.upload_photo().crop(data);
        }
      }
    });
  });
