%html
  %head
    %title Modera
    = favicon_link_tag 'Favicon2.png'
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
  %body.lp{:style => "overflow: hidden;"}
    .share-photo-page.c
      %div{style: 'padding-top:50px'}
        %h1.title{style:'margin-bottom:20px;'}= "Share with #{params[:provider].capitalize}"
        = image_tag @photo.image.url, alt:'Photo to share', class: 'm'
        = form_tag share_photo_path, method: :post do
          = hidden_field_tag :share, true
          = hidden_field_tag :provider, params[:provider]
          = text_field_tag :text, nil, placeholder: 'Enter your comment...'

          = submit_tag 'Done', class: 'btn active'
          = link_to 'Cancel', '#', class: 'btn'
    - if params[:shared].present?
      :javascript
        window.opener.notifications.trigger('photo:shared', 'Photo shared successfully!', true);
        window.close();