.overlay
  = image_tag 'about/bg_Sasha.jpg', alt: "Alexander Kobelev", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Alexander Kobelev
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Programmer
        %p
          %b What are you paid to do at Modera?
          %span It's my life
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span What is 36? Only 48 hours in a row!
        %p
          %b What is your favorite style from Modera?
          %span Casual and Urban
        %p
          %b Pumps or wedges?
          %span Sneakers
        %p
          %b Favorite watch style?
          %span Classic
        %p
          %b Who is your favorite actor?
          %span Johnny Depp
        %p
          %b Mac or PC?
          %span Mac
        %p
          %b Captain Kirk or Spock?
          %span Kirk
        %p
          %b If you could have a super power what would it be?
          %span I'm Superman already
        %p
          %b Do you believe in unicorns?
          %span Sure!