.overlay
  = image_tag 'about/bg_Anvar2.jpg', alt: "Anvar Shakirov", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Anvar Shakirov
  .info.right
    .nano
      .content
        %p
          %b What is your Clearance?
          %span I'm member of the Promo team and assistant/supporter of the IT and BD department.
        %p
          %b What are you paid to do at Modera?
          %span Having fun! Also, some resources to get some tools that, makes my work much more comfortable :3
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yeap : D 
        %p
          %b What is your favorite style from Modera?
          %span Casual 
        %p
          %b Pumps or wedges?
          %span Pumps looks more beautiful
        %p
          %b Favorite watch style?
          %span Dunno D:
        %p
          %b Who is your favorite actor?
          %span JESSICA ALBA!!!
        %p
          %b Mac or PC?
          %span PC ofc *_*
        %p
          %b Captain Kirk or Spock?
          %span Gandalf the Grey!
        %p
          %b If you could have a super power what would it be?
          %span Time traveling!
        %p
          %b Do you believe in unicorns?
          %span  YES I DO :3