.overlay
  = image_tag 'about/bg_Anvar.jpg', alt: "Anvar Taishev", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Anvar Taishev
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Designer &amp; Illustrator
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yes.
        %p
          %b What is your favorite style from Modera?
          %span Steampunk.
        %p
          %b Pumps or wedges?
          %span Pumps.
        %p
          %b Favorite watch style?
          %span Tissot.
        %p
          %b Who is your favorite actor?
          %span JIM CARREY.
        %p
          %b Mac or PC?
          %span PC
        %p
          %b Captain Kirk or Spock?
          %span Spock.
        %p
          %b If you could have a super power what would it be?
          %span Mind Reading &amp; Telepathy
        %p
          %b Do you believe in unicorns?
          %span Yes :3