.overlay
  = image_tag 'about/bg_Artem.jpg', alt: "Artem Chekhlov", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Artem Chekhlov
  .info.right
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Promotion
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yes
        %p
          %b What is your favorite style from Modera?
          %span Military, casual, glamor
        %p
          %b Pumps or wedges?
          %span Pumps! I like Christian Louboutin shoes, Isabel Marant and Sergio Rossi shoes
        %p
          %b Favorite watch style?
          %span Cartier, Burberry, Chanel etc.
        %p
          %b Who is your favorite actor?
          %span Channing Tatum
        %p
          %b Mac or PC?
          %span PC
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk
        %p
          %b If you could have a super power what would it be?
          %span Fortune-telling
        %p
          %b Do you believe in unicorns?
          %span Yes
