.overlay
  = image_tag 'about/bg_Bobur.jpg', alt: "Bobur Umerkulov", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Bobur Umerkulov
  .info.right
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Programmer
        %p
          %b What are you paid to do at Modera?
          %span Having fun!
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span No
        %p
          %b What is your favorite style from Modera?
          %span Ski style =)
        %p
          %b Pumps or wedges?
          %span Ski-boots
        %p
          %b Favorite watch style?
          %span Techno
        %p
          %b Who is your favorite actor?
          %span Robert Downey Jr.
        %p
          %b Mac or PC?
          %span Mac
        %p
          %b Captain Kirk or Spock?
          %span Spock
        %p
          %b If you could have a super power what would it be?
          %span I have it - super-laziness
        %p
          %b Do you believe in unicorns?
          %span Yep!