.overlay
  = image_tag 'about/bg_Elya.jpg', alt: "El'vina Ziyadinova", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu El'vina Ziyadinova
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Front-end developer
        %p
          %b What are you paid to do at Modera?
          %span My contribution to the project
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span No, I work worse when I want to sleep
        %p
          %b What is your favorite style from Modera?
          %span Don't know
        %p
          %b Pumps or wedges?
          %span Barefoot
        %p
          %b Favorite watch style?
          %span Happy hours are not observing
        %p
          %b Who is your favorite actor?
          %span Bruce Willis
        %p
          %b Mac or PC?
          %span I use PC, but I want MAC
        %p
          %b Captain Kirk or Spock?
          %span Who are they?
        %p
          %b If you could have a super power what would it be?
          %span Imagine that it is already in your life, and it immediately appears! It is the materialization of thought!
        %p
          %b Do you believe in unicorns?
          %span Yes, in Amber world.  