.overlay
  = image_tag 'about/bg_gunay.jpg', alt: "Gunay Donmez", style:"width:100%; height:auto;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Gunay Donmez
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Marketing Research
        %p
          %b What are you paid to do at Modera?
          %span Identify and define marketing opportunities in the competitive marketing environment
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Very often
        %p
          %b What is your favorite style from Modera?
          %span Urban and Hipster
        %p
          %b Pumps or wedges?
          %span Pumps
        %p
          %b Favorite watch style?
          %span Digital waterproof watches
        %p
          %b Who is your favorite actor?
          %span Jacqueline Fernandez
        %p
          %b Mac or PC?
          %span PC
        %p
          %b Captain Kirk or Spock?
          %span Spock
        %p
          %b If you could have a super power what would it be?
          %span Being able to pick a new super power everyday…then sell it on eBay the next day
        %p
          %b Do you believe in unicorns?
          %span I love unicorns