.overlay
  = image_tag 'about/bg_Jule.jpg', alt: "Jule Rizzardo", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Jule Rizzardo
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Top Secret 007 Agent
        %p
          %b What are you paid to do at Modera?
          %span I am a Word Artist... I turn fashion and lifestyle topics into artful, fun, fresh blog posts.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yes, in the 1997 floods!
        %p
          %b What is your favorite style from Modera?
          %span Most definitely love the Urban style!
        %p
          %b Pumps or wedges?
          %span Wedges for sure.
        %p
          %b Favorite watch style?
          %span The classic pocket watch.
        %p
          %b Who is your favorite actor?
          %span Morgan Freeman
        %p
          %b Mac or PC?
          %span PC
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk
        %p
          %b If you could have a super power what would it be?
          %span If just one choice i had, Jedi Mind Power, it would be.
        %p
          %b Do you believe in unicorns?
          %span Yes.