.overlay
  = image_tag 'about/bg_Lina.jpg', alt: "Linara Adilova", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Linara Adilova
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Programming
        %p
          %b What are you paid to do at Modera?
          %span My contribution to the project.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span No, I work worse when I want to sleep.
        %p
          %b What is your favorite style from Modera?
          %span Depends on my mood.
        %p
          %b Pumps or wedges?
          %span Depends again.
        %p
          %b Favorite watch style?
          %span Don't have.
        %p
          %b Who is your favorite actor?
          %span Johnny Depp.
        %p
          %b Mac or PC?
          %span Have and respect PC, want MAC.
        %p
          %b Captain Kirk or Spock?
          %span Don't know.
        %p
          %b If you could have a super power what would it be?
          %span Stopping time.
        %p
          %b Do you believe in unicorns?
          %span No, not in this world.