.overlay
  = image_tag 'about/bg_Lynne.jpg', alt: "Lynne Pattalock-Barker", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Lynne Pattalock-Barker
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Fashion and Photography evangelist and intense foodie, oh and don't forget content editor.
        %p
          %b What are you paid to do at Modera?
          %span I have the most amazing job in the world. I get to play with the newest trends in fashion, be visually stimulated by photografy and blog all about it.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span I am pleading the fifth as it would violate a few laws to admit that I have.
        %p
          %b What is your favorite style from Modera?
          %span Yes!!! Oh wait, you mean I have to pick one? Sorry, I am an equal opportunist.
        %p
          %b Pumps or wedges?
          %span Wedges as they allow me to keep up with my dogs, son and husband without breaking my ankle.
        %p
          %b Favorite watch style?
          %span Love the bracelet watch in platinum or leather.
        %p
          %b Who is your favorite actor?
          %span Morgan Freeman, and I have confirmed that he is still alive.
        %p
          %b Mac or PC?
          %span I use both but create magic on :my iMac
        %p
          %b Captain Kirk or Spock?
          %span Spock of course, who do you think tells Kirk what to do and saves his butt.
        %p
          %b If you could have a super power what would it be?
          %span To control the elements like an Airbender.
        %p
          %b Do you believe in unicorns?
          %span Unicorns represent the purest form of imagination and creativity... of course I do.
