.overlay
  = image_tag 'about/bg_Mahmud.jpg', alt: "Maxmud Karaev", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Maxmud Karaev
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Promotion
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span No
        %p
          %b What is your favorite style from Modera?
          %span Glamour, urban, hipster  
        %p
          %b Pumps or wedges?
          %span Sneakers 
        %p
          %b Favorite watch style?
          %span Rolex, Breitling, Cartier  
        %p
          %b Who is your favorite actor?
          %span Dominic Cooper, George Clooney, Quentin Tarantino, Johnny Depp, Al Pacino, Robert De Niro
        %p
          %b Mac or PC?
          %span PC 
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk
        %p
          %b If you could have a super power what would it be?
          %span Flying
        %p
          %b Do you believe in unicorns?
          %span Yes
