.overlay
  = image_tag 'about/bg_Marat.jpg', alt: "Marat Ibragimov", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Marat Ibragimov
  .info.right
    .b-modal_close.arcticmodal-close.right.curpoint X
    %h4 Marat Ibragimov
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Co-founder and CFO
        %p
          %b What are you paid to do at Modera?
          %span To get some rest. The only way to have me get some rest is by paying me!
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Only being drunk.
        %p
          %b What is your favorite style from Modera?
          %span I only wear casual.
        %p
          %b Pumps or wedges?
          %span No comments.
        %p
          %b Favorite watch style?
          %span Maurice Lacroix.
        %p
          %b Who is your favorite actor?
          %span Johnny Depp.
        %p
          %b Mac or PC?
          %span Pfffff…. Mac, of course!
        %p
          %b Captain Kirk or Spock?
          %span Grand Master Yoda.
        %p
          %b If you could have a super power what would it be?
          %span Accelerated healing process.
        %p
          %b Do you believe in unicorns?
          %span I talk to them on the 36th hour of working… Then I realize I could get some sleep.