.overlay
  = image_tag 'about/bg_Michael.jpg', alt: "Michael Paulmarie", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Michael Paulmarie
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span I honestly couldn't tell you.  I'm not even sure what my title is half the time.
        %p
          %b What are you paid to do at Modera?
          %span I'm paid to do.  And do it well.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span It depends on what you consider work.
        %p
          %b What is your favorite style from Modera?
          %span Whichever style I am in for the day.  I get bored easily so it just depends on my mood.
        %p
          %b Favorite watch style?
          %span My cell phone.  It tells time well.  I'm not nearly successful enough to know anything about watches, or cigars for that matter.
        %p
          %b Who is your favorite actor?
          %span Jamie Foxx
        %p
          %b Mac or PC?
          %span I'm a PC guy but some things just need that Mac touch.
        %p
          %b If you could have a super power what would it be?
          %span I have one.  I call it being alive.
        %p
          %b Do you believe in unicorns?
          %span Modera is a Unicorn.