.overlay
  = image_tag 'about/bg_Nodir.jpg', alt: "Nodir Mirsaid", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Nodir Mirsaid
  .info.right
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Co-founder and COO
        %p
          %b What are you paid to do at Modera?
          %span I can’t take money from my child. 
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span In a day? There is only 24 hours, but I’m doing my best to work more than 24 hours.
        %p
          %b What is your favorite style from Modera?
          %span Casual is mine.
        %p
          %b Pumps or wedges?
          %span I like Pumps, think Gava pumps from Isabel Marant are good. But not so comfortable to wear for me.
        %p
          %b Favorite watch style?
          %span Breitling are my favorite. GT edition are awesome
        %p
          %b Who is your favorite actor?
          %span Russell Crowe.
        %p
          %b Mac or PC?
          %span What's the question? Mac of course.
        %p
          %b Captain Kirk or Spock?
          %span Spock \/
        %p
          %b If you could have a super power what would it be?
          %span I already have the force, I’m just raising it to became Sith Lord.
        %p
          %b Do you believe in unicorns?
          %span I was pitching my project to one of them at the plane