.overlay
  = image_tag 'about/bg_Rustam.jpg', alt: "Rustam R. Khamraev", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Rustam R. Khamraev
  .info.left
    .b-modal_close.arcticmodal-close.right.curpoint X
    %h4 Rustam R. Khamraev
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Everything
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Hah
        %p
          %b What is your favorite style from Modera?
          %span More Casual
        %p
          %b Pumps or wedges?
          %span I am not a woman, so sneakers
        %p
          %b Favorite watch style?
          %span None
        %p
          %b Who is your favorite actor?
          %span Jason Statham
        %p
          %b Mac or PC?
          %span What is MAC? PC baby!
        %p
          %b Captain Kirk or Spock?
          %span Have no idea who they are!
        %p
          %b If you could have a super power what would it be?
          %span You don't say!
        %p
          %b Do you believe in unicorns?
          %span I beleive in horses, dogs, cats etc.