.overlay
  = image_tag 'about/bg_Sanjar.jpg', alt: "Sanjar Babadjanov", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Sanjar Babadjanov
  .info.right
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Co-founder CEO
        %p
          %b What are you paid to do at Modera?
          %span Modera - it's my life, it's my crazy dream.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yes, and I would like more.
        %p
          %b What is your favorite style from Modera?
          %span Casual, sometimes Glam.
        %p
          %b Favorite watch style?
          %span Ulysse Nardin.
        %p
          %b Who is your favorite actor?
          %span I think it's Joe Pesci.
        %p
          %b Mac or PC?
          %span Mac.
        %p
          %b If you could have a super power what would it be?
          %span See the future
        %p
          %b Do you believe in unicorns?
          %span In another world, yes.