.overlay
  = image_tag 'about/bg_Shane.jpg', alt: "Shane Barker", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Shane Barker
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Co-founder and VP of Marketing
        %p
          %b What are you paid to do at Modera?
          %span People are getting paid?  What!?!
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Is there any other option?  We are a startup!
        %p
          %b What is your favorite style from Modera?
          %span I really enjoy the Urban style.
        %p
          %b Pumps or wedges?
          %span Both are very uncomfortable for me to wear.  But as a women, pumps.
        %p
          %b Favorite watch style?
          %span Limited Edition Navitimer Super Constellation Watch by Breitling.
        %p
          %b Who is your favorite actor?
          %span Robert Downey Jr.
        %p
          %b Mac or PC?
          %span What is a PC?  Mac baby!
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk.
        %p
          %b If you could have a super power what would it be?
          %span I would have to super power of being able to work and NOT need sleep.  Yes I just said that.
        %p
          %b Do you believe in unicorns?
          %span I have two in my backyard, as we speak.