.overlay
  .c{style: 'background:#fff'}
    = image_tag @static_contest_history.image_url, alt: @static_contest_history.title, style:"width:auto; height:90%; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/pages/content'
      %h2.c.ttu.fs24= @static_contest_history.title