.overlay
  = image_tag 'about/bg_Tim.jpg', alt: "Timothy Munden", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Timothy Munden
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Community Manager
        %p
          %b What are you paid to do at Modera?
          %span Manage multiple social media accounts, post blogs and engage followers.
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span No
        %p
          %b What is your favorite style from Modera?
          %span Glamour
        %p
          %b Pumps or wedges?
          %span Pumps
        %p
          %b Favorite watch style?
          %span Rolex
        %p
          %b Who is your favorite actor?
          %span Tom Cruise
        %p
          %b Mac or PC?
          %span Either or
        %p
          %b Captain Kirk or Spock?
          %span Neither
        %p
          %b If you could have a super power what would it be?
          %span Jedi / Sith Powers - Star Wars
        %p
          %b Do you believe in unicorns?
          %span No, just the Force
