.overlay
  = image_tag 'about/bg_Volodya.jpg', alt: "Vladimir Pinchuk", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Vladimir Pinchuk
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Everything
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span Yes, it's happened 
        %p
          %b What is your favorite style from Modera?
          %span Only casual
        %p
          %b Favorite watch style?
          %span Watch in my car
        %p
          %b Who is your favorite actor?
          %span Gérard Depardieu
        %p
          %b Mac or PC?
          %span No Mac, no PC...DELL XPS ONLY!!!
        %p
          %b Captain Kirk or Spock?
          %span I don't know who these guys are
        %p
          %b If you could have a super power what would it be?
          %span I'd like to fly 
        %p
          %b Do you believe in unicorns?
          %span Yes