.overlay
  = image_tag 'about/bg_Yarik.jpg', alt: "Yaroslav Borzenkov", style:"width:100%; height:auto; margin-top:102px;"
  .static-header-info.abs
    .width
      .back.left
        = link_to 'back', '/about'
      %h2.c.ttu Yaroslav Borzenkov
  .info.left
    .nano
      .content
        %p
          %b What is your Clearance?
          %span Promotion
        %p
          %b Have you ever worked longer than 36 hours in a row?
          %span No
        %p
          %b What is your favorite style from Modera?
          %span Hipster, Steampunk
        %p
          %b Pumps or wedges?
          %span Pumps  
        %p
          %b Favorite watch style?
          %span Tissot, Rolex
        %p
          %b Who is your favorite actor?
          %span Jason Statham, Hugh Michael Jackman
        %p
          %b Mac or PC?
          %span Mac
        %p
          %b Captain Kirk or Spock?
          %span Captain Kirk
        %p
          %b If you could have a super power what would it be?
          %span Super speed
        %p
          %b Do you believe in unicorns?
          %span No, I'm a realist