= form_for [:admin, @page], class: 'form-horizontal' do |f|
  = f.label :name, 'Name'
  = f.text_field :name
  = f.label :permalink, 'Permalink'
  = f.text_field :permalink
  = f.label :title, 'Title'
  = f.text_field :title
  = f.label :content, 'Content'
  = f.text_area :content, class: 'ckeditor'
  = f.label :keywords, 'Keywords'
  = f.text_field :keywords
  = f.label :description, 'Description'
  = f.text_field :description

  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @page], class: 'btn'