.page-header
  %h1 Pages

= link_to 'Add', new_admin_page_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Permalink
      %th Title
      %th &nbsp;
  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.name, admin_page_path(page)
        %td= link_to page.permalink, root_url + page.permalink
        %td= page.title
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to 'edit', edit_admin_page_path(page), class: 'btn btn-mini icon-pencil'
            %div.btn-group
              = button_to 'destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'