.page-header
  %h1 Page

%p
  %strong Name:
  %br
  = @page.name
%p
  %strong Permalink:
  %br
  = link_to @page.permalink, root_url + @page.permalink
%p
  %strong Title:
  %br
  = @page.title
%p
  %strong Content:
  %br
  = @page.content
%p
  %strong Keywords:
  %br
  = @page.keywords
%p
  %strong Description:
  %br
  = @page.description

.form-actions
  = link_to 'Back', admin_pages_path, class: 'btn'
  = link_to 'Edit', edit_admin_page_path(@page), class: 'btn'
  = link_to 'Destroy', admin_page_path(@page), method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
