.page-header
  %h1 Bots' settings for contests

- Settings.contests_bots.periods.each do |k, v|
  %strong= k
  - v.each do |name, value|
    %p= "#{name}: #{value}"

.form-actions
  = link_to 'Edit', edit_admin_contests_bot_settings_path, class: 'btn'
  = link_to 'Add period', new_admin_contests_bot_setting_path, class: 'btn'
  = link_to 'Destroy last period', admin_contests_bot_settings_path, method: :delete, class: 'btn'
  = link_to 'Back', admin_bot_settings_path, class: 'btn'