.page-header
  %h1 Add contests bots' behaviour settings time period

= form_tag admin_contests_bot_settings_path, class: 'form-horizontal' do  
  -#= error_messages_for 'contests_bot_setting'
  = label_tag "contests_bot_setting[min_time]", 'min_time'
  = text_field_tag "contests_bot_setting[min_time]", @contests_bot_setting.min_time
  = label_tag "contests_bot_setting[max_time]", 'max_time'
  = text_field_tag "contests_bot_setting[max_time]", @contests_bot_setting.max_time
  = label_tag "contests_bot_setting[min_bot_follows]", 'min_bot_follows'
  = text_field_tag "contests_bot_setting[min_bot_follows]", @contests_bot_setting.min_bot_follows
  = label_tag "contests_bot_setting[max_bot_follows]", 'max_bot_follows'
  = text_field_tag "contests_bot_setting[max_bot_follows]", @contests_bot_setting.max_bot_follows
  = label_tag "contests_bot_setting[min_bot_votes]", 'min_bot_votes'
  = text_field_tag "contests_bot_setting[min_bot_votes]", @contests_bot_setting.min_bot_votes
  = label_tag "contests_bot_setting[max_bot_votes]", 'max_bot_votes'
  = text_field_tag "contests_bot_setting[max_bot_votes]", @contests_bot_setting.max_bot_votes
  = label_tag "contests_bot_setting[min_follows]", 'min_follows'
  = text_field_tag "contests_bot_setting[min_follows]", @contests_bot_setting.min_follows
  = label_tag "contests_bot_setting[max_follows]", 'max_follows'
  = text_field_tag "contests_bot_setting[max_follows]", @contests_bot_setting.max_follows
  = label_tag "contests_bot_setting[min_votes]", 'min_votes'
  = text_field_tag "contests_bot_setting[min_votes]", @contests_bot_setting.min_votes
  = label_tag "contests_bot_setting[max_votes]", 'max_votes'
  = text_field_tag "contests_bot_setting[max_votes]", @contests_bot_setting.max_votes
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_contests_bot_settings_path, class: 'btn'