.page-header
  %h1 Edit VS top ranking settings

= form_tag admin_vs_top_settings_path, method: :put, class: 'form-horizontal' do
  -#= error_messages_for 'vs_top_setting'
  = label_tag "vs_top_setting[alpha]", 'alpha'
  = text_field_tag "vs_top_setting[alpha]", @vs_top_setting.alpha
  = label_tag "vs_top_setting[beta]", 'beta'
  = text_field_tag "vs_top_setting[beta]", @vs_top_setting.beta
  = label_tag "vs_top_setting[gamma]", 'gamma'
  = text_field_tag "vs_top_setting[gamma]", @vs_top_setting.gamma
  = label_tag "vs_top_setting[new_age]", 'new_age'
  = text_field_tag "vs_top_setting[new_age]", @vs_top_setting.new_age
  = label_tag "vs_top_setting[top_count]", 'top_count'
  = text_field_tag "vs_top_setting[top_count]", @vs_top_setting.top_count
  = label_tag "vs_top_setting[challenge_percent]", 'challenge_percent'
  = text_field_tag "vs_top_setting[challenge_percent]", @vs_top_setting.challenge_percent
  = label_tag "vs_top_setting[style_percent]", 'style_percent'
  = text_field_tag "vs_top_setting[style_percent]", @vs_top_setting.style_percent
  = label_tag "vs_top_setting[mentions_percent]", 'mentions_percent'
  = text_field_tag "vs_top_setting[mentions_percent]", @vs_top_setting.mentions_percent
  = label_tag "vs_top_setting[followings_percent]", 'followings_percent'
  = text_field_tag "vs_top_setting[followings_percent]", @vs_top_setting.followings_percent
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_vs_top_settings_path, class: 'btn'