.page-header
  %h1 Settings for VS top ranking

- Settings.vs_ranking.each do |name, value|
  %p= "#{name}: #{value}"

.form-actions
  = link_to 'Edit', edit_admin_vs_top_settings_path, class: 'btn'
  = link_to 'Back', admin_vs_top_settings_path, class: 'btn'