<div class="time right"><%= ago%></div>
<a href="/profiles/<%= user.username %>">
    <img alt="<%= user.username%>" class="userpic left" height="30" src="<%=url%><%= user.avatar %>" width="30">
    <b><%= user.name%></b>
</a>
<br>
<span><%= comment%></span>
