<a class="textOverhide prupose-user"  title="Katy Franklin">
    <img alt="<%= username%>" class="userpic" height="30" src="<%=url%><%= avatar%>" width="30">
    <span style="cursor: pointer"><%= name%></span>
</a>