@import "variables.css.scss";

.battle-list{
  height: 100%;
  .vs{
    top:50%; left:0;
    width:100%; margin-top: -18px;
    color: $grayDarker;
    .moderaIcons{font-size:32px;}
  }
  .battle{
    position: absolute; top:52%; left:50%;
    // overflow:hidden;
    width:1222px;
    margin:-295px 0 0 -611px;
  }
}

.profile-content{
  .battle-list{height:auto; margin-left: -137px;}
  .battle{
    position: relative; top:0; left:0;
    margin:0 -146px 45px;
    height: 530px;
    // background: $white;
    .vs{top:220px;margin:0;}
    .timeline{top:284px; left:0; width:100%;}
    .asLink.abs{top:194px; left:0; width:100%;}
  }
  .widget-ProfileCompares .photoframe:hover input, .widget-ProfileCompares .photoframe input.active{display: none;}
}

.trending-tags{
  width:600px;
  margin:0 auto;
  padding-top: 118px;
  a:after{
    content:', ';
  }
  h2{margin:0 0 0.85em 0;}
  .moderaIcons{padding-left:10px;font-size:21px;}
}

.participant{
  overflow: hidden;
  width:560px;  
  &.left .asLink.share{text-align: right;}
  .info-top{width:450px;height: 38px;
    &.right{margin-left:95px;}
  }
  .info-side{
    width:95px; height:450px;
    .like-count{color: $grayDarker;
      .moderaIcons{font-size:20px;letter-spacing: -7px;}      
      &:hover, &.active{color: $firstyleColor_2;}
    }
    .comment-count{
      margin-top:8px;
      color: $grayDarker;
      .moderaIcons{font-size:22px;letter-spacing: -7px;}      
      &:hover, &.active{color: $firstyleColor_2;}
    }
  }
  .photoframe{width:450px; height:450px;
    img{max-width: 450px; max-height: 450px;}
  }
  .info-bottom{
    width:450px;
    .asLink{
      margin-left:15px;
      line-height:45px;
    }
    .voteLink {font-size: 13px;
      .moderaIcons{font-size: 20px;}
    }
    .last-comment{
      overflow: hidden;
      height: 42px;
      margin-top: 10px;
      line-height: 13px;
      white-space: nowrap;
      a.left{line-height:30px; margin-right: 10px;}
      a.disblock{margin-top:6px;line-height: 18px;}
    }
  }
  .share-icons{
    float:none;
    display: block;
    padding:2px 0 0;
  }
  .share-panel{padding-top: 8px;
    &.right{right:0;}
  }
}

@media screen and (max-width:1600px) {
  /* <= 1440px */
  .battle-list .battle{top:58%;}
}

@media screen and (max-width:1440px) {
  /* <= 1440px */
  .battle-list .battle{top:58%;}
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  .battle-list .battle{top:56%; width:1001px;margin:-233px 0 0 -501px;}
  .battle-list .trending-tags{padding-top: 92px;}
  .battle-list .vs .moderaIcons{font-size: 32px;}
  .participant{width:465px;}
  .participant .info-side{width:80px;}
  .participant .h1{margin:0;}
  .participant .share-panel{margin:0;}
  .participant .share-icons{padding:0 0 2px;}
  .participant .info-top{width:370px;}
  .participant .info-side .comment-count{margin:0;}
  .participant .info-side{height:370px;}
  .participant .photoframe{width:370px; height: 370px;}
  .participant .photoframe img{max-width:370px; max-height:370px;}
  .participant .info-bottom{width:370px;}
  .participant .info-bottom .asLink{margin-left: 10px;}
  .participant .info-bottom .last-comment a.disblock{width:180px;}

  .profile-content .battle-list{margin-left: -30px;}
  .profile-content .battle{margin:0 0 -42px -34px;}
}