@import "variables.css.scss";

.choose-style-list{
  height: 100%;
  h2{padding-top: 145px;}
  .style{
    position: absolute; top:60%; left:50%;
    overflow:hidden;
    width:680px;
    margin:-295px 0 0 -340px;
    h2.h1{
      padding:0;
      margin:110px 0 0.5em;
    }
  }
  .style-hash{
    width:260px;
    margin:0 0 34px;
    font-size: 14px;
    line-height: 24px;
    color:$grayDarker;
  }
  .members{
    margin:0 0 20px;
    font-size: 14px;
    .moderaIcons{
      font-size: 24px;
      vertical-align: text-bottom;
    }
  }
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  .choose-style-list h1{padding-top:100px;}
  .choose-style-list .style{top:63%;}
}
