@import "variables.css.scss";

.comment-block{
  width:450px;
  margin:0 110px 0 0;
  &.left{margin:0 0 0 110px;}
  h3 span{font-weight: 300;}
  .close{margin-left:25px;font-size: 22px;line-height: 15px;}
  .list-comments{
    overflow:auto;
    height:338px;
    margin: 10px 0 28px;
    .comment-item{
      margin:22px 0 0;
      a{line-height: 16px;
        img{margin-right:8px;}
        &:hover{text-decoration: none;
          b{text-decoration: underline;}
        }
      }
      span{display: inline-block;width:360px;}
      .time{padding-right:5px; color: $grayDarker;}
    }
    &+div{
      color:$firstyleColor_2;
    }
  }
  .form-comment{
    margin:25px 0 0;
    h3 + .userpic{
      width:42px;
      @mixin respond-to($inch15_6n){width:30px;}}
    input[type='text']{
      width:292px;
      height:30px; line-height: 30px;
      margin:4px 3px;
    }
    .btn{margin:4px 0; height:30px; line-height: 30px;}
  }
}

.comment-mention{
  top:54px;left:50px;
  width: 314px; height:240px; 
  border:1px solid $grayLight;
  border-top: none;
  background: $white;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.28);
  z-index: 1;
}

.profile-list .comment-block{width:600px; height:600px;
  .list-comments{height: 485px;}
  .form-comment input[type='text']{width:435px;}
  .comment-mention{top:-222px;width:455px;}
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  .comment-block{width:370px;}
  .comment-block .list-comments{height:320px;}
  .comment-block .list-comments .comment-item span{width:310px;}
  .comment-block .form-comment h3 + .userpic{width:30px;}
  .comment-block .form-comment input[type='text']{width:211px;margin:2px 5px;}
  .comment-mention{top: -225px;left: 40px;width: 232px;}
}