/*
 *= require_self
*/


*{font-family: 'Open Sans';}

h1{
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 .25em 0;
}

p{
  line-height: 1.5em;
  margin:0 0 1em 0;
  text-align: justify;
}

.error-page{padding-top:85px;}
.logo{margin-bottom:30px;}
.c{text-align: center;}