@import "variables.css.scss";

.faceplate{
  padding:178px 21px 15px;
  .moderaIcons{
    display: block;
    width:396px;
    padding:0 0 9px;
    margin:0 auto 15px;
    font-size: 43px;
    border-bottom: 1px solid $grayLight;
    color:$grayDarker;
    sub{
      margin:0 0 0 -44px;
      font-size: 15px;
    }
  }
  span{
    margin:0 0 36px;
    font-size:24px;}
  .btn{margin: 0 0 30px;}

  .or{
    width:396px;
    margin:-17px auto 20px;
    border-bottom: 1px solid $grayLight;
    span{background:$white; padding:0 15px;top:17px;}
  }
}

.search-block .faceplate{padding-top:20px;
  .moderaIcons{width:250px;font-size: 24px}
}
// .profile-content .faceplate{background: $white;}

.profile-followers-list .faceplate{padding-top:50px;
  .moderaIcons{width:250px;}
}


@media screen and (max-width:1366px) {
  /* <= 1366px */
  .page-Profile .faceplate{padding-top:50px;}
  .faceplate .moderaIcons{width:300px;font-size: 35px}
  .search-block .faceplate .moderaIcons{width:210px;}
}