@import "variables.css.scss";

.list-joined-contest{color: $grayDarker;
  span{padding: 0 18px 0 0;}
}

.contest-list{
  margin:10px 0 20px;
  a.textOverhide{font-weight: 700;
    img{vertical-align: middle;}
  }
  .btn{
    margin-left: 10px;
  }
  .contect-place{
    width:77px;
    padding:0 0 0 35px;
    line-height: 23px;
    span{line-height: 46px;}
    .moderaIcons{color:$firstyleColor_1;}
  }

  .no-joined-contest{
    .h2{margin:28px 0 20px;}
    .right{
      width:139px;
      margin:28px 0 0 50px;
      .r{margin:0 0 20px;}
      .btn{width:118px;margin:5px 0 0;}
    }
    img.left{
      margin:0 25px;
      height:184px; width:271px;
    }
  }
}

.choose-photo-contest{
  padding:0 30px 20px;
  .view-photo img{width:172px;}
  .btn{margin:20px 0 0;}
}