 @import "variables.css.scss";

.invite{
  overflow:auto;
  background:url(invite-1.png) no-repeat 50% 0;
  h1{margin:0 0 40px;}
  .invite-tape{
    width:518px; margin:0 auto;  
    padding-right:15px;  
    .btn{min-width: 52px;}
  }
  .result-panel{
    margin-top:10px;
    padding:10px 0;
    border-top: 1px solid $gray;
  }
  .friend-list{
    a{width:430px;font-weight: 700;}
  }
}