@import "variables.css.scss";

.nav-lp{padding-top:8px;
  .btn{margin:0 30px;}
}


.page-slider-container{
  max-height: 100%; height: 100%;
  .slidorion, #slider{height: 100%}
  .page-slide-1{background: url(LP_3.jpg) repeat-x 50% 0; background-size: cover;
    img{position:absolute; top:79px; left:50%; margin-left: -281px; height: 150px;}    
    iframe{position:absolute; top:232px; left:50%; margin-left: -222px;}
    p{margin:34px auto 0; width:805px; color: $white;}
    .btn{
      margin-top: 40px;
      height: 50px;
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
    }
  }
  // .page-slide-1{background: url(lp/slide_1.jpg) repeat-x 50% 0; background-size: 100% auto;}
  .page-slide-2{background: url(lp/slide_2.jpg) repeat-x 50% 0; background-size: 100% auto;}
  .page-slide-3{background: url(lp/slide_4.jpg) repeat-x 50% 0; background-size: 100% auto;}
  .page-slide-4{background: url(lp/slide_5.jpg) repeat-x 50% 0; background-size: 100% auto;}
  .page-slide-5{background: url(lp/slide_6.jpg) repeat-x 50% 0; background-size: 100% auto;}
  .page-slide-6{background: url(lp/slide_7.jpg) repeat-x 50% 0; background-size: 100% auto;}
  // .page-slide-7{background: url(lp/slide_7.jpg) repeat-x 50% 0;}

  .item{height: 100%;
    .background{
      // position:fixed;
      left:0; top:0;
      width:100%; height:100%;}
    .infoPlate{
      position: absolute; bottom:0; left:0;
      height:50%; width:100%;
      background: transparentize($black, 0.3);
      .changePage{
        position: absolute; left:50%; top:0;
        width:36px; height:36px;
        margin: -18px 0 0 -18px;
        background:url(changePage.png);
      }
      .moderaStep{
        padding:35px 0 0;
        li{
          float:left;
          width: 25%;
          text-align: center;
        }
        p{height:60px; padding:10px 15px 0; border-right:1px solid $gray; color: $grayDarker;}
        em{font-style: italic; font-size: 14px;}
        .moderaIcons{font-size:40px; color: $firstyleColor_1;}
      }
    }
    .text-slider-container{
      padding:64px 26px 0;
      font-size: 32px;
      text-align: center;
      color: $grayDarker;
      .text-slider-item{
        width:520px; margin:0 auto;
      }
      span{
        position: absolute; top:90px;
        width:24px; height:47px;
        background: url(prev_next.png) no-repeat 0 0;
        cursor: pointer;
        &.prev{left:26px;}
        &.next{right:26px;background-position: 100% 0;}
      }
    }
    &.page-slide-6 .text-slider-container .text-slider-item{width:680px;}

    .white-block{
      padding:160px 0 30px;
      font-size: 40px;
      color: $white;
      text-transform: uppercase;
      small{letter-spacing:5px; font-size: 13px;}
    }

    .style-box{
      width:100%;
      &>div{
        position: relative;
        float:left;
        width:20%;
        &:after{
          content:'';
          display: block;
          position:absolute;left:0;top:0;
          width: 100%; height:100%;
          background: rgba(255,220,220,0.34);
        }
        &:hover:after{display: none;}
        &:hover img{filter: none;
        -webkit-filter: grayscale(0);}
        &:hover span{display:block;}
      }
      img{
        width:100%;
        max-height: 99%;
        height:auto;
        vertical-align: middle;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(1);
      }
      span{
        position: absolute; top:25%; left:50%;
        display: none;
        width:6em; 
        margin-left:-3em;
        background: transparentize($white, 0.25);
        border-radius: 50%;
        text-align: center;
        line-height: 6em;
        font-weight: 300;
        font-size: 36px;
        color: $grayDarker;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width:1440px) {
  .page-slider-container .item .infoPlate{height: 40%;}
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  .page-slider-container .item .text-slider-container{font-size: 30px;}
  .page-slider-container .item .infoPlate .moderaStep p{height:94px;}
  .page-slider-container .item .white-block{font-size: 24px;}
  .page-slider-container .item .white-block small{letter-spacing: 3px; font-size: 10px;}
  .page-slider-container .item .style-box span{font-size:26px;}

  .page-slider-container .page-slide-1 img{
    top: 65px;
    height: 115px;
    margin-left: -215px;}
  .page-slider-container .page-slide-1 iframe{
    top:180px;
    width:338px; height: 190px;
    margin-left: -169px;
  }
  .page-slider-container .page-slide-1 p{margin:15px auto;}
  .page-slider-container .item .infoPlate{height: 45%;}
  .page-slider-container .page-slide-1 .btn{height: 36px; line-height: 36px;}
}