@import "variables.css.scss";

.photoframe{
  position: relative;
  &.left{margin-left:15px;}
  img{display:block; margin:0 auto;}
  &.grayscale img{
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(1);}
  input{
    display: none;
    position: absolute;top:50%;left:50%;
    margin: -50px 0 0 -50px;
    z-index: 1;}
  &:hover input, input.active{display: block;}
  &.grayscale input{display: none;}
  &.grayscale:after{
    content: '';
    position: absolute; top:0;left:0;
    display: block;
    width: 100%; height: 100%;
    background: url(bg_luse.png) repeat;
  }
}


.view-photo{
  overflow:hidden;
  .item{
    float:left;
    margin:0 4px 8px;
    .info-top{margin:30px 0 6px;}
  }
}