@import "variables.css.scss";

.ph_create{
  h1{margin:0 0 18px;}
  .btn.right{right:40px;}
  .btn.left{left:40px;}
  .style-box{
    position:fixed; left:0; right:0; bottom:0;
    height: 68%;
    &>div{
      position: relative;
      float:left;
      width:20%;
      &:hover, &.active{z-index: 1;
        img{
          width:110%;
          margin: -7% -5% 0;
          filter: none;
          -webkit-filter: grayscale(0);}
        span{display:block;}
      }
    }
    img{
      width:100%;
      // max-height: 99%;
      height:auto;
      vertical-align: middle;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(1);
      @include transition(all, 0.5s, ease-in-out, 0s);
    }
    span{
      position: absolute; top:19%; left:50%;
      display: none;
      width:6em; height: 4.5em;
      margin-left:-3em;
      padding-top:1.5em;
      background: transparentize($white, 0.25);
      border-radius: 50%;
      text-align: center;
      line-height: 1;
      font-weight: 300;
      font-size: 36px;
      color: $grayDarker;
      cursor: pointer;
      z-index: 1;
    }
  }

  .view-photo {padding: 15px 0;
    img{width:299px;}
  }
}

.level-list{
  padding:10px 0 0;
  .item{
    float: left;
    width:334px;
    .clickable-box{cursor:pointer;}
    img{
      display: block;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(1);}
    span{
      position: absolute; top:45%; left:50%;
      display: none;
      width:78px; height: 78px;
      margin:-38px 0 0 -38px;
      background: transparentize($white, 0.25);
      border-radius: 50%;
      text-align: center;
      line-height: 86px;
      font-weight: 300;
      font-size: 30px;
      color: $grayDarker;
      cursor: pointer;
      z-index: 1;}
    &:hover, &.active{
      img{filter: none;-webkit-filter: grayscale(0);}
      span{display: block;}
    }
  }
  p{padding-left:50px;color: $grayDarker;}
  p+p{color: $black; margin:0;}

  .vote{
    width:28px;
    font-weight: 300;  
    font-size: 12px;
    line-height: 1;
    color: $linkColorHover;
    b{
      position: relative;
      height:28px; width:28px;
      border-radius: 50%;
      margin-bottom: 2px;
      background: $linkColorHover;
      line-height: 28px;
      color: $white;
      &:before{
        content: '+';
        position: absolute; left:-10px;
        background: transparent;
        font-size:22px;
        color: $linkColorHover;
        text-shadow:1px 1px 1px white, 1px -1px 1px white;
      }
    }
  }
}

.time-ph{color: $firstyleColor_1;}


@media screen and (max-width:1440px) {
  /* <= 1366px */
  .ph_create h1{margin:0 0 8px;}
  .ph_create h1+p{margin:0 0 4px;}
  .ph_create h1+p+p{line-height: 17px;}
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  // .ph_create h1{margin:0 0 8px;}
  // .ph_create h1+p{margin:0 0 4px;}
  // .ph_create h1+p+p{line-height: 17px;}
  .ph_create .style-box span{font-size:26px;}
}