@import "variables.css.scss";

.settings{
  h1 small{
    text-transform: none;
    font-size: 12px;
  }
  h3{margin:0 0 22px;}
  .info{
    display: inline-block;
    width:250px;
    padding-left:18px;
    vertical-align: sub;
    color:$grayDarker;
  }
  a.info{margin-top: 7px;}
  #account .info{vertical-align: middle;}

  .fieldForm{
    span.r{padding:5px 69px 0 0;}
  }
  label.facebook, label.twitter, label.instagram{
    width: 40px;
    margin:0 0 15px;
    border-radius: 4px;
    z-index: 1;
    .moderaIcons{
      font-size: 38px;
      color: $white;
    }
    &+input[type="text"]{
      margin-left: -5px;
      padding-left: 15px;
      &.noactive{ 
        box-shadow: none;
        font-weight: 300;
        font-size:14px;
        text-align: center;
        color: $white;
      }
    }
  }
  fieldset .btn{width:220px;}
  .btn{margin: 24px 0 22px;}

  .thin label.disblock{margin-bottom: 8px;}
  .thin span.disblock{margin-bottom: 30px;}

  .load-avatar{margin:30px 0 0 80px;}


  fieldset .share-icons{cursor: default !important;}
  fieldset .share-panel+.fs14{line-height: 40px;}
  .niceRadio.right{margin-top: 12px;}
}