@import "variables.css.scss";

.share-panel{
  .share-icons{
    float: left;
    padding: 0 3px;
    font-size: 30px;
    color: $black;
    cursor: pointer;
    .moderaIcons{
      display: inline-block;
      width:32px;height: 32px;
      background: $white;
      border:1px solid $gray;
      border-radius: 50%;
      line-height: 35px;
    }
    b{vertical-align: text-top;line-height: 30px;}

    &.flickr i{
      letter-spacing: -3px;
      small{float: left;margin-left: -1px;}
      small+small{float:none; margin:none;}
    }
    &:hover{text-decoration: none;}
    &[nohref="nohref"]{
      cursor: default;
      &:hover{color: $black;}
    }
  }
  .facebook:hover, .facebook.active{color: $linkFacebook;
    b{color: $black;}
  }
  .pinterest:hover, .pinterest.active{color: #ff0000;}
  .twitter:hover, .twitter.active{color: $linkTwitter;
    b{color: $black;}
  }
  .gplus:hover, .gplus.active{color: #d00000;}
  .tumblr:hover, .tumblr.active{color: #42508c;}
  .flickr:hover, .flickr.active{color: #ff005a;}  
  .flickr:hover small+small, .flickr.active small+small{color: #1b65d4;}
  .linked:hover, .linked.active{color: #005db4;}
  .instagram:hover, .instagram.active{color: #8a4c1a;}
  .mail:hover, .mail.active, .web:hover, .web.active{color: $firstyleColor_1;}
}

.w-nav-panel{
  .share-panel{
    padding: 10px 0 0 42px;
    b{padding: 2px 45px 0 0;}
    .share-icons{
      padding:2px 15px 0;
      font-size: 20px;
      .moderaIcons{width:21px;height:21px;line-height: 21px;}
      &.flickr i{
        font-size: 25px;
        letter-spacing: -1px;
        small{margin-left: -3px;}
        small+small{margin:none;}
      }
    }
  }
}

.popup .share-panel .share-icons, .static .share-panel .share-icons{float:none;}
.static .share-panel .share-icons span a, .static .share-panel .share-icons span{color: $black;line-height: 40px; vertical-align:top;}


@media screen and (max-width:1366px) {
  /* <= 1366px */
.share-panel .share-icons{line-height:20px;}
}