@import "variables.css.scss";

.static-page{
  height: 100%;
  header .w-nav-panel .w-nav.right{width: auto;}
  .width{height: 100%;}
}

.static-page-container{
  padding:102px 26px 30px;
  .brands{    
    a{
      // float:left;
      margin:7px 7px 0px 0;
    }
  }
}

// Start static pages
// ------------------

.static{
  h1{padding: 7px 0 0;}
  p, li{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
    color:$grayDarker;
  }
  ol{padding:0 0 20px 20px;
    li{padding:0 0 20px; list-style-type: decimal;
      p{margin:0 0 1em;}
    }
  }
  ul{padding:0 0 20px 20px;
    li{padding:0 0 20px; list-style-type: disc;
      p{margin:0 0 1em;}
    }
  }
  .grid{margin-right:-35px;
    &>iframe, &>a{
      display: inline-block;
      margin:0 10px 10px 0;
    }
  }
  .btn{margin: 24px 0 10px}
  form{margin:40px 0 0;
    h3{margin:0 0 20px;}
  }

  
  .info{
    position: absolute; top: 175px;
    overflow: hidden;
    width:442px; height:50%;
    padding:20px 38px;
    background:rgba(0, 0, 0, 0.77);
    border-radius:25px;
    z-index: 5;
    // .nano{height:85%; margin:3% 0;}
    // .nano > .pane > .slider{background: $gray;}
    h4{
      font-weight: 600;
      font-size: 30px;}
    p{overflow: hidden;
      padding: 7px 0;
      border-bottom: 1px solid #4c4c4f;
      font-size: 14px;
      line-height: 15px;
      color: #fff;
      span{display: block; padding-top: 3px; color: #fff;}
    }
    &.left{left:5%;}
    &.right{right:5%;}
  }
}

.team{
  & *{display: inline-block;}
  h3{display:block; padding:22px 0 10px; border-top:1px solid $grayLight;}
  li{
    float:left;
    position:relative;
    padding:0 !important;
    margin:0 15px 30px;
    list-style-type: none;
    cursor: pointer; 
    img{
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(1);
      @include transition(all, 0.5s, ease-in-out, 0s);}
    a:hover{text-decoration: none;
      img{
        filter: none;
        -webkit-filter: grayscale(0);}
    }
    span{
      display:block;
      line-height: 16px;
      color: $black;
      &.department{color:$grayDarker;font-size: 12px;}
    }
  }
}

.brands{
  a{
    float:left;
    margin:7px 14px 7px 0;}
}

/*************/
.join-link > a {
    color: white !important;
}

.signin-link:hover > a {
    color: black;
}