@import "variables.css.scss";

.tutorial-step-1{
  background:#f6f6f6 url('tutorial_step-1.jpg') no-repeat 50% 80px;
}

.tutorial-step-2{
  background:#f6f6f6 url('tutorial_step-2.jpg') no-repeat 50% 0;
}

.tutorial-step-3{
  background:#f6f6f6 url('tutorial_step-3.jpg') no-repeat 50% 119px;
}

.tutorial-step-4{
  background:#f6f6f6 url('tutorial_step-4.jpg') no-repeat 50% 0;
}

[class^='tutorial-step'] .btn{
  right:0; top:105px;
}