@import "variables.css.scss";

.upload-photo{background: url(upload-1.png) no-repeat 50% 0;
  .btn{margin-top: 350px;font-size: 18px;}
}

.crop-photo, .share-photo-page{background: url(upload-2.png) no-repeat 50% 0;
  img{height: 450px; }
  .btn{margin: 25px 20px;}
}

.crop-photo h2+div>div{margin: auto;}

.share-photo-page{
  form{
    width:450px;
    margin:auto;
    &:before{
      content: '';
      position: absolute; top:-7px;left:22px;
      border-left:9px solid transparent;
      border-right:9px solid transparent;
      border-bottom: 10px solid $grayLighter;
    }
  }
  input[type="text"]{width:426px;}
  .share-icons{
    float:none;
    i{text-align: left;}
  }
}

.choose-photo{
  h1{line-height: 42px;}
  .view-photo{padding-top:40px;}
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  // .upload-photo .btn{font-size:22px;line-height: 28px;}
}