/*============== START color ==============*/

// Firstyle color
// -------------------------
$firstyleColor_1: rgba(204,12,93,1);
$firstyleColor_2: rgba(232,73,140,1);
$firstyleColor_3: rgba(187,187,187,1);
$firstyleColor_4: rgba(92,92,92,1);
$firstyleColor_5: rgba(0,0,0,1);

// Grays
// -------------------------
$light:       rgba(187,187,187,1);
$dark:        rgba(92,92,92,1);

$black:              rgba(0,0,0,1);
$grayDarker:         rgba(92,92,92,1);
$grayDark:              #333;
$gray:               rgba(187,187,187,1);
$grayLight:          rgba(225,225,225,1);
$grayLighter:        rgba(245,245,245,1);
$white:              rgba(255,255,255,1);

// Accent colors
// -------------------------
$text:                  #000;
$success:               rgba(23,137,0,1);
$info:                  #000;
$warning:               #000;
$error:                 rgba(255,0,0,1);

// Links
// -------------------------
$linkColor:       $firstyleColor_2;
$linkColorHover:  $firstyleColor_1;
$linkFacebook:    rgba(27,101,212,1);
$linkTwitter:     rgba(0,202,253,1);
$linkPinterest:   rgba(203,32,39,1);
$linkInstagram:   rgba(81,127,164,1);
/*============== END color ==============*/

/*============== START bg  ===============*/
@mixin background-linear($topcolor, $endcolor, $svg){
  background: $topcolor;
  background: url($svg);
  background: -moz-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topcolor), color-stop(100%, $endcolor));
  background: -webkit-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: -o-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: -ms-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: linear-gradient(to bottom,  $topcolor 0%, $endcolor 100%);
}
@mixin background-linear-horizontal($topcolor, $endcolor, $svg){
  background: $topcolor;
  background: url($svg);
  background: -moz-linear-gradient(left,  $topcolor 0%, $endcolor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $topcolor), color-stop(100%, $endcolor));
  background: -webkit-linear-gradient(left,  $topcolor 0%, $endcolor 100%);
  background: -o-linear-gradient(left,  $topcolor 0%, $endcolor 100%);
  background: -ms-linear-gradient(left,  $topcolor 0%, $endcolor 100%);
  background: linear-gradient(to right,  $topcolor 0%, $endcolor 100%);
}
@mixin background-image-linear($src, $hp, $vp, $topcolor, $endcolor, $svg){
  background: $topcolor url($src) no-repeat $hp $vp;
  background: url($src) no-repeat $hp $vp, url($svg);
  background: url($src) no-repeat $hp $vp, -moz-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: url($src) no-repeat $hp $vp, -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topcolor), color-stop(100%, $endcolor));
  background: url($src) no-repeat $hp $vp, -webkit-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: url($src) no-repeat $hp $vp, -o-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: url($src) no-repeat $hp $vp, -ms-linear-gradient(top,  $topcolor 0%, $endcolor 100%);
  background: url($src) no-repeat $hp $vp, linear-gradient(to bottom,  $topcolor 0%, $endcolor 100%);
}
@mixin background-radial($centercolor, $endcolor, $svg){
  background: $centercolor;
  background: url($svg);
  background: -moz-radial-gradient(center, ellipse cover,  $centercolor 0%, $endcolor 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$centercolor), color-stop(100%,$endcolor));
  background: -webkit-radial-gradient(center, ellipse cover,  $centercolor 0%,$endcolor 100%);
  background: -o-radial-gradient(center, ellipse cover,  $centercolor 0%,$endcolor 100%);
  background: -ms-radial-gradient(center, ellipse cover,  $centercolor 0%,$endcolor 100%);
  background: radial-gradient(ellipse at center,  $centercolor 0%,$endcolor 100%);
}
/*============== END bg  ===============*/

/*============== START wendor ===============*/
@mixin transition($attr, $duration, $func, $delay){
  -o-transition:$attr $duration $func $delay;
  -moz-transition:$attr $duration $func $delay;
  -webkit-transition:$attr $duration $func $delay;
  transition: $attr $duration $func $delay;
}

@mixin box-sizing($value){
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin transform($value){
  -o-transform:$value;
  -moz-transform:$value;
  -webkit-transform:$value;
  transform:$value;
}
/*============== END wendor ===============*/

/*============ START size ================*/
$basicWidth:  1002px;
/*============= END size ===============*/

/*============= START fonts ==============*/

/*============= END fonts ==============*/


/*============= START media query ============*/
$inch17n_19d: 1440px;
$inch15_6n:  1366px;
$inch15_4n:  1280px;
$inch17d:    1024px;
/*============= END media query ============*/