@import "variables.css.scss";

.voters-block{
  width:450px;
  margin:0 110px 0 0;
  &.left{margin:0 0 0 110px;}
  .close{font-size: 22px;line-height: 15px;}
  .voters-list{
    height:420px;
    overflow: auto;
    .voter-item{
      display: inline-block;
      width:95%;
      margin:22px 0 0;
      a{
        img{margin-right:8px;}
        span{color:$black;}
        &:hover{text-decoration: none;
          span, b{text-decoration: underline;}
        }
      }
      .btn{height:30px; line-height: 30px;}
    }
  }
}

.profile-list .voters-block{width:600px; height:600px;
  .voters-list{height:570px;}
}

@media screen and (max-width:1366px) {
  /* <= 1366px */
  .voters-block{width:335px; height:337px;}
  .voters-block .voters-list{height: 355px;}
}