= form_for [:admin, @challenge_type], class: 'form-horizontal' do |f|
  = f.label :fashion_style_id
  = f.collection_select :fashion_style_id, FashionStyle.all, :id, :presentation
  = f.label :opponent_fashion_style_id
  = f.collection_select :opponent_fashion_style_id, FashionStyle.all, :id, :presentation
  = f.label :easy_score
  = f.text_field :easy_score
  = f.label :medium_score
  = f.text_field :medium_score
  = f.label :hard_score
  = f.text_field :hard_score
  .form-actions
    = f.button 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', [:admin, @challenge_type], class: 'btn'