.page-header
  %h1 Challenge types

= link_to 'Add', new_admin_challenge_type_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Challenge
      %th &nbsp;
  %tbody
    - @challenge_types.each do |chal_type|
      %tr
        %td= link_to "#{chal_type.fashion_style.presentation} vs #{chal_type.opponent_fashion_style.presentation}", [:admin, chal_type]
        %td
          %div.btn-toolbar
            %div.btn-group
              = link_to '', edit_admin_challenge_type_path(chal_type), class: 'btn btn-mini icon-pencil'
            %div.btn-group
              = link_to '', [:admin, chal_type], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger icon-remove'