.page-header
  %h1 Challenge type

%p
  %strong Fashion style:
  %br
  = @challenge_type.fashion_style.presentation
%p
  %strong Opponent fashion style:
  %br
  = @challenge_type.opponent_fashion_style.presentation
%p
  %strong Easy score:
  %br
  = @challenge_type.easy_score
%p
  %strong Medium score:
  %br
  = @challenge_type.medium_score
%p
  %strong Hard score:
  %br
  = @challenge_type.hard_score

.form-actions
  = link_to 'Back', admin_challenge_types_path, class: 'btn'
  = link_to 'Edit', edit_admin_challenge_type_path(@challenge_type), class: 'btn'
  = link_to 'Destroy', [:admin, @challenge_type], method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
