<!-- / only if limit on power hour -->
<div class="faceplate c">
    <i class="moderaIcons">B</i>

    <div class="btn challenges">Not available at the moment</div>
    <span class="thin disblock">New Power Hour will be available in</span>

    <div class="h1"><%=started%></div>
</div>
