<div class="width">
    <div class="container rel">
        <div class="btn right abs nextBtn">Next</div>
        <h1 class="c">Start new Power Hour</h1>

        <p class="fs14 c">
            <strong>What is Power Hour?</strong>
        </p>

        <p class="fs14 c">
            One hour, lots of shows, everybody will see you in that hour.
            <br>
            But beware, Crowd will down you or you will go high.
            <br>
            <strong>Pick the one style below to challenge</strong>
        </p>
    </div>
</div>
<div class="style-box">

</div>