    <div class="container rel">
        <div class="btn right abs nextBtn">Start</div>
        <div class="btn left abs prevBtn">Back</div>
        <h1 class="c">Choose Photo</h1>

        <div class="view-photo">

        </div>
    </div>
