<div class="error-block">
    <div class="c">
        <i class="moderaIcons">!</i>
    </div>
    <p><%=msg%></p>

    <div class="c">
        <div class="btn disinbl arcticmodal-close">Ok, I get it!</div>
    </div>
</div>
