.style-contest
  .contest-list{data: {bind: "visible: challenge().current_tab() == 'contests', foreach: challenge().contests"}}
    .battle
      .pic-block.overhide
        .vs.prize
        / ko ifnot: finished == true
        / ko ifnot: joined_time() == null
        .participant.right
          / ko with: best_photo
          .timeline.right{data: {bind: 'text: created_at'}}
          %a.userpic{data: {bind: "attr: {href: '/profiles/' + user.username}"}}
            = image_tag 'samples/username_pic.png', data: {bind: "attr: {src: user.avatar}"}, width: 42, height: 42
          %a.username{data: {bind: "attr: {href: '/profiles/' + user.username}, text: user.name"}}
          .photo
            .photoframe
              = image_tag 'samples/contest_photo.png', data: {bind: 'attr: {src: image}'}
          / /ko
        / /ko
        / ko if: joined_time() == null
        .right
          .join-to
            %span.curpoint{data: {bind: "click: join"}} Join contest
        / /ko
        .contest.left
          .contest-name{data: {bind: "text: name"}}
          .photo
            .photoframe
              /%span.abs{style: 'line-height: 1.5em;', data: {bind: 'text: name'}}
              = image_tag 'bg_prize.png', {data: {bind: 'attr: {src: image}'}}
              /.date-end.abs{style: 'line-height: 1.5em;', data: {bind: "text: 'Ends ' + expired_at"}}
        / /ko
        / ko if: finished == true
        .participant.right
          .photo
            .photoframe
              = image_tag 'samples/contest_photo.png', data: {bind: 'attr: {src: winner}'}
        .contest.left
          .photo
            .photoframe
              = image_tag 'bg_prize.png', {data: {bind: 'attr: {src: finish_poster}'}}
        / /ko
      .comment-block.overhide
        .item.right
          %h4 Description
          .text{data: {bind: 'text: description'}}           
          %span.btn-2.more.marg{data: {bind: "click: show_more, css: {hover: show_hide_status}"}} More
          .action-list.c{data: {bind: 'visible: show_hide_status'}}          
            .successmodal{style: 'display: none'}
              .message{data: {bind: "text: $root.home().modal_message"}}
            %ul
              %li
                %input.join{type: 'submit', value: 'Join the Contest', data: {bind: "visible: user_place() == null, click: join"}}
              %li
                %input.join{type: 'submit', value: 'Leave the contest', data: {bind: "visible: user_place() != null, click: leave"}}
              %li
                %input.report{type: 'submit', value: 'Report Innappropriate', data: {bind: 'click: inappropriate'}} 
        .item.left
          .top-wins.overhide
            %ul{data: {bind: 'foreach: users'}}
              %li
                %div 
                  %a{data: {bind: "attr: {href: '/contests/' + $parent.id + '/hall_of_fame'}"}}
                    %span{data: {bind: 'text: $index() + 1'}}
                    %sup th
                %a.userpic{data: {bind: "attr: {href: '/profiles/' + username}"}}
                  = image_tag 'samples/username_pic.png', data: {bind: 'attr: {src: avatar}'}, width: 42, height: 42
            %a.see-all{data: {bind: "attr: {href: '/contests/' + id + '/hall_of_fame'}"}} See All of Hall of Fame
          .likes
            %span
            %b{data: {bind: "text: votes_count > 0 ? votes_count : 'No voters'"}}
  .faceplate.c.disnone
    %span There's no Power Hour history now.
  / .c
  /   = image_tag 'wait.gif'
