.first-step{data: {bind: 'visible: current_step() == 1'}}
  = image_tag 'power_hour.png', alt: ''
  %h2 What is Power Hour?
  %p.text 
    One hour of adrenaline boosted voting fun!   Are you currently down in your ranking or just want to supercharge your lead?  Are you brave enough to go for mega votes in this hour?  Your picture is on the catwalk for the hour and everyone will see it to either gain or lose votes.  Do you dare?
  %h2= "Your style is #{current_user.fashion_style.name.upcase}"
  %p.text Choose the style below that you would like to challenge.

.style-battle.c{data: {bind: 'visible: current_step() == 1'}}
  %span.disinbl.disnone You should choose opponent style
  %ul{data: {bind: 'foreach: challenge_types'}}
    %li
      %a.supper-btn{data: {bind: 'click: $parent.choose_style, css: {hover: $parent.error, selected: selected}'}}
        %span{data: {bind: 'text: opponent_fashion_style'}}