.level-users-list{data: {bind: 'visible: current_step() == 2'}}
  %h2.ttn.left Mentions
  .overhide{data: {bind: 'foreach: mentions'}}
    .item
      %a.userpic{:href=>'#', data: {bind: "attr: {href: '/profiles/' + username}"}}
        = image_tag 'samples/username_pic.png', data: {bind: 'attr: {src: avatar}'}
      %a.username{:href=>'#', data: {bind: "attr: {href: '/profiles/' + username}, text: name"}}
      .close.disinbl{data: {bind: 'click: $parent.remove_mention'}}