.search.mention{data: {bind: 'visible: current_step() == 2'}}
  %form.right.rel{action: '#', id: 'search_form'}
    %input.white.rel{:type=>'text', :tabindex=>'1', :value=>'', :placeholder=>'Mention to challenge', data: {bind: 'event: {keyup: search_users}'}, id: 'search-input'}
    %input.rel{:type=>'submit',:tabindex=>'2', :value=>''}
    .close{data: {bind: 'click: close_mention'}}
    .dropdown.abs{data: {bind: 'visible: users().length > 0'}}
      %ul.user-list{data: {bind: 'foreach: users'}}
        %li
          %a{:href=>'#', :class=>'left', data: {bind: 'click: $parent.add_mention'}}
            = image_tag 'samples/username_pic.png', data: {bind: 'attr: {src: avatar}'}
          %p
            %a{:href=>'#', data: {bind: 'click: $parent.add_mention, text: name'}}
            %p{data: {bind: 'text: fashion_style'}}