.level-battle{data: {bind: 'visible: current_step() == 2, with: current_challenge_type()'}}
  %h1.c Description
  %p.c 
    It’s an adrenaline boost for your votes. Choose the level in which you want to play.
    %br
    %span{data: {bind: "text: 'Remember your votes could increase OR decrease by ' + easy_score + ', ' + medium_score + ' and ' + hard_score + ' depending on your wins and loses.'"}}
    %br
    %br
    Let the Modera runway games begin.
  %h2.c{data: {bind: "text: fashion_style.toUpperCase() + ' vs. ' + opponent_fashion_style.toUpperCase()"}}
  %ul.level-list-item
    %li.item{id: 'easy', data: {bind: "click: $parent.choose_score, css: {hover: $parent.error, selected: selected_score() == 'easy'}"}}
      .vote{data: {bind: "text: 'x'+easy_score"}}
      .anotation
        %span.ttu Easy
        %div
          %div{data: {bind: "text: 'For every win: +' + easy_score + ' votes'"}}
          %div{data: {bind: "text: 'For every lose: -' + easy_score + ' votes'"}}
    %li.item{id: 'medium', data: {bind: "click: $parent.choose_score, css: {hover: $parent.error, selected: selected_score() == 'medium'}"}}
      .vote{data: {bind: "text: 'x'+medium_score"}}
      .anotation
        %span.ttu Medium
        %div
          %div{data: {bind: "text: 'For every win: +' + medium_score + ' votes'"}}
          %div{data: {bind: "text: 'For every lose: -' + medium_score + ' votes'"}}
    %li.item{id: 'hard', data: {bind: "click: $parent.choose_score, css: {hover: $parent.error, selected: selected_score() == 'hard'}"}}
      .vote{data: {bind: "text: 'x'+hard_score"}}
      .anotation
        %span.ttu Hard
        %div
          %div{data: {bind: "text: 'For every win: +' + hard_score + ' votes'"}}
          %div{data: {bind: "text: 'For every lose: -' + hard_score + ' votes'"}}