.choose-photo{data: {bind: 'visible: current_step() == 3'}}
  %h1.c Choose Photo
  / ko with: current_challenge_type()
  %h2.c{data: {bind: "text: fashion_style.toUpperCase() + ' vs. ' + opponent_fashion_style.toUpperCase()"}}
  / /ko
  .photos-view
    .nano
      .content{data: {bind: 'event: {scroll: scroll_photos}'}}
        %ul{data: {bind: 'foreach: photos'}}
          %li
            .photo{data: {bind: 'click: $parent.choose_photo'}}
              .photoframe
                %span.checkbox{data: {bind: 'css: {checked: selected()}'}}
                = image_tag 'samples/contest_photo.png', data: {bind: 'attr: {src: image}'}

  .faceplate.c.disnone
    %span.ttu
      You know, you can't start power hour
      %br
      with no photos, don't you?
    %span.ttu Upload one now to start power hour