.power-hour
  .challenge-list{data: {bind: "visible: challenge().current_tab() == 'versuses' && challenge().histories().length > 0, foreach: challenge().histories"}}
    .battle.overhide
      .pic-block.overhide
        .vs
        .participant.right
          .timeline.right{data: {bind: "text: opponent_photo().created_at"}}
          %a.userpic{data: {bind: "attr: {href: '/profiles/' + opponent_photo().user.username}"}}
            = image_tag 'samples/username_pic.png', :width=>'42', :height=>'42', data: {bind: "attr: {src: opponent_photo().user.avatar}"}
          %a.username{data: {bind: "text: opponent_photo().user.name, attr: {href: '/profiles/' + opponent_photo().user.username}"}}
          .photo
            .photoframe
              %input{:type=>'image', :src=>'/assets/like_star.png', class: 'hover', data: {bind: 'visible: opponent_photo().vote_weight > 0'}}
              = image_tag 'samples/contest_photo.png', data: {bind: "attr: {src: opponent_photo().image}, css: {grayscale: opponent_photo().grayscaled}"}, class: 'opponent_photo'
        .participant.left
          .timeline.right{data: {bind: "text: photo().created_at"}}
          %a.userpic{data: {bind: "attr: {href: '/profiles/' + photo().user.username}"}}
            = image_tag 'samples/username_pic.png', :width=>'42', :height=>'42', data: {bind: "attr: {src: photo().user.avatar}"}
          %a.username{data: {bind: "text: photo().user.name, attr: {href: '/profiles/' + photo().user.username}"}}
          .photo
            .photoframe
              %input{:type=>'image', :src=>'/assets/like_star.png', class: 'hover', data: {bind: 'visible: photo().vote_weight > 0'}}
              = image_tag 'samples/contest_photo.png', data: {bind: "attr: {src: photo().image}, css: {grayscale: photo().grayscaled}"}
          %input.hover.btn-2.vote.marg{disabled: 'disabled', value: 'Vote', type: 'submit'}
          %span.btn-2.comment.marg{data: {bind: "click: photo().show_comments"}} Comments
          %span.btn-2.more{data: {bind: 'click: photo().showMore, css: {hover: photo().showHideStatus}'}} More
      .comment-block
        .votes.right.r
          %div{data: {bind: "text: photo().vote_weight + ' Votes', css: {minus: photo().vote_weight < 0, plus:  photo().vote_weight > 0}"}}
          .counter.curpoint{data: {bind: "text: challenge_votes_count, click: $root.challenge().load_voters"}}
          %p
            %a.username{data: {bind: "attr: {href: '/profiles/' + last_voter.username}, text: last_voter.name"}}
            %span{data: {bind: "text: photo().vote_weight < 0 ? 'voted against you. You have lost' : 'voted for you. You have earned'"}}
        .item.left
          %div{data: {bind: "visible: !photo().showHideStatus()"}}
            .likes{data: {bind: "visible: photo().last_voters().length > 0"}}
              %span.curpoint{data: {bind: "click: load_voters_photo"}}
              %div{data: {bind: "foreach: photo().last_voters"}}
                %a{data: {bind: "attr: {href: '/profiles/' + username}, text: name"}}
                / ko if: $index() == $parent.photo().last_voters().length - 1
                %b.curpoint{data: {bind: "visible: $parent.photo().show_count(), click: $parent.load_voters_photo, text: '... see all ' + $parent.photo().voters_count() + ' voters'"}}
                / /ko
            .likes{data: {bind: "visible: photo().last_voters().length == 0"}} 
              %span
              No voters
            .comments{data: {bind: "with: photo().comment, visible: photo().comment() != null"}}
              %a.username{data: {bind: "attr: {href: '/profiles/' + user.username}, text: user.name"}}
              %p{data: {bind: "html: comment"}}
            .comments{data: {bind: "visible: photo().comment() == null"}} No comments
            %a.all-comments{:href=>'#', data: {bind: "text: 'See all ' + $data.photo().comments_count() + ' comments', click: photo().show_comments, visible: photo().comment() != null"}}

          .action-list.c{data: {bind: "visible: photo().showHideStatus"}}
            .successmodal{style: 'display: none'}
              .message{data: {bind: "text: $root.home().modal_message"}}
            %ul.more
              %li
                %a.share-more{data: {bind: "attr: {href: '/photos/' + photo().id + '/share'}"}} share photo
              / %li{data: {bind: "visible: current_user().username != photo().user.username"}}
              /   %input.save{type: 'submit', value: 'save photo', data: {bind: "click: photo().save, enable: !photo().saved()"}}
              / %li{data: {bind: "visible: current_user().username != photo().user.username"}}
              /   %input.report{:type=>'submit', value: 'report inappropriate', data: {bind: "click: photo().inappropriate, enable: !photo().inappropriated()"}} 

              
              / %li
              /   %a.send-email{:href=>'#', onclick: "$('#email_photo').arcticmodal()"} email photo
              /   .disnone
              /     .b-modal{id: 'email_photo'}
              /       .popup
              /         .back.b-modal_close.arcticmodal-close
              /           %h2 Email photo
              /         %form{:action=>'#'}
              /           %textarea{:placeholder=>'Comma separated email addresses', :tabindex=>'1', :rows=>'5'}
              /           .c
              /             %span.btn-2.marg.b-modal_close.arcticmodal-close Cancel
              /             %input.btn-2.marg{:type=>'Submit', :value=>'Send'}

  .faceplate.c{data: {bind: "visible: challenge().current_tab() == 'versuses' && challenge().histories().length == 0 && challenge().show_face_plate()"}}
    %span There's no Power Hour history now.
  .c
    %span{data: {bind: 'visible: challenge().ajax_progress()'}}
      Loading... &nbsp;
      = image_tag 'wait.gif'
.disnone
  .b-modal{id: 'voters_list'}
    .popup      
      .b-modal_close.arcticmodal-close
      %h2 Voters
      .nano
        .content{data: {bind: "event: {scroll: challenge().scroll_voters_list}"}}
          %ul.user-list.clear{data: {bind: 'foreach: home().voters_list'}}
            %li
              %span.right.btn-2.marg{data: {bind: "text: is_following() ? 'Unfollow' : 'Follow', click: follow_unfollow"}} Follow
              %a.left{data: {bind: "attr: {href: '/profiles/' + username}"}}
                = image_tag 'samples/username_pic.png', :alt=>'username', width: 42, height: 42, data: {bind: "attr: {src: avatar}"}
              %p
                %a{data: {bind: "text: name, attr: {href: '/profiles/' + username}"}}
                %br
                %a{data: {bind: "attr: {href: '/search/results?tag=' + fashion_style}, text: '#' + fashion_style"}}