%div{id: 'home_page', style: 'height: 100%'}
  .header-lvl2
    .width.overhide
      - unless current_user.active_challenge
        - if current_user.can_create_challenge?
          = link_to 'Start new Power Hour', new_challenge_path, class: 'btn-2 right'
        - else
          %input.btn-2.right{disabled: "disabled", value: 'Start new Power Hour'}
      - else
        .opponents.right= "##{current_user.active_challenge.name}"
      %ul.tabs.left
        %li
          %span.stcon{id: 'contests', data: {bind: "css: {active: challenge().current_tab() == 'contests'}, click: challenge().switch_tab"}} Style contest
        %li
          %span.chall{id: 'versuses', data: {bind: "css: {active: challenge().current_tab() == 'versuses'}, click: challenge().switch_tab"}} Power hour
      - if current_user.active_challenge
        = hidden_field_tag 'active_challenge_expired', {minutes: (current_user.active_challenge.expired_at.to_i - DateTime.now.to_i) / 1.minutes, seconds: (current_user.active_challenge.expired_at.to_i - DateTime.now.to_i) % 1.minutes}.to_json
        .time.left
        :javascript
          $(function(){
            c = JSON.parse($('#active_challenge_expired').val());
            window.challenge_minutes = c.minutes;
            window.challenge_seconds = c.seconds;

            function ad0(x){
              return ((x < 10 && x > -1) ? '0' : '') + x;
            }

            timer = setInterval (function(){
              window.challenge_seconds -= 1;
              if (window.challenge_seconds < 0){
                window.challenge_minutes -= 1;
                window.challenge_seconds = 59;
              }
              if ((window.challenge_minutes == 0) && (window.challenge_seconds == 0)){
                clearInterval(timer);
                $('.time.left').html('')
                return;
              }
              $('.time.left').html([ad0(window.challenge_minutes), ad0(window.challenge_seconds)].join (':') + ' left');
            }, 1000);   
          });

  .nano
    .content{data: {bind: "event: {scroll: challenge().scroll}"}}
      .wrapper.width
        = render 'versuses'
        = render 'contests'
= render 'home/comments'
- if params[:contests].present?
  :javascript
    $(function(){
      $('#contests').click();
    });
- else
  :javascript
    $(function(){
      $('#versuses').click()
    });