.header-lvl2{data: {bind: 'with: challenge'}}
  .width
    .back{data: {bind: 'click: prev, clickBubble: false'}}
      %h2 Start new power hour
    = render 'search'
.nano{data: {bind: 'with: challenge'}}
  .content            
    .wrapper.width
      .new-challenge
        = render 'first_step'
        = render 'second_step'
        = render 'third_step'

        .steps.clear.c
          %span{data: {bind: 'css: {active: current_step() == 1}'}}
          %span{data: {bind: 'css: {active: current_step() == 2}'}}
          %span{data: {bind: 'css: {active: current_step() == 3}'}}
          .clear
          = form_tag '/challenges', id: 'create_challenge' do
            = hidden_field_tag 'photo_id'
            = hidden_field_tag 'challenge_type_id'
            = hidden_field_tag 'level'
            = hidden_field_tag 'mentions'
          .btn-2{data: {bind: "text: current_step() == 3 ? 'START POWER HOUR' : 'NEXT', click: next"}}

          %a.btn-2.disnone{href: '/photos/new'} UPLOAD PHOTO

        = render 'mentions'

:javascript
  $(function(){
    index_model.challenge().get_types();
  });