.page-header
  %h1 Set bots interest

= form_tag(set_interest_admin_bots_path, method: :put) do

  = label_tag :user_id, 'Users'
  = select_tag :user_id, options_from_collection_for_select(@users, 'id', 'username')
  = label_tag :votes_quantity, 'Votes quantity'
  = number_field_tag :votes_quantity
  = label_tag :follows_quantity, 'Follows quantity'
  = number_field_tag :follows_quantity
  = label_tag :minutes, 'In minutes'
  = number_field_tag :minutes

  .form-actions
    = submit_tag 'Set', class: 'btn'