.overlay
  .nano
    .content
      .social-invite

        .logo.c
          = image_tag "modera.png", :alt=>'Modera.co'
        
        %h2 Facebook invite
        .message Invite friends to Modera

        .social-action
          .item{onclick: "$('#invitation_form').submit()"}
            = image_tag "facebook.png", :alt=>'facebook'
            %div Find and invite your Friends

            = form_tag invitation_path, id: 'invitation_form' do 
              = submit_tag '', class: 'disnone'
          .c
            = link_to 'Skip', home_path, class: 'btn-2'



      
      