.overlay{data: {bind: 'with: invite_friends'}}
  .nano
    .content

      .social-invite

        .logo.c
          = image_tag "modera.png", :alt=>'Modera.co'
        
        = form_tag invite_friends_path, id: 'invite_friends_form' do
          = hidden_field_tag 'to', '', id: 'invite_friends_to', data: {bind: 'value: invited_friends'}
        %span.right.btn-2.marg{data: {bind: 'click: invite'}} Done
        %a.btn-2.right.marg{:href=>'/home'} Skip

        %h2 Facebook invite
        .message Invite friends to Modera

        .result-panel
          = form_tag invite_friends_path, id: 'invite_all_friends_form' do
            = hidden_field_tag 'to', '', id: 'invite_all_friends_to', data: {bind: 'value: all_friends'}
            = submit_tag 'Invite all', class: 'right btn-2 marg hover'
          %p
            %b{data: {bind: 'text: list().length'}}
            friends found
        .clear
          %ul.user-list{data: {bind: 'foreach: list'}}
            %li
              %span.right.btn-2.marg{data: {bind: "click: select, css: {hover: selected()}"}} Invite
              %a{nohref: 'nohref'}
                %img{data: {bind: 'attr: {src: avatar}'}}
              %p
                %a{nohref: 'nohref', data: {bind: 'text: fullname'}}
:javascript
  $(function(){
    window.welcome.invite_friends().load_list();
  });