              <a class='disinbl' href='#/hashtag_contests/<%= name %>' title='#<%= name %>'>
                <span class='right'><%= userCount() %> users</span>
                <b>#<%= name %></b>
              </a>