<div class='btn right follow <%= checkActive()%>'><%= followText() %></div> 
<a class='textOverhide' href='/profiles/<%= username %>' title='<%= name %>'>
    <img alt="<%= username %>" class="userpic" height="30" src="<%= avatar %>" width="30" />
    <span><%= username %></span>
</a>