<div class='' style="">
    <div class='close curpoint right'>&times;</div>
    <h3>Voters</h3>

    <div class='voters-list'>
		<div class="content"></div>
    </div>
</div>
<!-- / only if hasn't votes -->
<div class='faceplate c disnone'>
    <i class='moderaIcons'>C</i>
    <span class='thin'>No votes</span>
</div>