<div class='btn right follow <%= active %>'><%= followText %></div>
<a href='/profiles/<%= username %>'>
    <img alt="<%=  name %>" class="userpic left" height="30" src="<%= url %><%= avatar %>" width="30" />
    <b><%= name %></b>
    <br>
    <span>#<%= fashion_style %></span>
</a>