.page-header
  %h1 Edit home activity bots' settings (first period counting from 9am USA)

= form_tag admin_home_activity_settings_path, method: :put, class: 'form-horizontal' do
  -#= error_messages_for 's', object: @periods
  - @periods.each_with_index do |period, i|
    %p= "Period #{i+1}"
    = label_tag "periods[period#{i+1}][min_time]", 'min_time'
    = text_field_tag "periods[period#{i+1}][min_time]", period.min_time
    = label_tag "periods[period#{i+1}][max_time]", 'max_time'
    = text_field_tag "periods[period#{i+1}][max_time]", period.max_time
    = label_tag "periods[period#{i+1}][min_bot_follows]", 'min_bot_follows'
    = text_field_tag "periods[period#{i+1}][min_bot_follows]", period.min_bot_follows
    = label_tag "periods[period#{i+1}][max_bot_follows]", 'max_bot_follows'
    = text_field_tag "periods[period#{i+1}][max_bot_follows]", period.max_bot_follows
    = label_tag "periods[period#{i+1}][min_bot_votes]", 'min_bot_votes'
    = text_field_tag "periods[period#{i+1}][min_bot_votes]", period.min_bot_votes
    = label_tag "periods[period#{i+1}][max_bot_votes]", 'max_bot_votes'
    = text_field_tag "periods[period#{i+1}][max_bot_votes]", period.max_bot_votes
    = label_tag "periods[period#{i+1}][min_follows]", 'min_follows'
    = text_field_tag "periods[period#{i+1}][min_follows]", period.min_follows
    = label_tag "periods[period#{i+1}][max_follows]", 'max_follows'
    = text_field_tag "periods[period#{i+1}][max_follows]", period.max_follows
    = label_tag "periods[period#{i+1}][min_votes]", 'min_votes'
    = text_field_tag "periods[period#{i+1}][min_votes]", period.min_votes
    = label_tag "periods[period#{i+1}][max_votes]", 'max_votes'
    = text_field_tag "periods[period#{i+1}][max_votes]", period.max_votes
    = label_tag "periods[period#{i+1}][like_percent]", 'like_percent'
    = text_field_tag "periods[period#{i+1}][like_percent]", period.like_percent    
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_home_activity_settings_path, class: 'btn'