.page-header
  %h1 Home activity bots' settings (first period counting from 9am USA)

- Settings.home_activity_bots.periods.each do |k, v|
  %strong= k
  - v.each do |name, value|
    %p= "#{name}: #{value}"

.form-actions
  = link_to 'Edit', edit_admin_home_activity_settings_path, class: 'btn'
  = link_to 'Add period', new_admin_home_activity_setting_path, class: 'btn'
  = link_to 'Destroy last period', admin_home_activity_settings_path, method: :delete, class: 'btn'
  = link_to 'Back', admin_bot_settings_path, class: 'btn'