.page-header
  %h1 Add home activity bots' settings time period

= form_tag admin_home_activity_settings_path, class: 'form-horizontal' do  
  -#= error_messages_for 'home_activity_setting'
  = label_tag "home_activity_setting[min_time]", 'min_time'
  = text_field_tag "home_activity_setting[min_time]", @home_activity_setting.min_time
  = label_tag "home_activity_setting[max_time]", 'max_time'
  = text_field_tag "home_activity_setting[max_time]", @home_activity_setting.max_time
  = label_tag "home_activity_setting[min_bot_follows]", 'min_bot_follows'
  = text_field_tag "home_activity_setting[min_bot_follows]", @home_activity_setting.min_bot_follows
  = label_tag "home_activity_setting[max_bot_follows]", 'max_bot_follows'
  = text_field_tag "home_activity_setting[max_bot_follows]", @home_activity_setting.max_bot_follows
  = label_tag "home_activity_setting[min_bot_votes]", 'min_bot_votes'
  = text_field_tag "home_activity_setting[min_bot_votes]", @home_activity_setting.min_bot_votes
  = label_tag "home_activity_setting[max_bot_votes]", 'max_bot_votes'
  = text_field_tag "home_activity_setting[max_bot_votes]", @home_activity_setting.max_bot_votes
  = label_tag "home_activity_setting[min_follows]", 'min_follows'
  = text_field_tag "home_activity_setting[min_follows]", @home_activity_setting.min_follows
  = label_tag "home_activity_setting[max_follows]", 'max_follows'
  = text_field_tag "home_activity_setting[max_follows]", @home_activity_setting.max_follows
  = label_tag "home_activity_setting[min_votes]", 'min_votes'
  = text_field_tag "home_activity_setting[min_votes]", @home_activity_setting.min_votes
  = label_tag "home_activity_setting[max_votes]", 'max_votes'
  = text_field_tag "home_activity_setting[max_votes]", @home_activity_setting.max_votes
  = label_tag "home_activity_setting[like_percent]", 'like_percent'
  = text_field_tag "home_activity_setting[like_percent]", @home_activity_setting.like_percent
  .form-actions
    = submit_tag 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', admin_home_activity_settings_path, class: 'btn'