!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Modera"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "admin", media: "screen"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand(href="/admin/dashboard") Modera Admin
          %ul.nav.pull-right
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                = current_user.username
                %b.caret
              %ul.dropdown-menu
                %li= link_to t("session.log_out"), destroy_user_session_path

    .container-fluid
      .row-fluid.main_container
        .span3          
          %div.sidebar-nav
            = render 'main_menu'
        .span9
          = render 'messages'
          = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "admin"