!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      *{margin:0;padding:0;}
  %body
    %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :rules => "none", :width => "684"}
      %tr
        %td
          / Start header
          %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :rules => "none", :width => "684"}
            %tr
              %td{:valign => "top"}
                =image_tag 'letters/bg_left.jpg', alt: "",  width: "196", height: "329"
              %td{:valign => "top"}
                =link_to home_path, style: "border:none; text-decoration:none;", target: "_blank" do
                  =image_tag 'letters/bg_logo.jpg', alt: "", style: "display:block; border:none;", width: "288", height: "329"
              %td{:valign => "top"}
                =image_tag 'letters/bg_right.jpg', alt: "",  width: "200", height: "329"
          / End header
          =yield
          / START footer
          %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :rules => "none", :width => "684"}
            %tr
              %td{:colspan => "3", :valign => "top"}
                =image_tag 'letters/bg_footer.jpg', alt: "",  width: "1", height: "48", style: "width:684px; display:block;"

            %tr
              %td{:rowspan => "4", :valign => "top"}
                =image_tag 'letters/blank.gif', alt: "",  width: "1", height: "1", style: "width:74px; display:block;"
              %td{:align => "center", :height => "57", :valign => "bottom"}
                %span
                  %i
                    %font{color:"#3e444d;", face:"Georgia, Times New Roman, Times, serif", size:"4"} Remember that on Modera your vote makes a difference.
              %td{:rowspan => "4", :valign => "top"}
                =image_tag 'letters/blank.gif', alt: "",  width: "1", height: "1", style: "width:74px; display:block;"
            %tr
              %td{:align => "center", :height => "38", :valign => "bottom"}
                / AddThis Button BEGIN
                %a{:href => "http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbxnj-1.0&amp;url=http%3A%2F%2Fmodera.co&amp;pubid=ra-5123435c62aa3672", :style => "text-decoration:none; border:none; padding:0 15px;", :target => "_blank"}
                  =image_tag 'letters/facebook.gif', alt: "facebook",  width: "78", height: "19", border: "0"
                %a{:href => "http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbxnj-1.0&amp;url=http%3A%2F%2Fmodera.co&amp;pubid=ra-5123435c62aa3672", :style => "text-decoration:none; border:none; padding:0 15px;", :target => "_blank"}
                  =image_tag 'letters/twitter.gif', alt: "twitter",  width: "78", height: "19", border: "0"
                / AddThis Button END
            - unless @skip_unsubscribe
              %tr
                %td{:align => "center", :height => "55", :valign => "bottom"}
                  %span
                    %font{:color => "#3e444d", :face => "Tahoma, Geneva, sans-serif", :size => "2"}
                      You are receiving this email because you signed up for an account on Modera. 
                      %br
                      To change your notification settings please log in and change them under the options menu.

            %tr
              %td{:colspan => "3", :height => "20"}
          / END footer
