!!!
%html
  %head
    %title Makeup v.2.0
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700"
    / = javascript_include_tag "application"
    /= requirejs_include_tag 'app/config'
    = javascript_include_tag "css3-mediaqueries.js"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"      
      = stylesheet_link_tag    "ie", :media => "all"
  %body{:class=>@body_class || ''}
    = yield