!!!
%html
  %head
    %title Modera
    = favicon_link_tag 'Favicon2.png'
    / = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300, 300italic"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700"
    = stylesheet_link_tag    "static_pages", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "static_pages"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37150002-1']);
      _gaq.push(['_setDomainName', 'modera.co']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{:class => 'static-page'}
    %header
      .top-panel
        .width
          = link_to (image_tag 'logo.png', alt: 'Modera.co'),'/', class: 'logo left'
          - if user_signed_in?
            - username = current_user.username
            %nav.left.textTransUpper
              %ul
                %li
                  %a.leader-link{href: "#{home_path}/#hall_of_fame"}
                    %i.moderaIcons.disblock 5
                    LeaderBoards
                %li
                  %a.photo-link{href: "#{home_path}/#photos/new"}
                    %i.moderaIcons.disblock E
                    Upload Photo
                %li
                  %a.notify-link{href: "#{home_path}/#notifications"}
                    %i.moderaIcons.disblock F
                    Notifications
                  .notification-dd.rel.disnone.fs14
                    -#%a{href: '#notifications/followings'}
                    -#  %i.moderaIcons S
                    -#  %b 35
                    -#  %span.thin followers
                    -#%a{href: '#notifications/comments'}
                    -#  %i.moderaIcons H
                    -#  %b 3
                    -#  %span.thin @comments
                    -#%a{href: '#notifications/actions'}
                    -#  %i.moderaIcons C
                    -#  %b 25
                    -#  %span.thin new votes
                %li.textTransNone
                  %a.textOverhide.rel.profile-link{href: "/profiles/#{username}/", title: username}
                    = image_tag current_user.avatar, alt: username, class: 'userpic', width: '30', height: '30'
                    %span= username
                %li.rel.active
                  %span.curpoint
                    %i.moderaIcons.m W
          - else
            .nav-lp.right
              %b.textTransUpper.curpoint.signin-link.m
                = link_to 'Login', '/#signin'
              .btn.active.join-link
                = link_to 'Join to Modera', '/#signup'

      .w-nav-panel
        .width
          - if user_signed_in?
            .w-nav.profile-menu.right
              %a{href: "/profiles/#{username}#settings"}
                %i.moderaIcons @
                Settings
              %a{href: "#{home_path}#invitation"}
                %i.moderaIcons +
                Find Friends
              %a{href: '/logout'}
                %i.moderaIcons [
                Log Out
          .w-nav.left
            %a.about{href: '/about'}
              %i.moderaIcons C
              About
            %a.brands{href: '/pages/brands'}
              %i.moderaIcons Z
              Brands
            %a.help{href: '/pages/help'}
              %i.moderaIcons ?
              Help

    .nano
      .wrapper.content
        .width
          %aside.left
            %nav.thin.fs14.r
              = link_to 'About us', '/about'
              / %div
              /   = link_to 'Our Story','/pages/our_story'
              / = link_to 'Partnership', '/pages/partnership', class: 'menuparent'
              / %div
              /   = link_to 'Business proposal','/pages/business_proposal'
              /   = link_to 'Content','/pages/content'
              /   = link_to 'Videos','/pages/videos'
              = link_to 'Contact us', '/pages/contact_us'
              = link_to 'Blog', '/blog'
              = link_to 'Community Guidlines', '/pages/guidelines'
              = link_to 'Terms of Service', '/tos'
              = link_to 'Privacy Policy', '/privacy'
          -#.base-content.static
          -#  %h2 [title of page]
          = yield