!!!
%html
  %head
    %title Modera
    = favicon_link_tag 'Favicon2.png'
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700"
    / = stylesheet_link_tag    "temp"
    = csrf_meta_tags
    %meta{:content => "Modera Lifestyle Contest", :property => "og:title"}
    %meta{:content => "company", :property => "og:type"}
    %meta{:content => "Modera.co", :property => "og:site_name"}
    %meta{:content => "Post your unique lifestyle pictures in your favorite outfits and accessories on a virtual catwalk of style and fashion, participate in contests, and win prizes.", :property => "og:description"}
    %meta{:content => "modera.co", :property => "og:url"}
    %meta{:content => "http://modera.co/assets/FacebookShareImage.jpg", :property => "og:image"}
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"    
    /[if IE 9]
      = stylesheet_link_tag    "ie", :media => "all"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37150002-1']);
      _gaq.push(['_setDomainName', 'modera.co']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  - if current_user
    %body{data: {currentuser: current_user.base_info.to_json}, :class => 'lp'}
  - else
    %body{:class => 'lp'}
      %div
        %iframe{:frameborder => "0", :height => "1", :src => "http://genetix420.com/p.ashx?o=608&t=#{session[:transaction_id]}", :width => "1"}
  .overlay.spinner
    = image_tag "loading.gif", alt: '', class: 'loading'
  - if session[:omniauth]
    .socialProviderName{data: {provider: session[:omniauth][:provider]}}
  = yield
